Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

refactor(extract): hoist ExtractionProgress/emit_progress into extract/common/progress.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/carto/orchestrator.py
  portolan_cli/extract/common/progress.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/unit/extract/common/test_progress.py
Due: mypy, fast-tests, import-linter

fix(extract): import ExtractionProgress from its canonical module at call sites
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/carto/__init__.py
  portolan_cli/extract/wfs/__init__.py
  tests/integration/extract/arcgis/test_orchestrator_live.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(extract): propagate arcgis failure error text to progress callback
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

refactor(extract): hoist ExtractionProgress/emit_progress into extract/common/progress.py (#635)
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/carto/__init__.py
  portolan_cli/extract/carto/orchestrator.py
  portolan_cli/extract/common/progress.py
  portolan_cli/extract/wfs/__init__.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/arcgis/test_orchestrator_live.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/test_progress.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(extract): add common orchestrator base for arcgis/wfs/carto lifecycle (#622)
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/carto/orchestrator.py
  portolan_cli/extract/common/__init__.py
  portolan_cli/extract/common/orchestrator_base.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/unit/extract/common/test_orchestrator_base.py
Due: mypy, fast-tests, import-linter

refactor(extract): add common orchestrator base for arcgis/wfs/carto lifecycle (#622) (#636)
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/carto/orchestrator.py
  portolan_cli/extract/common/__init__.py
  portolan_cli/extract/common/orchestrator_base.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/unit/extract/common/test_orchestrator_base.py
Due: mypy, fast-tests, import-linter

refactor(add): extract preparation.py (prepare_item + conversion routing) (#623)
  portolan_cli/add.py
  portolan_cli/external.py
  portolan_cli/preparation.py
  tests/unit/test_add.py
  tests/unit/test_add_directory.py
  tests/unit/test_preparation.py
Due: mypy, fast-tests, import-linter

refactor(add): harden symlink skip in _scan_item_assets; drop stale comments
  portolan_cli/add.py
  portolan_cli/preparation.py
  tests/unit/test_preparation.py
Due: mypy, fast-tests, import-linter

refactor(add): extract preparation.py (prepare_item + conversion routing) (#623) (#637)
  portolan_cli/add.py
  portolan_cli/external.py
  portolan_cli/preparation.py
  tests/unit/test_add.py
  tests/unit/test_add_directory.py
  tests/unit/test_preparation.py
Due: mypy, fast-tests, import-linter

refactor(add): extract finalization.py + split add_files into explicit phases (#624)
  portolan_cli/add.py
  portolan_cli/external.py
  portolan_cli/finalization.py
  tests/benchmark/test_batch_versioning_benchmark.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_batch_versioning.py
Due: mypy, fast-tests, import-linter

fix(finalization): repoint backends import-linter ignore; exact ./ href strip
  portolan_cli/finalization.py
  pyproject.toml
Due: mypy, fast-tests, import-linter

refactor(add): extract finalization.py + split add_files into explicit phases (#624) (#639)
  portolan_cli/add.py
  portolan_cli/external.py
  portolan_cli/finalization.py
  pyproject.toml
  tests/benchmark/test_batch_versioning_benchmark.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_batch_versioning.py
Due: mypy, fast-tests, import-linter

feat(spec): mandate AGENTS.md (rel=agents), enforce + generate it
  CLAUDE.md
  context/shared/adr/0052-llms-txt-requirement.md
  portolan_cli/agents_md.py
  portolan_cli/catalog.py
  portolan_cli/check.py
  portolan_cli/finalization.py
  portolan_cli/metadata/fix.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  spec/README.md
  spec/ai-integration.md
  spec/core.md
  spec/examples/tabular-collection.json
  spec/formats/tabular.md
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  tests/fixtures/validation/stac/agents-md-missing-root-link/AGENTS.md
  tests/fixtures/validation/stac/agents-md-missing-root-link/catalog.json
  tests/fixtures/validation/stac/valid-tabular/AGENTS.md
  tests/fixtures/validation/stac/valid-tabular/collection.json
  tests/fixtures/validation/stac/valid/AGENTS.md
  tests/fixtures/validation/stac/valid/catalog.json
  tests/spec_compliance/test_rules_coverage.py
  tests/spec_compliance/test_shipped_schema_hermetic.py
  tests/unit/test_agents_md.py
  tests/unit/validation/test_agents_md_rules.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(add): exclude AGENTS.md from asset scanning; fix test fallout
  portolan_cli/preparation.py
  tests/integration/test_check_command.py
  tests/integration/test_cli_json.py
  tests/integration/test_metadata_scan_unification.py
  tests/unit/test_add_external.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_validation_runner.py
Due: mypy, fast-tests, import-linter

feat(spec): mandate AGENTS.md (rel=agents) — enforce + generate it (#640)
  CLAUDE.md
  context/shared/adr/0052-llms-txt-requirement.md
  portolan_cli/agents_md.py
  portolan_cli/catalog.py
  portolan_cli/check.py
  portolan_cli/finalization.py
  portolan_cli/metadata/fix.py
  portolan_cli/preparation.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  spec/README.md
  spec/ai-integration.md
  spec/core.md
  spec/examples/tabular-collection.json
  spec/formats/tabular.md
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  tests/fixtures/validation/stac/agents-md-missing-root-link/AGENTS.md
  tests/fixtures/validation/stac/agents-md-missing-root-link/catalog.json
  tests/fixtures/validation/stac/valid-tabular/AGENTS.md
  tests/fixtures/validation/stac/valid-tabular/collection.json
  tests/fixtures/validation/stac/valid/AGENTS.md
  tests/fixtures/validation/stac/valid/catalog.json
  tests/integration/test_check_command.py
  tests/integration/test_cli_json.py
  tests/integration/test_metadata_scan_unification.py
  tests/spec_compliance/test_rules_coverage.py
  tests/spec_compliance/test_shipped_schema_hermetic.py
  tests/unit/test_add_external.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_agents_md.py
  tests/unit/test_validation_runner.py
  tests/unit/validation/test_agents_md_rules.py
Due: validate-claude-md, mypy, fast-tests, import-linter

test: point moved-orchestrator mocks at their real binding sites (#625)
  tests/integration/test_clone_ergonomics_integration.py
  tests/integration/test_nested_catalog_clone.py
  tests/unit/test_clone_ergonomics.py
  tests/unit/test_extension_registry.py
  tests/unit/test_sync.py
Due: mypy, fast-tests, import-linter

RFC: Portolan as a pure STAC profile (v0.2.0)
  context/shared/adr/0057-portolan-pure-profile.md
  spec/rfc/pure-profile-v0.2.0/README.md
  spec/rfc/pure-profile-v0.2.0/capabilities.md
  spec/rfc/pure-profile-v0.2.0/conformance.md
  spec/rfc/pure-profile-v0.2.0/examples/AGENTS.md
  spec/rfc/pure-profile-v0.2.0/examples/README.md
  spec/rfc/pure-profile-v0.2.0/examples/buildings/AGENTS.md
  spec/rfc/pure-profile-v0.2.0/examples/buildings/README.md
  spec/rfc/pure-profile-v0.2.0/examples/buildings/collection.json
  spec/rfc/pure-profile-v0.2.0/examples/cadastre/AGENTS.md
  spec/rfc/pure-profile-v0.2.0/examples/cadastre/README.md
  spec/rfc/pure-profile-v0.2.0/examples/cadastre/collection.json
  spec/rfc/pure-profile-v0.2.0/examples/cadastre/semantics.osi.yaml
Due: validate-claude-md

spec(auth): add subjectTokenScheme chaining — mirror stac-extensions/authentication#44
  spec/examples/authentication-collection.json
  spec/extensions/authentication.md
Due: none

fix(convert): retry transient DuckDB interrupt; unflake nightly perf/slow jobs
  context/shared/known-issues/duckdb-query-interrupted-transient.md
  portolan_cli/convert.py
  tests/benchmark/test_scan_performance.py
  tests/benchmark/test_validation_benchmark.py
  tests/unit/test_convert.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(ci): green pip-audit + CLAUDE.md gate after rebase onto main
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: validate-claude-md

fix(convert): retry transient DuckDB interrupt; unflake nightly perf/slow jobs (#643)
  CLAUDE.md
  context/shared/known-issues/duckdb-query-interrupted-transient.md
  portolan_cli/convert.py
  pyproject.toml
  tests/benchmark/test_scan_performance.py
  tests/benchmark/test_validation_benchmark.py
  tests/unit/test_convert.py
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

spec(auth): private sub-catalogs/collections/items via auth:refs on links
  spec/extensions/authentication.md
Due: none

ci: remove CLI→spec sync workflow (portolan-spec becomes human-owned)
  .github/workflows/ci.yml
  .github/workflows/sync-spec.yml
Due: none

ci: remove CLI→spec sync workflow (portolan-spec becomes human-owned) (#646)
  .github/workflows/ci.yml
  .github/workflows/sync-spec.yml
Due: none

fix(add): correct versions.json placement + catalog index for tabular assets (#650)
  portolan_cli/add.py
  portolan_cli/backends/json_file.py
  tests/unit/test_tabular_support.py
  tests/unit/test_versions.py
Due: mypy, fast-tests, import-linter

sync: Update skills install instructions from upstream
  portolan_cli/skills/INSTALL.md
Due: none

fix(stac-geoparquet): threshold-gate bulk items.parquet generation (#653)
  docs/reference/configuration.md
  portolan_cli/cli.py
  tests/unit/test_cli_stac_geoparquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(stac-geoparquet): document below-threshold skip return in _process_collection_for_parquet
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): add thumbnail subcommand for vector and raster inputs
  portolan_cli/cli.py
  tests/unit/test_cli_thumbnail.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): generate + register COG thumbnail asset (#657)
  portolan_cli/preparation.py
  tests/integration/test_add_integration.py
Due: mypy, fast-tests, import-linter

fix(metadata): preserve thumbnail, bands, stac_extensions on refresh (#659)
  portolan_cli/metadata/update.py
  tests/unit/test_metadata_update.py
Due: mypy, fast-tests, import-linter

feat(stac): adopt raster extension v2.0.0 unified bands (ADR-0057)
  CLAUDE.md
  context/shared/adr/0057-raster-extension-v2.md
  portolan_cli/extract/arcgis/imageserver/metadata.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  tests/unit/extract/arcgis/imageserver/test_metadata.py
  tests/unit/test_stac_extensions.py
Due: validate-claude-md, mypy, fast-tests, import-linter

test: make live ArcGIS orchestrator test skip when endpoint unreachable
  tests/integration/extract/arcgis/test_orchestrator_live.py
Due: mypy, fast-tests, import-linter

fix(test): stabilize 1000-file versioning stress fixtures
  context/shared/known-issues/duckdb-query-interrupted-transient.md
  portolan_cli/convert.py
  portolan_cli/preparation.py
  tests/integration/test_versioning_stress.py
  tests/unit/test_preparation.py
Due: validate-claude-md, mypy, fast-tests, import-linter

chore(ci): surface non-blocking network-test failures in run summary + tracking issue
  .github/workflows/nightly.yml
Due: none

test: address CodeRabbit review on live ArcGIS skip gating
  tests/integration/extract/arcgis/test_orchestrator_live.py
Due: mypy, fast-tests, import-linter

chore(ci): surface non-blocking network-test failures in run summary + tracking issue (#662)
  .github/workflows/nightly.yml
Due: none

fix(test): stabilize 1000-file versioning stress fixtures (#663)
  context/shared/known-issues/duckdb-query-interrupted-transient.md
  portolan_cli/convert.py
  portolan_cli/preparation.py
  tests/integration/test_versioning_stress.py
  tests/unit/test_preparation.py
Due: validate-claude-md, mypy, fast-tests, import-linter
