Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

chore: gitignore .serena/ (machine-specific Serena MCP artifact)
  .gitignore
Due: none

fix(viz): re-register thumbnail as STAC asset on skip-path backfill (#519)
  portolan_cli/pmtiles.py
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

fix(viz): track generated thumbnails in versions.json (#519) (#523)
  .gitignore
  portolan_cli/pmtiles.py
  portolan_cli/thumbnail.py
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

fix(readme): suppress technical-slug keyword badge wall (#515)
  docs/reference/configuration.md
  portolan_cli/readme.py
  tests/unit/test_readme_catalog_aggregation.py
  tests/unit/test_readme_metadata_sections.py
Due: mypy, fast-tests, import-linter

fix(readme): suppress technical-slug keyword badge wall (#515) (#524)
  docs/reference/configuration.md
  portolan_cli/readme.py
  tests/unit/test_readme_catalog_aggregation.py
  tests/unit/test_readme_metadata_sections.py
Due: mypy, fast-tests, import-linter

feat(viz): punchy data-aware matplotlib thumbnail floor (#518)
  .claude/rules/conversion-and-visualization.md
  portolan_cli/thumbnail.py
  portolan_cli/thumbnail_style.py
  tests/unit/test_thumbnail.py
  tests/unit/test_thumbnail_style.py
Due: mypy, fast-tests, import-linter

fix(viz): floor off-axis render dims + correct framing claims (#518)
  .claude/rules/conversion-and-visualization.md
  portolan_cli/thumbnail.py
  tests/unit/test_thumbnail.py
Due: mypy, fast-tests, import-linter

feat(viz): punchy data-aware matplotlib thumbnail floor (#518) (#525)
  .claude/rules/conversion-and-visualization.md
  portolan_cli/thumbnail.py
  portolan_cli/thumbnail_style.py
  tests/unit/test_thumbnail.py
  tests/unit/test_thumbnail_style.py
Due: mypy, fast-tests, import-linter

fix(extract): anchor WFS per-layer timeout to execution start (#526)
  portolan_cli/extract/wfs/orchestrator.py
  tests/unit/extract/wfs/test_orchestrator.py
Due: mypy, fast-tests, import-linter

chore(deps): bump aiohttp and cryptography for security advisories
  uv.lock
Due: none

fix(extract): anchor WFS per-layer timeout to execution start (#526) (#527)
  portolan_cli/extract/wfs/orchestrator.py
  tests/unit/extract/wfs/test_orchestrator.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(stac): stop PMTiles 3857 from clobbering source CRS in proj:epsg (#488)
  portolan_cli/metadata/geoparquet.py
  portolan_cli/stac.py
  tests/unit/test_collection_proj_epsg_488.py
  tests/unit/test_metadata_geoparquet.py
Due: mypy, fast-tests, import-linter

fix(stac): stop PMTiles 3857 from clobbering source CRS in proj:epsg (#488) (#528)
  portolan_cli/metadata/geoparquet.py
  portolan_cli/stac.py
  tests/unit/test_collection_proj_epsg_488.py
  tests/unit/test_metadata_geoparquet.py
Due: mypy, fast-tests, import-linter

feat(check): re-optimize valid COGs via --force, parallelize conversion (#530)
  portolan_cli/check.py
  portolan_cli/cli.py
  portolan_cli/convert.py
  tests/integration/test_cog_reoptimize.py
  tests/unit/test_cli_check.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(check): re-optimize valid COGs via --force, parallelize conversion (#530) (#531)
  portolan_cli/check.py
  portolan_cli/cli.py
  portolan_cli/convert.py
  tests/integration/test_cog_reoptimize.py
  tests/unit/test_cli_check.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(wfs): adopt gpio 1.3+ defaults (100K page_size, auto_tile) (#529)
  portolan_cli/cli.py
  portolan_cli/extract/wfs/orchestrator.py
  pyproject.toml
  tests/unit/extract/wfs/test_orchestrator.py
  tests/unit/test_cli_extract_wfs.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(wfs): adopt gpio 1.3+ defaults (100K page_size, auto_tile) (#529) (#532)
  portolan_cli/cli.py
  portolan_cli/extract/wfs/orchestrator.py
  pyproject.toml
  tests/unit/extract/wfs/test_orchestrator.py
  tests/unit/test_cli_extract_wfs.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(check): enforce tabular collection rules (RULE-0090–0094) (#481)
  portolan_cli/cli.py
  portolan_cli/metadata/fix.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  tests/unit/test_validation_rules.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(check): harden tabular classification and align spec (#481)
  portolan_cli/metadata/fix.py
  portolan_cli/validation/rules.py
  spec/schema/rules.yaml
  tests/integration/test_check_command.py
  tests/unit/test_validation_rules.py
  tests/unit/test_validation_runner.py
Due: mypy, fast-tests, import-linter

fix(tests): filter Windows reserved device names from Hypothesis filenames
  tests/unit/test_add_rm_hypothesis.py
Due: mypy, fast-tests, import-linter

feat(check): enforce tabular collection rules (RULE-0090–0094) (#481) (#533)
  portolan_cli/cli.py
  portolan_cli/metadata/fix.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  spec/schema/rules.yaml
  tests/integration/test_check_command.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_validation_rules.py
  tests/unit/test_validation_runner.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(extract): add `portolan extract carto` for Carto SQL API sources (#492)
  portolan_cli/cli.py
  portolan_cli/extract/carto/__init__.py
  portolan_cli/extract/carto/discovery.py
  portolan_cli/extract/carto/metadata.py
  portolan_cli/extract/carto/orchestrator.py
  tests/integration/extract/carto/__init__.py
  tests/integration/extract/carto/test_carto_extract.py
  tests/unit/extract/carto/__init__.py
  tests/unit/extract/carto/test_discovery.py
  tests/unit/extract/carto/test_metadata.py
  tests/unit/extract/carto/test_orchestrator.py
  tests/unit/test_cli_extract_carto.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(extract): extract non-geo Carto tables as tabular collections (#492)
  portolan_cli/extract/carto/orchestrator.py
  tests/integration/extract/carto/test_carto_extract.py
  tests/unit/extract/carto/test_orchestrator.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(extract): silence bandit B608 on quoted Carto SQL identifiers
  portolan_cli/extract/carto/discovery.py
  portolan_cli/extract/carto/orchestrator.py
Due: mypy, fast-tests, import-linter

feat(extract): add `portolan extract carto` for Carto SQL API sources (#492) (#535)
  portolan_cli/cli.py
  portolan_cli/extract/carto/__init__.py
  portolan_cli/extract/carto/discovery.py
  portolan_cli/extract/carto/metadata.py
  portolan_cli/extract/carto/orchestrator.py
  tests/integration/extract/carto/__init__.py
  tests/integration/extract/carto/test_carto_extract.py
  tests/unit/extract/carto/__init__.py
  tests/unit/extract/carto/test_discovery.py
  tests/unit/extract/carto/test_metadata.py
  tests/unit/extract/carto/test_orchestrator.py
  tests/unit/test_cli_extract_carto.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(extract): fix stale 'non-spatial tables are skipped' carto help
  portolan_cli/cli.py
  tests/unit/test_cli_extract_carto.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(extract): fix stale 'non-spatial tables are skipped' carto help (#536)
  portolan_cli/cli.py
  tests/unit/test_cli_extract_carto.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(readme): use metadata.yaml title/description in READMEs (#534)
  docs/reference/configuration.md
  portolan_cli/readme.py
  tests/unit/test_readme.py
  tests/unit/test_readme_catalog_aggregation.py
Due: mypy, fast-tests, import-linter

fix(readme): harden title/description resolution + update stale test (#534)
  docs/reference/configuration.md
  portolan_cli/readme.py
  tests/integration/test_readme_recursive.py
  tests/unit/test_readme.py
Due: mypy, fast-tests, import-linter

fix(readme): use metadata.yaml title/description in READMEs (#534) (#537)
  docs/reference/configuration.md
  portolan_cli/readme.py
  tests/integration/test_readme_recursive.py
  tests/unit/test_readme.py
  tests/unit/test_readme_catalog_aggregation.py
Due: mypy, fast-tests, import-linter

Forward AWS session token to S3 store (fix temporary/STS credentials)
  portolan_cli/upload.py
  tests/unit/test_push.py
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

sync: Update skills install instructions from upstream
  portolan_cli/skills/INSTALL.md
Due: none

Forward AWS session token to S3 store (fix temporary/STS credentials) (#544)
  portolan_cli/upload.py
  tests/unit/test_push.py
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

fix(readme): prefix collection links with catalog dir name (#549)
  portolan_cli/readme.py
  tests/unit/test_readme_catalog_aggregation.py
Due: mypy, fast-tests, import-linter

spec: add access: extension (proposal, v1.0.0)
  spec/README.md
  spec/examples/access-collection.json
  spec/extensions/access.md
  spec/schema/access/v1.0.0/schema.json
Due: none

spec(access): add 'presigned' protocol; note auth:schemes = consumer IdP
  spec/extensions/access.md
  spec/schema/access/v1.0.0/schema.json
Due: none

spec(access): trim to the minimum — just access:credentials
  spec/examples/access-collection.json
  spec/extensions/access.md
  spec/schema/access/v1.0.0/schema.json
Due: none

fix(readme): prefix collection links with catalog dir name (#549) (#550)
  portolan_cli/readme.py
  tests/unit/test_readme_catalog_aggregation.py
Due: mypy, fast-tests, import-linter

fix(push): upload intermediate catalogs and refresh metadata on --force (#496, #547, #552)
  portolan_cli/catalog.py
  portolan_cli/push.py
  tests/integration/test_s3_moto.py
  tests/unit/test_nested_catalog_inference.py
  tests/unit/test_push.py
  tests/unit/test_push_intermediate_catalogs.py
Due: mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
