Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(scan): make PATH argument optional, default to current directory
  portolan_cli/cli.py
  tests/integration/test_scan_cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): list specific unrecognized files instead of just count
  portolan_cli/cli.py
  tests/integration/test_scan_unrecognized_files.py
  tests/unit/test_scan_unrecognized_files_property.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(scan): exempt ISO 3166-1 alpha-3 codes from uppercase warnings
  CLAUDE.md
  context/shared/adr/0030-iso-country-code-handling.md
  portolan_cli/constants.py
  portolan_cli/scan.py
  tests/integration/test_scan_iso_codes.py
  tests/unit/test_iso_country_codes.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(status): detect and skip symlink cycles
  portolan_cli/status.py
  tests/unit/test_status.py
Due: mypy, fast-tests, import-linter

fix(add): continue on errors and report all failures at end
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_csv_skip.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): address PR #184 review feedback
  portolan_cli/cli.py
  tests/integration/test_scan_cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): remove non-existent --bundle flag reference from suggestion
  portolan_cli/scan.py
  tests/integration/test_scan_cli.py
  tests/unit/test_scan.py
Due: mypy, fast-tests, import-linter

fix(status): correct three symlink cycle detection bugs from PR #188 review
  portolan_cli/status.py
  tests/unit/test_status.py
Due: mypy, fast-tests, import-linter

fix(scan): address PR #185 review feedback
  portolan_cli/cli.py
  tests/integration/test_scan_unrecognized_files.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): address PR #191 review feedback
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_csv_skip.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): remove non-existent --bundle flag reference from suggestion (#183)
  portolan_cli/scan.py
  tests/integration/test_scan_cli.py
  tests/unit/test_scan.py
Due: mypy, fast-tests, import-linter

fix(scan): add default path examples and fix Windows permission test
  SKILL.md
  portolan_cli/cli.py
  tests/integration/test_scan_cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): make PATH argument optional, default to current directory (#184)
  SKILL.md
  portolan_cli/cli.py
  tests/integration/test_scan_cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

chore(hooks): add pre-commit check to forbid worktree commits
  .pre-commit-config.yaml
Due: none

chore(hooks): add pre-commit check to forbid worktree commits (#192)
  .pre-commit-config.yaml
Due: none

fix(test): use cross-platform safe chars in property tests
  tests/unit/test_scan_unrecognized_files_property.py
Due: mypy, fast-tests, import-linter

fix(test): use cross-platform path separator in assertion
  tests/unit/test_add_continue_on_errors.py
Due: mypy, fast-tests, import-linter

fix(scan): list specific unrecognized files instead of just count (#185)
  portolan_cli/cli.py
  tests/integration/test_scan_unrecognized_files.py
  tests/unit/test_scan_unrecognized_files_property.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): continue on errors and report all failures at end (#191)
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_csv_skip.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(add): support tabular parquet as auxiliary assets
  portolan_cli/constants.py
  portolan_cli/dataset.py
  tests/unit/test_tabular_parquet_skip.py
Due: mypy, fast-tests, import-linter

fix(add): clean up orphaned artifacts and preserve primary asset
  portolan_cli/dataset.py
Due: mypy, fast-tests, import-linter

fix(add): address PR #190 review issues for tabular parquet support
  portolan_cli/dataset.py
  portolan_cli/errors.py
  tests/unit/test_tabular_parquet_skip.py
Due: mypy, fast-tests, import-linter

refactor(add): extract helper function to reduce complexity
  portolan_cli/dataset.py
  tests/unit/test_tabular_parquet_skip.py
Due: mypy, fast-tests, import-linter

feat(add): support tabular parquet as auxiliary assets (#190)
  portolan_cli/constants.py
  portolan_cli/dataset.py
  portolan_cli/errors.py
  tests/unit/test_tabular_parquet_skip.py
Due: mypy, fast-tests, import-linter

feat(add): accept multiple paths like git add
  SKILL.md
  portolan_cli/cli.py
  tests/unit/test_cli_add_rm.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(status): detect and skip symlink cycles (#188)
  portolan_cli/status.py
  tests/unit/test_status.py
Due: mypy, fast-tests, import-linter

fix(add): address PR #189 review - batch paths, fix collection counting and validation bugs
  portolan_cli/cli.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_cli_add_rm.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): handle single file at catalog root correctly
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(add): accept multiple paths like git add (#189)
  SKILL.md
  portolan_cli/cli.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_cli_add_rm.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(status): treat FileGDB directories as single assets
  portolan_cli/status.py
  tests/unit/test_status_filegdb.py
Due: mypy, fast-tests, import-linter

fix(status): address PR #187 review: filegdb tracking, is_current() crash, is_filegdb consolidation
  portolan_cli/dataset.py
  tests/unit/test_status_filegdb.py
Due: mypy, fast-tests, import-linter

fix(status): treat FileGDB directories as single assets (#187)
  portolan_cli/dataset.py
  portolan_cli/status.py
  tests/unit/test_status_filegdb.py
Due: mypy, fast-tests, import-linter

feat(scan): batch and summarize repeated warnings
  portolan_cli/cli.py
  tests/integration/test_scan_batching.py
  tests/integration/test_scan_cli.py
  tests/unit/test_scan_output_batching.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): improve batched warning output readability
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): group batched issues by message, ensure unique test paths
  portolan_cli/cli.py
  tests/unit/test_scan_output_batching.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(scan): batch and summarize repeated warnings (#194)
  portolan_cli/cli.py
  tests/integration/test_scan_batching.py
  tests/integration/test_scan_cli.py
  tests/unit/test_scan_output_batching.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): accept PMTiles as cloud-native primary asset (#198)
  portolan_cli/scan.py
  portolan_cli/scan_classify.py
  tests/unit/test_scan.py
  tests/unit/test_scan_classify.py
Due: mypy, fast-tests, import-linter

fix(formats): add PMTiles to VECTOR_EXTENSIONS for detect_format()
  portolan_cli/formats.py
  tests/unit/test_formats.py
  tests/unit/test_formats_property.py
Due: mypy, fast-tests, import-linter

fix(add): accept PMTiles as cloud-native primary asset (#201)
  portolan_cli/formats.py
  portolan_cli/scan.py
  portolan_cli/scan_classify.py
  tests/unit/test_formats.py
  tests/unit/test_formats_property.py
  tests/unit/test_scan.py
  tests/unit/test_scan_classify.py
Due: mypy, fast-tests, import-linter

fix(add): batch repetitive failures by error message in add output
  portolan_cli/cli.py
  tests/unit/test_add_failures_batching.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
