Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

ci: set pipefail explicitly on the nettests pipe (CodeRabbit)
  .github/workflows/nightly.yml
Due: none

test: make live ArcGIS orchestrator test skip when endpoint unreachable (#661)
  tests/integration/extract/arcgis/test_orchestrator_live.py
Due: mypy, fast-tests, import-linter

fix(ci): repair mutation-testing baseline and bound the run (#612)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .mutation-baseline
  context/shared/documentation/ci.md
  portolan_cli/convert.py
  pyproject.toml
  scripts/mutation_score.py
  tests/conftest.py
  tests/unit/test_config.py
  tests/unit/test_convert.py
  tests/unit/test_scripts.py
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

fix(ci): filter empty globs before nightly mutmut run
  .github/workflows/nightly.yml
Due: none

fix(ci): repair mutation-testing baseline and bound the run (#612) (#664)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .mutation-baseline
  context/shared/documentation/ci.md
  portolan_cli/convert.py
  pyproject.toml
  scripts/mutation_score.py
  tests/conftest.py
  tests/unit/test_config.py
  tests/unit/test_convert.py
  tests/unit/test_scripts.py
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

test: stop patching builtins.__import__ in pmtiles availability test (#612)
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

ci: raise nightly slow-tests timeout margin and record durations
  .github/workflows/nightly.yml
Due: none

test: stop patching builtins.__import__ in pmtiles availability test (#612) (#666)
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

ci: raise nightly slow-tests timeout margin and record durations (#667)
  .github/workflows/nightly.yml
Due: none

fix: handle null colors in ESRI renderer to prevent extraction crash
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/converters/base.py
  portolan_cli/extract/common/converters/esri.py
  portolan_cli/extract/common/styles.py
  tests/unit/extract/common/converters/test_base.py
  tests/unit/extract/common/converters/test_esri.py
Due: mypy, fast-tests, import-linter

test: preserve MUTANT_UNDER_TEST in cleared-env push tests (#612)
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

test: preserve MUTANT_UNDER_TEST in cleared-env push tests (#612) (#670)
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix(ci): filter mutmut by dotted mutant names, not file paths (#612)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  scripts/mutant_globs.py
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

test: skip mutmut contract tests on Windows (#612)
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

fix(ci): stop masking mutation-gate failures (#612)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

fix(ci): filter mutmut by dotted mutant names, not file paths (#612) (#671)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  scripts/mutant_globs.py
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

fix patch test coverage
  output-test/AGENTS.md
  output-test/bouwhistorievlakken_joinedmonument_metid/AGENTS.md
  output-test/bouwhistorievlakken_joinedmonument_metid/bouwhistorievlakken_joinedmonument_metid.parquet
  output-test/bouwhistorievlakken_joinedmonument_metid/collection.json
  output-test/bouwhistorievlakken_joinedmonument_metid/styles/default.json
  pyproject.toml
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/converters/test_esri.py
  tests/unit/extract/common/test_styles.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix patch test coverage
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/converters/test_esri.py
  tests/unit/extract/common/test_styles.py
Due: mypy, fast-tests, import-linter

fix(ci): gate the nightly sweep on per-shard mutation baselines (#612)
  .github/workflows/nightly.yml
  .mutation-baseline
  .mutation-shards.json
  context/shared/documentation/ci.md
  pyproject.toml
  scripts/mutation_score.py
  scripts/shard_select.py
  tests/unit/test_scripts.py
  tests/unit/test_upload_progress.py
Due: mypy, fast-tests, import-linter

fix(ci): key shard assignment on the path under the package (#612)
  scripts/shard_select.py
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

docs(ci): correct sync.upload_progress's measured kill rate to 18%
  .mutation-baseline
  context/shared/documentation/ci.md
  scripts/mutation_score.py
  tests/unit/test_upload_progress.py
Due: mypy, fast-tests, import-linter

fix(ci): fail the sweep when a shard draws no files (#612)
  .github/workflows/nightly.yml
  scripts/shard_select.py
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

fix(ci): gate the nightly sweep on per-shard mutation baselines (#612) (#672)
  .github/workflows/nightly.yml
  .mutation-baseline
  .mutation-shards.json
  context/shared/documentation/ci.md
  pyproject.toml
  scripts/mutation_score.py
  scripts/shard_select.py
  tests/unit/test_scripts.py
  tests/unit/test_upload_progress.py
Due: mypy, fast-tests, import-linter

refactor: rename the validation extraction seam from reis to rashid
  CLAUDE.md
  context/shared/adr/0055-extension-registry-single-source.md
  context/shared/adr/0056-hermetic-shipped-schema-validation.md
  portolan_cli/extension_registry.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/schema_registry.py
  portolan_cli/viz/pmtiles_links.py
  pyproject.toml
  spec/schema/spec-version.json
Due: validate-claude-md, mypy, fast-tests, import-linter

refactor: rename the validation extraction seam from reis to rashid (#675)
  CLAUDE.md
  context/shared/adr/0055-extension-registry-single-source.md
  context/shared/adr/0056-hermetic-shipped-schema-validation.md
  portolan_cli/extension_registry.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/schema_registry.py
  portolan_cli/viz/pmtiles_links.py
  pyproject.toml
  spec/schema/spec-version.json
Due: validate-claude-md, mypy, fast-tests, import-linter

refactor: move input hardening out of the validation package
  .claude/rules/cli-and-output.md
  .claude/rules/sync.md
  context/shared/adr/0030-agent-native-cli-design.md
  portolan_cli/external.py
  portolan_cli/input_hardening.py
  portolan_cli/validation/__init__.py
  pyproject.toml
  tests/unit/test_input_hardening.py
Due: validate-claude-md, mypy, fast-tests, import-linter

docs: point spec and validation references at portolan-spec and rashid
  .claude/rules/architecture.md
  .claude/rules/conversion-and-visualization.md
  .claude/rules/documentation.md
  .claude/rules/scan-check.md
  .claude/rules/stac-assets.md
  .claude/rules/sync.md
  context/shared/documentation/ci.md
  docs/contributing.md
  docs/reference/configuration.md
Due: none

test(docs): assert the fix half of the README's `check --fix` example
  tests/docs/test_readme_examples.py
Due: mypy, fast-tests, import-linter

docs: record the rashid delegation in ADR-0057 and add the upstream canary
  .claude/rules/conversion-and-visualization.md
  .claude/rules/scan-check.md
  .claude/rules/stac-assets.md
  .github/workflows/nightly.yml
  CLAUDE.md
  context/shared/adr/0011-mvp-validation-framework.md
  context/shared/adr/0048-cli-as-spec-source.md
  context/shared/adr/0056-hermetic-shipped-schema-validation.md
  context/shared/adr/0057-rashid-as-conformance-validator.md
  portolan_cli/agents_md.py
  portolan_cli/catalog.py
  portolan_cli/finalization.py
  portolan_cli/metadata/fix.py
  portolan_cli/scan/check.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/pmtiles_links.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(stac): emit the partition URI and mirror role rashid recognizes
  CLAUDE.md
  portolan_cli/constants.py
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(validation): add the fixer registry behind the remediation table
  portolan_cli/validation/__init__.py
  portolan_cli/validation/fixers.py
  portolan_cli/validation/remediation.py
  portolan_cli/validation/report.py
  tests/unit/validation/test_fixers.py
Due: mypy, fast-tests, import-linter

feat(cli): drive check --fix from the fixer registry, then re-check once
  portolan_cli/cli.py
  portolan_cli/scan/check.py
  tests/integration/test_rashid_roundtrip.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs: describe the --fix contract and its JSON section
  docs/reference/configuration.md
  portolan_cli/validation/fixers.py
  tests/unit/validation/test_fixers.py
Due: mypy, fast-tests, import-linter

fix(cli): stop printing every finding twice after --fix
  portolan_cli/cli.py
  tests/integration/test_rashid_roundtrip.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

perf(validation): stream asset bytes in the checksum fixer
  portolan_cli/validation/fixers.py
Due: mypy, fast-tests, import-linter

build: pin rashid to the released 0.1.1 from PyPI
  pyproject.toml
  uv.lock
Due: none
