Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

chore: apply prek autofixes for the prune feature
  AGENTS.md
  tests/integration/test_prune_integration.py
  tests/unit/test_cli_push_prune.py
Due: mypy, fast-tests, import-linter

fix(ci): pull the MinIO images from quay.io
  tests/iceberg/e2e/docker-compose.yml
  uv.lock
Due: none

docs: remove a hedging phrase from the complexity section
  context/shared/documentation/ci.md
Due: none

test(iceberg): hide the developer's ~/.pyiceberg.yaml from the suite
  tests/iceberg/conftest.py
  tests/iceberg/unit/test_config.py
Due: mypy, fast-tests, import-linter

build(deps): adopt rashid 0.1.8 and pyiceberg 0.12.0
  portolan_cli/catalog.py
  portolan_cli/validation/remediation.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/test_cli_check.py
  tests/unit/validation/test_fixers.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(crs): accept a WGS84 coordinate that rounds past its bound
  portolan_cli/bbox.py
  portolan_cli/crs.py
  tests/unit/test_bbox.py
  tests/unit/test_crs_validation.py
Due: mypy, fast-tests, import-linter

docs: add an Iceberg guide and rename the rationale note
  .claude/rules/architecture.md
  context/shared/documentation/iceberg-as-optional-extra.md
  context/shared/documentation/why-not-iceberg.md
  docs/guides/iceberg.md
  mkdocs.yml
Due: none

docs: rewrite the rationale note so Vale reports no new errors
  context/shared/documentation/iceberg-as-optional-extra.md
Due: none

fix(iceberg): match the STAC Iceberg extension and keep the data asset
  portolan_cli/backends/iceberg/backend.py
  portolan_cli/backends/iceberg/stac_generator.py
  portolan_cli/constants.py
  tests/iceberg/unit/test_on_post_add.py
  tests/iceberg/unit/test_stac_generator.py
Due: mypy, fast-tests, import-linter

feat(docs): generate the CLI reference from the Click tree
  docs/reference/cli.md
  mkdocs.yml
  portolan_cli/cli.py
  pyproject.toml
  scripts/generate_reference_docs.py
  tests/docs/test_reference_generation.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(docs): drive the width test with COLUMNS, not a patch
  tests/docs/test_reference_generation.py
Due: mypy, fast-tests, import-linter

fix(deps): upgrade anyio to clear two CVEs
  uv.lock
Due: none

feat(docs): build the site with Zensical
  .claude/rules/documentation.md
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  AGENTS.md
  context/shared/documentation/ci.md
  docs/BRANDING.md
  mkdocs.yml
  pyproject.toml
  tests/docs/test_site_build.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(docs): build the site with Zensical (#893)
  .claude/rules/documentation.md
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  AGENTS.md
  context/shared/documentation/ci.md
  docs/BRANDING.md
  mkdocs.yml
  pyproject.toml
  tests/docs/test_site_build.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(docs): read the brand kit instead of restating it
  .github/SOCIAL_PREVIEW.md
  AGENTS.md
  context/shared/documentation/branding.md
  docs/BRANDING.md
  docs/assets/images/cover.png
  docs/assets/images/icon-white.svg
  docs/assets/images/icon.svg
  docs/assets/images/logo.svg
  docs/assets/stylesheets/extra.css
  mkdocs.yml
  tests/docs/test_site_build.py
Due: mypy, fast-tests, import-linter

docs: clear the vale errors in the brand document
  context/shared/documentation/branding.md
Due: none

chore(docs): drop the MkDocs comparison leg
  .github/workflows/ci.yml
  AGENTS.md
  context/shared/documentation/ci.md
  pyproject.toml
  uv.lock
Due: none

fix(extract): forward --timeout to arcgis feature-page requests
  docs/reference/cli.md
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(extract): shorten the arcgis --timeout help and refresh the jscpd baseline
  .jscpd-baseline.json
  docs/reference/cli.md
  portolan_cli/cli.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

sync: Update skills install instructions from upstream
  portolan_cli/skills/INSTALL.md
Due: none

docs: record the withdrawn MinIO images as a known issue
  AGENTS.md
  context/shared/known-issues/minio-images-withdrawn.md
Due: validate-claude-md

ci: replace MinIO with RustFS in the e2e stack
  .github/workflows/ci.yml
  context/shared/documentation/ci.md
  tests/docs/portolan-docs-bucket-policy.json
  tests/docs/test_v1_examples.py
  tests/iceberg/e2e/docker-compose.yml
Due: mypy, fast-tests, import-linter

docs: record RustFS as the resolution in the MinIO known issue
  AGENTS.md
  context/shared/known-issues/minio-images-withdrawn.md
Due: validate-claude-md

build(deps): bump urllib3, multidict, fsspec, and geopy for audit advisories
  uv.lock
Due: none

ci: pin the e2e images by digest and stop bucket setup hiding failures
  .github/dependabot.yml
  .github/workflows/ci.yml
  tests/iceberg/e2e/docker-compose.yml
  tests/unit/test_e2e_compose.py
Due: mypy, fast-tests, import-linter

ci: rename the e2e S3 service from minio to rustfs
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  AGENTS.md
  context/shared/documentation/ci.md
  pyproject.toml
  tests/docs/test_v1_examples.py
  tests/iceberg/e2e/conftest.py
  tests/iceberg/e2e/docker-compose.yml
  tests/iceberg/e2e/test_rest_catalog_workflow.py
  tests/iceberg/e2e/test_s3_storage.py
  tests/unit/test_e2e_compose.py
Due: mypy, fast-tests, import-linter

fix(cli): stop push and sync when a profile fails to supply credentials
  portolan_cli/cli.py
  tests/integration/test_push_integration.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(sync): let the AWS endpoint variables beat the profile endpoint_url
  portolan_cli/sync/upload.py
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

test(cli): name the broken-profile fixture through usefixtures
  tests/integration/test_push_integration.py
Due: mypy, fast-tests, import-linter

test(iceberg): clear exported catalog variables and drop the old patches
  tests/iceberg/conftest.py
  tests/iceberg/integration/conftest.py
  tests/iceberg/integration/test_cli_version_commands.py
  tests/iceberg/integration/test_error_handling.py
  tests/iceberg/unit/test_backend.py
  tests/iceberg/unit/test_config_isolation.py
Due: mypy, fast-tests, import-linter

ci(iceberg): run the Iceberg jobs when the lock moves
  .claude/rules/stac-assets.md
  .github/workflows/ci.yml
Due: none

build(deps): relock after the pyproject bumps
  uv.lock
Due: none

build(deps): adopt rashid 0.1.8 and pyiceberg 0.12.0 (#885)
  .claude/rules/stac-assets.md
  .github/workflows/ci.yml
  portolan_cli/catalog.py
  portolan_cli/validation/remediation.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/test_cli_check.py
  tests/unit/validation/test_fixers.py
  uv.lock
Due: mypy, fast-tests, import-linter

docs(iceberg): correct the guide against the tool it documents
  docs/guides/iceberg.md
Due: none

fix(crs): keep the snapped bbox, not the raw one
  portolan_cli/bbox.py
  portolan_cli/crs.py
  portolan_cli/validation/fixers.py
  tests/unit/test_bbox.py
Due: mypy, fast-tests, import-linter
