Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix(push): address adversarial review findings
  portolan_cli/push.py
  tests/unit/test_push_catalog_wide.py
Due: mypy, fast-tests, import-linter

feat(push): add catalog-wide push without --collection flag (#228)
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/push.py
  tests/unit/test_push_catalog_wide.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(docs): add docsync for code-documentation tracking
  .docsync/donttouch
  .docsync/import_graph.json
  .docsync/import_graph.state
  .docsync/links.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

docs(claude): document dry_run and verbose output parameters
  CLAUDE.md
Due: validate-claude-md

docs(adr): add ADRs for catalog structure patterns
  CLAUDE.md
  context/shared/adr/0031-collection-level-assets-for-vector-data.md
  context/shared/adr/0032-nested-catalogs-with-flat-collections.md
Due: validate-claude-md

docs(adr): update ADRs with Chris Holmes' guidance
  context/shared/adr/0031-collection-level-assets-for-vector-data.md
  context/shared/adr/0032-nested-catalogs-with-flat-collections.md
Due: validate-claude-md

docs(adr): remove implementation notes from ADR-0032
  context/shared/adr/0031-collection-level-assets-for-vector-data.md
  context/shared/adr/0032-nested-catalogs-with-flat-collections.md
Due: validate-claude-md

docs(adr): clarify Alternative 4 was rejected in favor of auto-detection
  context/shared/adr/0031-collection-level-assets-for-vector-data.md
Due: validate-claude-md

ADR: Catalog Structure Patterns (Collection-Level Assets + Nested Catalogs) (#236)
  CLAUDE.md
  context/shared/adr/0031-collection-level-assets-for-vector-data.md
  context/shared/adr/0032-nested-catalogs-with-flat-collections.md
Due: validate-claude-md

ADR: Catalog Structure Patterns (Collection-Level Assets + Nested Catalogs) (#236)
  CLAUDE.md
  portolan_cli/constants.py
  tests/unit/test_constants.py
Due: validate-claude-md, mypy, fast-tests, import-linter

docs: mark ADR-0012 as superseded by ADR-0032
  context/shared/adr/0012-flat-catalog-hierarchy.md
Due: validate-claude-md

feat: support path syntax in collection IDs for nested catalogs
  portolan_cli/collection_id.py
  tests/unit/test_collection_id.py
  tests/unit/test_collection_id_paths.py
Due: mypy, fast-tests, import-linter

test: add edge case tests for nested catalog detection
  tests/unit/test_scan_edge_cases.py
Due: mypy, fast-tests, import-linter

fix: apply code review feedback for nested catalogs
  portolan_cli/validation/input_hardening.py
  tests/unit/test_collection_id_paths.py
  tests/unit/test_constants.py
  tests/unit/test_input_hardening.py
  tests/unit/test_scan_edge_cases.py
Due: mypy, fast-tests, import-linter

fix(validation): correct regex pattern and add comprehensive segment validation tests
  portolan_cli/validation/input_hardening.py
  tests/unit/test_collection_id_paths.py
  tests/unit/test_input_hardening.py
Due: mypy, fast-tests, import-linter

test: add coverage for error handling edge cases in input validation
  tests/unit/test_input_hardening.py
Due: mypy, fast-tests, import-linter

feat(nested-catalogs): implement ADR-0032 nested catalog structure
  portolan_cli/catalog.py
  portolan_cli/dataset.py
  portolan_cli/scan_fix.py
  tests/unit/test_csv_skip.py
  tests/unit/test_dataset.py
  tests/unit/test_nested_catalog_inference.py
Due: mypy, fast-tests, import-linter

fix(validation): allow numeric path segments in collection IDs
  portolan_cli/validation/input_hardening.py
  tests/unit/test_input_hardening.py
Due: mypy, fast-tests, import-linter

fix(validation): allow numeric path segments in collection IDs
  portolan_cli/collection_id.py
  tests/integration/test_add_catalog_root_integration.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_collection_id.py
  tests/unit/test_collection_id_paths.py
  tests/unit/test_scan.py
Due: mypy, fast-tests, import-linter

feat: nested catalog support (#237) (#240)
  CLAUDE.md
  context/shared/adr/0012-flat-catalog-hierarchy.md
  portolan_cli/catalog.py
  portolan_cli/collection_id.py
  portolan_cli/constants.py
  portolan_cli/dataset.py
  portolan_cli/scan_fix.py
  portolan_cli/validation/input_hardening.py
  tests/integration/test_add_catalog_root_integration.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_collection_id.py
  tests/unit/test_collection_id_paths.py
  tests/unit/test_constants.py
  tests/unit/test_csv_skip.py
  tests/unit/test_dataset.py
  tests/unit/test_input_hardening.py
  tests/unit/test_nested_catalog_inference.py
  tests/unit/test_scan.py
  tests/unit/test_scan_edge_cases.py
Due: validate-claude-md, mypy, fast-tests, import-linter

docs(plan): enhanced scan with nested catalogs and structure recommendations
  context/shared/plans/enhanced-scan-nested-catalogs.md
Due: none

docs(plan): append test specification to plan document
  context/shared/plans/enhanced-scan-nested-catalogs.md
Due: none

docs(plan): add simple progress reporting to scope
  context/shared/plans/enhanced-scan-nested-catalogs.md
Due: none

docs(plan): add research findings and test fixtures for nested scan
  context/shared/plans/enhanced-scan-nested-catalogs.md
  tests/fixtures/scan/README.md
  tests/fixtures/scan/deep_nested/level1/level2/level3/level4/level5/data.parquet
  tests/fixtures/scan/deep_nested/level1/level2/shallow_collection/data.parquet
  tests/fixtures/scan/flat_collection/bomenrij.parquet
  tests/fixtures/scan/flat_collection/milieuzone.parquet
  tests/fixtures/scan/flat_collection/peilbuizen.parquet
  tests/fixtures/scan/geoparquet_with_companions/data.parquet
  tests/fixtures/scan/geoparquet_with_companions/lookup.parquet
  tests/fixtures/scan/mixed_depths/shallow_collection/data.parquet
  tests/fixtures/scan/mixed_depths/theme/nested_collection/data.parquet
  tests/fixtures/scan/multiple_geoparquet/milieuzone.parquet
  tests/fixtures/scan/multiple_geoparquet/peilbuizen.parquet
  tests/fixtures/scan/three_level_nested/GAUL_L2/by_country/AFG/AFG.parquet
  tests/fixtures/scan/three_level_nested/GAUL_L2/by_country/ALB/ALB.parquet
Due: none

test(scan): add nested collection ID inference tests
  tests/unit/test_scan_nested.py
Due: mypy, fast-tests, import-linter

test(scan): add structure validation tests
  tests/unit/test_scan_structure.py
Due: mypy, fast-tests, import-linter

docs(specs): add scan nested catalogs test specification
  .gitignore
  tests/specs/scan_nested_catalogs.md
Due: none

test(scan): add --strict flag tests
  tests/unit/test_scan_strict.py
Due: mypy, fast-tests, import-linter

feat(scan): enhance output with nested collection IDs and format status
  portolan_cli/scan_output.py
  tests/unit/test_scan_output.py
Due: mypy, fast-tests, import-linter

feat(scan): add inferred_collection_id and format_status to ScannedFile
  portolan_cli/dataset.py
  portolan_cli/scan.py
  tests/integration/test_convert_workflow.py
  tests/unit/test_scan_nested.py
Due: mypy, fast-tests, import-linter

feat(scan): add MULTIPLE_GEO_PRIMARIES validation
  portolan_cli/scan.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_scan.py
  tests/unit/test_scan_structure.py
Due: mypy, fast-tests, import-linter

feat(scan): add --strict flag and fix_commands JSON output
  portolan_cli/cli.py
  portolan_cli/scan.py
  tests/unit/test_scan_strict.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(scan): add progress reporting with rich
  portolan_cli/cli.py
  portolan_cli/scan.py
  portolan_cli/scan_progress.py
  tests/unit/test_scan_progress.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): resolve field/metadata mismatch and add integration tests
  portolan_cli/cli.py
  portolan_cli/formats.py
  portolan_cli/scan.py
  portolan_cli/scan_output.py
  portolan_cli/scan_progress.py
  tests/specs/check_fix_integration.md
  tests/specs/versions_source_tracking.md
  tests/unit/test_scan_nested.py
  tests/unit/test_scan_output.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): resolve asset path and link issues in nested catalogs
  codecov.yml
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/scan_output.py
  portolan_cli/scan_progress.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_stac_links_regression.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): correct asset href resolution for collection-level files
  portolan_cli/dataset.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_stac_links_regression.py
  tests/unit/test_status_filegdb.py
Due: mypy, fast-tests, import-linter

fix(tests): use as_posix() for cross-platform path comparison
  tests/unit/test_scan_structure.py
Due: mypy, fast-tests, import-linter

chore: remove implementation plan doc
  context/shared/plans/enhanced-scan-nested-catalogs.md
Due: none

fix(scan): detect corrupted parquet files instead of misclassifying as tabular
  portolan_cli/formats.py
  portolan_cli/scan.py
  tests/unit/test_formats_edge_cases.py
  tests/unit/test_scan_structure.py
Due: mypy, fast-tests, import-linter
