Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(extract): enforce WFS timeout and show error details inline (#510)
  .menard/links.toml
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/unit/extract/wfs/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(encoding): use explicit UTF-8 for STAC/YAML file I/O on Windows
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/integration/test_mandatory_titles_add.py
Due: mypy, fast-tests, import-linter

fix(encoding): add UTF-8 encoding to test_stac_metadata_update tests
  tests/unit/test_stac_metadata_update.py
Due: mypy, fast-tests, import-linter

refactor(skills): extract skills to external repository
  .github/workflows/sync-skills.yml
  SKILL.md
  docs/guides/skills.md
  portolan_cli/cli.py
  portolan_cli/skills/INSTALL.md
  portolan_cli/skills/__init__.py
  portolan_cli/skills/bootstrap.md
  portolan_cli/skills/consume.md
  portolan_cli/skills/sourcecoop.md
  prek.toml
  scripts/generate_skill_md.py
  scripts/sync_skills_readme.py
  scripts/sync_sourcecoop_skill.py
  scripts/validate_skill_md.py
  tests/unit/test_scripts.py
  tests/unit/test_skills.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(skills): extract skills to external repository (#511)
  .github/workflows/sync-skills.yml
  SKILL.md
  docs/guides/skills.md
  portolan_cli/cli.py
  portolan_cli/skills/INSTALL.md
  portolan_cli/skills/__init__.py
  portolan_cli/skills/bootstrap.md
  portolan_cli/skills/consume.md
  portolan_cli/skills/sourcecoop.md
  prek.toml
  scripts/generate_skill_md.py
  scripts/sync_skills_readme.py
  scripts/sync_sourcecoop_skill.py
  scripts/validate_skill_md.py
  tests/unit/test_scripts.py
  tests/unit/test_skills.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(stac): populate file:size and aggregate statistics on STAC assets (#501)
  docs/guides/nested-catalogs.md
  portolan_cli/dataset.py
  portolan_cli/download.py
  portolan_cli/pull.py
  portolan_cli/stac.py
  tests/integration/test_add_file_size.py
  tests/unit/test_dataset.py
  tests/unit/test_download.py
  tests/unit/test_pull.py
  tests/unit/test_stac.py
Due: mypy, fast-tests, import-linter

fix(stac): address code review findings for file:size metadata (#501)
  portolan_cli/dataset.py
  portolan_cli/pull.py
  portolan_cli/stac.py
  tests/unit/test_dataset.py
Due: mypy, fast-tests, import-linter

fix(tests): update tests for 3-tuple asset_files and removed auto-titles
  portolan_cli/dataset.py
  portolan_cli/download.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_asset_key_normalization.py
  tests/unit/test_batch_versioning.py
  tests/unit/test_finalize_with_backend.py
  tests/unit/test_issue_354_asset_paths.py
  tests/unit/test_pull.py
Due: mypy, fast-tests, import-linter

feat(bbox): comprehensive bbox validation for inf/nan and anti-meridian (#516)
  docs/reference/configuration.md
  portolan_cli/bbox.py
  portolan_cli/crs.py
  portolan_cli/dataset.py
  portolan_cli/metadata/geoparquet.py
  portolan_cli/metadata/update.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  portolan_cli/thumbnail.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  tests/integration/test_bbox_validation.py
  tests/unit/test_bbox.py
  tests/unit/test_validation_runner.py
Due: mypy, fast-tests, import-linter

fix(types): update asset_files type to 3-tuple (path, checksum, size)
  portolan_cli/backends/protocol.py
  tests/iceberg/unit/test_on_post_add.py
Due: mypy, fast-tests, import-linter

fix(tests): make matplotlib import conditional in conftest
  tests/conftest.py
Due: mypy, fast-tests, import-linter

fix(bbox): address review findings and fix CRS/extent poison bugs (#516)
  portolan_cli/bbox.py
  portolan_cli/metadata/geoparquet.py
  portolan_cli/metadata/update.py
  portolan_cli/stac.py
  portolan_cli/thumbnail.py
  portolan_cli/validation/rules.py
  tests/integration/test_bbox_validation.py
Due: mypy, fast-tests, import-linter

feat(bbox): comprehensive bbox validation for inf/nan and anti-meridian (#516) (#520)
  docs/reference/configuration.md
  portolan_cli/bbox.py
  portolan_cli/crs.py
  portolan_cli/dataset.py
  portolan_cli/metadata/geoparquet.py
  portolan_cli/metadata/update.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  portolan_cli/thumbnail.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  tests/integration/test_bbox_validation.py
  tests/unit/test_bbox.py
  tests/unit/test_validation_runner.py
Due: mypy, fast-tests, import-linter

ci: retry uv sync to survive transient PyPI download failures
  .github/workflows/ci.yml
Due: none

feat(stac): populate file:size and aggregate statistics on STAC assets (#501) (#517)
  .github/workflows/ci.yml
  docs/guides/nested-catalogs.md
  portolan_cli/backends/protocol.py
  portolan_cli/dataset.py
  portolan_cli/download.py
  portolan_cli/pull.py
  portolan_cli/stac.py
  tests/conftest.py
  tests/iceberg/unit/test_on_post_add.py
  tests/integration/test_add_file_size.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_asset_key_normalization.py
  tests/unit/test_batch_versioning.py
  tests/unit/test_dataset.py
  tests/unit/test_download.py
  tests/unit/test_finalize_with_backend.py
  tests/unit/test_issue_354_asset_paths.py
  tests/unit/test_pull.py
  tests/unit/test_stac.py
Due: mypy, fast-tests, import-linter

docs(extract): document SERVICES_FOLDER; make folder unicode test real (#493)
  portolan_cli/extract/arcgis/url_parser.py
  tests/unit/extract/arcgis/test_url_parser.py
Due: mypy, fast-tests, import-linter

feat(extract): nest folder-qualified services as subcatalogs (#493)
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

feat(extract): _fetch_json token support + embedded-error detection (#493)
  portolan_cli/extract/arcgis/discovery.py
  tests/unit/extract/arcgis/test_discovery.py
Due: mypy, fast-tests, import-linter

feat(extract): recursive folder discovery with traversal record (#493)
  portolan_cli/extract/arcgis/discovery.py
  tests/unit/extract/arcgis/test_discovery.py
Due: mypy, fast-tests, import-linter

feat(extract): FolderCoverage on extraction report (#493)
  portolan_cli/extract/common/report.py
  tests/unit/extract/common/test_report.py
Due: mypy, fast-tests, import-linter

test(extract): cover list_services recurse=False and token passthrough (#493)
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

fix(extract): nested-folder full-path URLs; tidy recursion review nits (#493)
  portolan_cli/extract/arcgis/discovery.py
  tests/unit/extract/arcgis/test_discovery.py
Due: mypy, fast-tests, import-linter

feat(extract): forward ArcGIS token to gpio.extract_arcgis (#493)
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

test(extract): filters match folder-qualified service names; document (#493)
  docs/guides/extract-arcgis.md
  tests/unit/extract/common/test_filters.py
Due: mypy, fast-tests, import-linter

refactor(cli): direct folder_coverage access, top-level os import, warn() for skips (#493)
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

style(cli): ruff format test_cli_extract_arcgis (#493)
  tests/unit/test_cli_extract_arcgis.py
Due: mypy, fast-tests, import-linter

style(extract): ruff format fixups for folder recursion (#493)
  portolan_cli/extract/arcgis/auth.py
  portolan_cli/extract/arcgis/discovery.py
  portolan_cli/extract/common/report.py
  tests/unit/extract/arcgis/test_auth.py
  tests/unit/extract/arcgis/test_discovery.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/test_filters.py
Due: mypy, fast-tests, import-linter

docs+test(extract): document auth/recursion surface; assert CLI wiring and report coverage roundtrip (#493)
  docs/guides/extract-arcgis.md
  tests/unit/extract/common/test_report.py
  tests/unit/test_cli_extract_arcgis.py
Due: mypy, fast-tests, import-linter

docs(adr): ADR-0053 ArcGIS folder recursion and structure (#493)
  CLAUDE.md
  context/shared/adr/0054-arcgis-folder-recursion-and-structure.md
Due: validate-claude-md

test(extract): live folder-recursion tests for SA and JRC roots (#493)
  tests/integration/extract/arcgis/test_orchestrator_live.py
Due: mypy, fast-tests, import-linter

fix(extract): address CodeRabbit review on ArcGIS folder recursion (#493)
  context/shared/plans/2026-06-09-arcgis-folder-recursion-plan.md
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/auth.py
  portolan_cli/extract/arcgis/discovery.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_auth.py
  tests/unit/extract/arcgis/test_discovery.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/test_report.py
  tests/unit/test_cli_extract_arcgis.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(cli): extract arcgis token/output-dir helpers to clear xenon rank D (#493)
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(extract): address CodeRabbit auth-handling and JSON-guard findings (#493)
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/discovery.py
  tests/unit/extract/arcgis/test_discovery.py
  tests/unit/test_cli_extract_arcgis.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(extract): ArcGIS folder recursion, folder URLs, token auth (#493) (#499)
  CLAUDE.md
  context/shared/adr/0054-arcgis-folder-recursion-and-structure.md
  context/shared/plans/2026-06-09-arcgis-folder-recursion-design.md
  context/shared/plans/2026-06-09-arcgis-folder-recursion-plan.md
  docs/guides/extract-arcgis.md
  portolan_cli/cli.py
  portolan_cli/errors.py
  portolan_cli/extract/arcgis/auth.py
  portolan_cli/extract/arcgis/discovery.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/arcgis/url_parser.py
  portolan_cli/extract/common/report.py
  tests/integration/extract/arcgis/test_orchestrator_live.py
  tests/unit/extract/arcgis/test_auth.py
  tests/unit/extract/arcgis/test_discovery.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/arcgis/test_url_parser.py
  tests/unit/extract/common/test_filters.py
  tests/unit/extract/common/test_report.py
  tests/unit/test_cli_extract_arcgis.py
  tests/unit/test_errors.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): stop is_technical_name clobbering single-word titles (#513)
  portolan_cli/stac.py
  tests/unit/test_humanize.py
Due: mypy, fast-tests, import-linter

test(stac): pin is_technical_name edge cases, document broadened scope
  portolan_cli/stac.py
  tests/unit/test_humanize.py
Due: mypy, fast-tests, import-linter

fix(stac): stop is_technical_name clobbering single-word titles (#513) (#522)
  portolan_cli/stac.py
  tests/unit/test_humanize.py
Due: mypy, fast-tests, import-linter

fix(viz): track generated thumbnails in versions.json (#519)
  portolan_cli/pmtiles.py
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

refactor(viz): one version snapshot per side-step, backfill on skip (#519)
  portolan_cli/pmtiles.py
  portolan_cli/thumbnail.py
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

test(viz): cover backfill, idempotence, multi-asset, and thumbnail edge cases (#519)
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
