Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix(readme): render the Bands section from the core bands array (#713) (#725)
  portolan_cli/cli.py
  portolan_cli/readme.py
  portolan_cli/stac_parquet.py
  tests/integration/test_readme_bands_realdata.py
  tests/unit/test_readme_bands.py
  tests/unit/test_stac_parquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(license): validate identifiers against rashid's SPDX list (#727) (#732)
  CHANGELOG.md
  docs/guides/licensing.md
  docs/guides/metadata-defaults.md
  docs/reference/configuration.md
  portolan_cli/licensing.py
  portolan_cli/metadata_yaml.py
  portolan_cli/validation/remediation.py
  pyproject.toml
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_add_license_gate.py
  tests/unit/test_licensing.py
  tests/unit/test_metadata_yaml.py
  tests/unit/validation/test_license_agreement.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(ci): run the full suite on every PR, whatever its base (#729)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  context/shared/documentation/ci.md
  scripts/apply_branch_protection.sh
Due: none

fix(ci): stop requiring codecov/project, which never reports (#733)
  codecov.yml
  scripts/apply_branch_protection.sh
  tests/integration/test_readme_bands_realdata.py
Due: mypy, fast-tests, import-linter

fix(rm): untrack assets in collections under a subcatalog (#723) (#730)
  portolan_cli/backends/json_file.py
  portolan_cli/remove.py
  tests/integration/test_rm_item_dir_cleanup.py
  tests/unit/backends/test_backends.py
  tests/unit/test_remove_versions.py
Due: mypy, fast-tests, import-linter

fix(tests): stop a stale xfail from shadowing the #723 acceptance test
  tests/unit/test_remove_versions.py
Due: mypy, fast-tests, import-linter

fix(tests): give the mutmut guard a subject that can trip the check
  tests/integration/test_mutmut_hypothesis_guard.py
Due: mypy, fast-tests, import-linter

fix(init): resolve the catalog path before pystac sees it (#731)
  portolan_cli/catalog.py
  tests/integration/test_dotted_path_regression.py
Due: mypy, fast-tests, import-linter

fix(stac): route every normalize_hrefs call through one href root (#731)
  portolan_cli/backends/iceberg/backend.py
  portolan_cli/catalog.py
  portolan_cli/finalization.py
  portolan_cli/stac.py
  portolan_cli/utils.py
  tests/unit/test_href_root.py
  tests/unit/test_stac.py
Due: mypy, fast-tests, import-linter

fix(backends): judge a collection id under both path flavors (#731)
  portolan_cli/backends/json_file.py
  tests/unit/backends/test_backends.py
Due: mypy, fast-tests, import-linter

fix(stac): route every normalize_hrefs call through one href root (#731) (#734)
  portolan_cli/backends/iceberg/backend.py
  portolan_cli/backends/json_file.py
  portolan_cli/catalog.py
  portolan_cli/finalization.py
  portolan_cli/stac.py
  portolan_cli/utils.py
  tests/integration/test_dotted_path_regression.py
  tests/unit/backends/test_backends.py
  tests/unit/test_href_root.py
  tests/unit/test_stac.py
Due: mypy, fast-tests, import-linter

fix(tests): keep the href_root source scan out of the mutant tree (#731)
  tests/unit/test_href_root.py
Due: mypy, fast-tests, import-linter

refactor(backends): drop the redundant is_absolute from the id guard
  portolan_cli/backends/json_file.py
Due: mypy, fast-tests, import-linter

fix(add): index tabular collections in catalog-level versions.json (#650)
  portolan_cli/add.py
  tests/unit/test_tabular_support.py
Due: mypy, fast-tests, import-linter

fix(ci): make mutation selection sandbox-safe
  .github/workflows/ci.yml
  context/shared/documentation/ci.md
  pyproject.toml
  tests/unit/test_href_root.py
  tests/unit/test_json_write_sites.py
  tests/unit/test_mutation_ci_config.py
  tests/unit/validation/test_rashid_public_surface.py
Due: mypy, fast-tests, import-linter

fix(metadata): preserve thumbnail, bands, stac_extensions on refresh (#659)
  portolan_cli/metadata/update.py
  tests/unit/test_metadata_update.py
Due: mypy, fast-tests, import-linter

fix(styles): mark the default style with the default role
  .claude/rules/conversion-and-visualization.md
  .claude/rules/stac-assets.md
  AGENTS.md
  portolan_cli/constants.py
  portolan_cli/validation/legacy.py
  portolan_cli/validation/runner.py
  portolan_cli/viz/style.py
  tests/integration/test_thumbnail_workflow.py
  tests/unit/test_style.py
  tests/unit/validation/test_legacy_detection.py
Due: mypy, fast-tests, import-linter

fix(styles): mark the default style with the default role (#741)
  .claude/rules/conversion-and-visualization.md
  .claude/rules/stac-assets.md
  AGENTS.md
  portolan_cli/constants.py
  portolan_cli/validation/legacy.py
  portolan_cli/validation/runner.py
  portolan_cli/viz/style.py
  tests/integration/test_thumbnail_workflow.py
  tests/unit/test_style.py
  tests/unit/validation/test_legacy_detection.py
Due: mypy, fast-tests, import-linter

fix(stac-geoparquet): publish file:size and file:checksum on the mirror asset
  portolan_cli/add.py
  portolan_cli/preparation.py
  portolan_cli/stac_parquet.py
  portolan_cli/sync/checksums.py
  portolan_cli/validation/fixers.py
  tests/integration/test_metadata_scan_unification.py
  tests/unit/test_multihash_checksum.py
  tests/unit/test_stac_parquet.py
Due: mypy, fast-tests, import-linter

feat(viz): emit a collection thumbnail on every add (#683)
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/collection_thumbnail.py
  portolan_cli/validation/fixers.py
  portolan_cli/validation/remediation.py
  portolan_cli/versions.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/thumbnail.py
  pyproject.toml
  tests/integration/test_generated_catalog_conformance.py
  tests/integration/test_pmtiles_integration.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/test_collection_thumbnail.py
  tests/unit/test_pmtiles.py
  tests/unit/test_thumbnail.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac-geoparquet): strip file fields only when the bytes are proven gone
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
  tests/unit/test_stac_parquet.py
Due: mypy, fast-tests, import-linter

fix(stac-geoparquet): publish file:size and file:checksum on the mirror asset (#742)
  portolan_cli/add.py
  portolan_cli/preparation.py
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
  portolan_cli/sync/checksums.py
  portolan_cli/validation/fixers.py
  tests/integration/test_metadata_scan_unification.py
  tests/unit/test_multihash_checksum.py
  tests/unit/test_stac_parquet.py
Due: mypy, fast-tests, import-linter

fix(viz): close five gaps in the collection thumbnail orchestrator (#683)
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/collection_thumbnail.py
  portolan_cli/validation/fixers.py
  portolan_cli/versions.py
  tests/benchmark/test_thumbnail_sampling_benchmark.py
  tests/unit/test_collection_thumbnail.py
  tests/unit/validation/test_fixers.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(viz): fold the thumbnail into the version add just wrote (#683)
  portolan_cli/cli.py
  portolan_cli/collection_thumbnail.py
  portolan_cli/versions.py
  tests/unit/test_collection_thumbnail.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(viz): emit a collection thumbnail on every add (#683) (#743)
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/collection_thumbnail.py
  portolan_cli/validation/fixers.py
  portolan_cli/validation/remediation.py
  portolan_cli/versions.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/thumbnail.py
  pyproject.toml
  tests/benchmark/test_thumbnail_sampling_benchmark.py
  tests/integration/test_generated_catalog_conformance.py
  tests/integration/test_pmtiles_integration.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/test_collection_thumbnail.py
  tests/unit/test_pmtiles.py
  tests/unit/test_thumbnail.py
  tests/unit/validation/test_fixers.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): move raster to v2.0.0 and publish proj:code on the data asset (#654)
  .claude/rules/stac-assets.md
  portolan_cli/finalization.py
  portolan_cli/metadata/geoparquet.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/stac.py
  tests/fixtures/metadata/stac/valid/item_cog.json
  tests/integration/test_add_cloud_native_vectors.py
  tests/unit/test_collection_proj_code.py
  tests/unit/test_collection_proj_epsg_488.py
  tests/unit/test_metadata_pmtiles.py
  tests/unit/test_metadata_update.py
  tests/unit/test_stac_extensions.py
Due: mypy, fast-tests, import-linter

fix(stac): declare the file extension when registering a thumbnail
  portolan_cli/collection_thumbnail.py
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
  tests/unit/test_collection_thumbnail.py
Due: mypy, fast-tests, import-linter

fix(styles): always name a default style, and merge instead of rebuilding
  .claude/rules/conversion-and-visualization.md
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
  portolan_cli/viz/style.py
  pyproject.toml
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

feat(catalog): publish a catalog logo as a rel="icon" link
  .claude/rules/architecture.md
  .claude/rules/stac-assets.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/errors.py
  portolan_cli/logo.py
  portolan_cli/sync/push.py
  tests/integration/test_logo_conformance.py
  tests/unit/test_cli_logo.py
  tests/unit/test_logo.py
  tests/unit/test_push_metadata_sync.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac-geoparquet): register the item mirror by asset alone and publish it by default (#654)
  portolan_cli/add.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/finalization.py
  portolan_cli/stac_parquet.py
  portolan_cli/validation/fixers.py
  portolan_cli/viz/pmtiles.py
  tests/integration/test_metadata_scan_unification.py
  tests/unit/test_add_skips_item_mirror.py
  tests/unit/test_cli_stac_geoparquet.py
  tests/unit/test_stac_parquet.py
  tests/unit/validation/test_fixers.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): stop emitting the portolan: fields the spec does not define
  portolan_cli/add.py
  portolan_cli/cli.py
  portolan_cli/constants.py
  portolan_cli/external.py
  portolan_cli/finalization.py
  portolan_cli/metadata/fix.py
  portolan_cli/scan/check.py
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
  portolan_cli/sync/push.py
  portolan_cli/temporal.py
  portolan_cli/validation/legacy.py
  portolan_cli/viz/style.py
  tests/integration/test_add_file_size.py
  tests/integration/test_partition_paths.py
  tests/unit/test_add_external.py
  tests/unit/test_metadata_fix.py
  tests/unit/test_partitioning.py
  tests/unit/test_partitioning_arbitrary.py
  tests/unit/test_stac.py
  tests/unit/test_stac_parquet.py
  tests/unit/test_style.py
  tests/unit/test_temporal_handling.py
  tests/unit/validation/test_legacy_detection.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix null colors handling in ArcGIS renderer
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/converters/base.py
  portolan_cli/extract/common/converters/esri.py
  portolan_cli/extract/common/styles.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/converters/test_base.py
  tests/unit/extract/common/converters/test_esri.py
  tests/unit/extract/common/test_styles.py
Due: mypy, fast-tests, import-linter

test(conformance): build every emitted path into the gate (#746)
  portolan_cli/viz/pmtiles.py
  pyproject.toml
  tests/fixtures/schemas/README.md
  tests/fixtures/schemas/raster-v2.0.0.schema.json
  tests/integration/extract/carto/test_carto_extract.py
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_vendored_schemas.py
  uv.lock
Due: mypy, fast-tests, import-linter

docs(conformance): tie PTL-VIZ-001 to the missing table:columns
  tests/integration/test_generated_catalog_conformance.py
Due: mypy, fast-tests, import-linter

docs(conformance): name the issues tracking each known gap
  tests/integration/test_generated_catalog_conformance.py
Due: mypy, fast-tests, import-linter

test(pmtiles): cover the file-field stamping on both writer paths
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

fix(conformance): map the new rashid rules and stabilise the visual catalog
  portolan_cli/validation/remediation.py
  tests/fixtures/generate.py
  tests/fixtures/vector/valid/points.parquet
  tests/integration/test_generated_catalog_conformance.py
Due: mypy, fast-tests, import-linter

test(conformance): build every emitted path into the gate (#746) (#747)
  portolan_cli/validation/remediation.py
  portolan_cli/viz/pmtiles.py
  pyproject.toml
  tests/fixtures/generate.py
  tests/fixtures/schemas/README.md
  tests/fixtures/schemas/raster-v2.0.0.schema.json
  tests/fixtures/vector/valid/points.parquet
  tests/integration/extract/carto/test_carto_extract.py
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_pmtiles.py
  tests/unit/test_vendored_schemas.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(stac): document a tabular collection's table (#749)
  portolan_cli/add.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/tabular.py
  portolan_cli/stac.py
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_tabular_metadata.py
Due: mypy, fast-tests, import-linter
