Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix(partition): rename strat variable to avoid codespell false positive
  portolan_cli/partitioning.py
Due: mypy, fast-tests, import-linter

feat(partition): add STAC partition extension support (#413)
  CLAUDE.md
  context/shared/adr/0042-partition-stac-extension.md
  context/shared/plans/2026-05-06-partition-stac-extension.md
  docs/guides/partitioning.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  portolan_cli/push.py
  portolan_cli/scan_output.py
  portolan_cli/stac.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_partitioning.py
  tests/unit/test_scan_output.py
  tests/unit/test_validation_rules.py
  tests/unit/test_validation_runner.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(style): add Mapbox GL style generation and thumbnail support for PMTiles (closes #13)
  portolan_cli/convert.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/pmtiles.py
  portolan_cli/style.py
  portolan_cli/thumbnail.py
  pyproject.toml
  tests/fixtures/README.md
  tests/fixtures/metadata/style/README.md
  tests/fixtures/metadata/style/invalid/style_bad_syntax.json
  tests/fixtures/metadata/style/invalid/style_missing_layers.json
  tests/fixtures/metadata/style/valid/style_categorical.json
  tests/fixtures/metadata/style/valid/style_graduated.json
  tests/fixtures/metadata/style/valid/style_line.json
  tests/fixtures/metadata/style/valid/style_point.json
  tests/fixtures/metadata/style/valid/style_polygon.json
  tests/integration/test_thumbnail_workflow.py
  tests/unit/test_style.py
  tests/unit/test_thumbnail.py
  uv.lock
Due: mypy, fast-tests, import-linter

docs(plan): add implementation plan for style.json and thumbnails (issue #13)
  context/shared/plans/2026-05-06-style-thumbnails-implementation.md
Due: none

fix(thumbnail): add coordinate transformation and basemap support for PMTiles
  portolan_cli/convert.py
  portolan_cli/pmtiles.py
  portolan_cli/style.py
  portolan_cli/thumbnail.py
  portolan_cli/utils.py
  tests/integration/test_thumbnail_workflow.py
  tests/unit/test_thumbnail.py
Due: mypy, fast-tests, import-linter

fix(style): address review findings for Issue #13 implementation
  context/shared/plans/2026-05-06-style-thumbnails-implementation.md
  docs/reference/configuration.md
  portolan_cli/dataset.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/style.py
  portolan_cli/thumbnail.py
  tests/unit/test_thumbnail.py
Due: mypy, fast-tests, import-linter

fix(thumbnail): use bare type: ignore for optional import compatibility
  portolan_cli/thumbnail.py
Due: mypy, fast-tests, import-linter

docs(adr): add ADR-0042 for style and thumbnail architecture decisions
  CLAUDE.md
  context/shared/adr/0043-style-and-thumbnail-architecture.md
  context/shared/plans/2026-05-06-style-thumbnails-implementation.md
  portolan_cli/convert.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(style): address all adversarial review findings
  portolan_cli/metadata/pmtiles.py
  portolan_cli/pmtiles.py
  portolan_cli/thumbnail.py
  portolan_cli/utils.py
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

fix(mypy): add matplotlib to ignore_missing_imports
  portolan_cli/thumbnail.py
  pyproject.toml
Due: mypy, fast-tests, import-linter

fix(style): address adversarial review findings round 3
  context/shared/plans/2026-05-06-style-thumbnails-implementation.md
  portolan_cli/convert.py
  portolan_cli/dataset.py
  portolan_cli/pmtiles.py
  portolan_cli/thumbnail.py
Due: mypy, fast-tests, import-linter

fix(tests): filter Windows reserved names in hypothesis filename strategy
  tests/unit/test_list_status_hypothesis.py
Due: mypy, fast-tests, import-linter

feat(style): add Mapbox GL style and thumbnail generation for vector/raster assets (closes #13) (#414)
  CLAUDE.md
  context/shared/adr/0043-style-and-thumbnail-architecture.md
  docs/reference/configuration.md
  portolan_cli/convert.py
  portolan_cli/dataset.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/pmtiles.py
  portolan_cli/style.py
  portolan_cli/thumbnail.py
  portolan_cli/utils.py
  pyproject.toml
  tests/fixtures/README.md
  tests/fixtures/metadata/style/README.md
  tests/fixtures/metadata/style/invalid/style_bad_syntax.json
  tests/fixtures/metadata/style/invalid/style_missing_layers.json
  tests/fixtures/metadata/style/valid/style_categorical.json
  tests/fixtures/metadata/style/valid/style_graduated.json
  tests/fixtures/metadata/style/valid/style_line.json
  tests/fixtures/metadata/style/valid/style_point.json
  tests/fixtures/metadata/style/valid/style_polygon.json
  tests/integration/test_thumbnail_workflow.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_style.py
  tests/unit/test_thumbnail.py
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(crs): skip mismatch validation for geographic CRSes
  portolan_cli/crs.py
  tests/unit/test_crs_validation.py
Due: mypy, fast-tests, import-linter

fix(crs): skip mismatch validation for geographic CRSes (#415)
  portolan_cli/crs.py
  tests/unit/test_crs_validation.py
Due: mypy, fast-tests, import-linter

docs(plan): add end-to-end tutorial and quickstart command plan
  context/shared/plans/end-to-end-tutorial-quickstart.md
Due: none

feat(cli): add quickstart and agent-instructions commands
  SKILL.md
  docs/tutorials/end-to-end.md
  mkdocs.yml
  portolan_cli/cli.py
  portolan_cli/quickstart_content.py
  prek.toml
  scripts/validate_quickstart.py
  tests/unit/test_cli_quickstart.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(tutorial): rewrite end-to-end with density and real URLs
  docs/tutorials/end-to-end.md
Due: none

fix(docs): correct tutorial based on actual tested output
  docs/tutorials/end-to-end.md
  portolan_cli/quickstart_content.py
Due: mypy, fast-tests, import-linter

bump: version 0.6.0 → 0.7.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(deps): remove git dependency from optional-deps for PyPI compatibility
  pyproject.toml
  uv.lock
Due: none

fix(deps): remove git dependency from optional-deps for PyPI compatibility (#418)
  pyproject.toml
  uv.lock
Due: none

docs(plan): add STAC validation implementation plan
  context/shared/plans/stac-validation-plan.md
Due: none

docs(plan): update STAC validation plan after API research
  context/shared/plans/stac-validation-plan.md
Due: none

feat(check): add STAC schema and lint validation rules (#397)
  portolan_cli/cli.py
  portolan_cli/validation/runner.py
  portolan_cli/validation/stac_rules.py
  pyproject.toml
  tests/fixtures/validation/stac/README.md
  tests/unit/validation/test_stac_rules.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(check): wire config through CLI and fix recursive validation (#397)
  CLAUDE.md
  context/shared/plans/stac-validation-plan.md
  portolan_cli/cli.py
  portolan_cli/validation/stac_rules.py
  tests/fixtures/validation/stac/README.md
  tests/fixtures/validation/stac/recursive-invalid/bad-collection/collection.json
  tests/fixtures/validation/stac/recursive-invalid/bad-collection/invalid-item.json
  tests/fixtures/validation/stac/recursive/test-collection/collection.json
  tests/fixtures/validation/stac/recursive/test-collection/test-item.json
  tests/unit/validation/test_stac_rules.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(check): add test fixtures and handle relative href validation
  .gitignore
  portolan_cli/validation/stac_rules.py
  tests/fixtures/validation/stac/bad-id/catalog.json
  tests/fixtures/validation/stac/invalid-json/catalog.json
  tests/fixtures/validation/stac/many-violations/catalog.json
  tests/fixtures/validation/stac/missing-id/catalog.json
  tests/fixtures/validation/stac/recursive-invalid/catalog.json
  tests/fixtures/validation/stac/recursive/catalog.json
  tests/fixtures/validation/stac/valid/catalog.json
  tests/unit/test_validation_runner.py
Due: mypy, fast-tests, import-linter

fix(check): handle stac-check Windows recursive validation bug
  portolan_cli/validation/stac_rules.py
Due: mypy, fast-tests, import-linter

chore: remove plan doc from implementation PR
  context/shared/plans/stac-validation-plan.md
Due: none

test: skip recursive invalid test on Windows
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

feat(check): add STAC schema and lint validation rules (#397) (#419)
  .gitignore
  CLAUDE.md
  portolan_cli/cli.py
  portolan_cli/validation/runner.py
  portolan_cli/validation/stac_rules.py
  pyproject.toml
  tests/fixtures/validation/stac/README.md
  tests/fixtures/validation/stac/bad-id/catalog.json
  tests/fixtures/validation/stac/invalid-json/catalog.json
  tests/fixtures/validation/stac/many-violations/catalog.json
  tests/fixtures/validation/stac/missing-id/catalog.json
  tests/fixtures/validation/stac/recursive-invalid/bad-collection/collection.json
  tests/fixtures/validation/stac/recursive-invalid/bad-collection/invalid-item.json
  tests/fixtures/validation/stac/recursive-invalid/catalog.json
  tests/fixtures/validation/stac/recursive/catalog.json
  tests/fixtures/validation/stac/recursive/test-collection/collection.json
  tests/fixtures/validation/stac/recursive/test-collection/test-item.json
  tests/fixtures/validation/stac/valid/catalog.json
  tests/unit/test_validation_runner.py
  tests/unit/validation/test_stac_rules.py
  uv.lock
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(plan): add styles-as-STAC-assets implementation plan
  context/shared/plans/2026-05-07-styles-as-stac-assets-plan.md
Due: none

docs(adr): add ADR-0044 styles as STAC assets
  CLAUDE.md
  context/shared/adr/0043-style-and-thumbnail-architecture.md
  context/shared/adr/0044-styles-as-stac-assets.md
Due: validate-claude-md

test(fixtures): update style fixtures to full Mapbox GL format
  tests/fixtures/metadata/style/valid/style_categorical.json
  tests/fixtures/metadata/style/valid/style_graduated.json
  tests/fixtures/metadata/style/valid/style_line.json
  tests/fixtures/metadata/style/valid/style_point.json
  tests/fixtures/metadata/style/valid/style_polygon.json
Due: none

chore: clean up remaining build_pmtiles_style and pmtiles:style references
  portolan_cli/style.py
  tests/integration/test_thumbnail_workflow.py
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

feat(style): add discover_styles and build_styles_manifest
  portolan_cli/style.py
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

feat(style): add build_full_style, write_style_file, and write_default_style functions
  portolan_cli/style.py
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

feat(style): register style assets in collection.json
  portolan_cli/pmtiles.py
  portolan_cli/style.py
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

feat(skills): add consume skill for querying Portolan catalogs (closes #121)
  CLAUDE.md
  context/shared/adr/0044-consumption-guides-architecture.md
  docs/guides/skills.md
  portolan_cli/metadata_yaml.py
  portolan_cli/skills/consume.md
Due: validate-claude-md, mypy, fast-tests, import-linter
