Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(list): show all assets grouped by item (#196)
  portolan_cli/cli.py
  tests/integration/test_list_cli.py
  tests/unit/test_list_output.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): batch repetitive failures by error message (#199)
  portolan_cli/cli.py
  tests/unit/test_add_failures_batching.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(tests): normalize path separators for Windows compatibility
  tests/unit/test_add_failures_batching.py
Due: mypy, fast-tests, import-linter

fix(add): batch repetitive failures by error message (#199) (#205)
  portolan_cli/cli.py
  tests/unit/test_add_failures_batching.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(list): correct asset path resolution and test assertions
  portolan_cli/cli.py
  tests/unit/test_cli_dataset.py
  tests/unit/test_list_output.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(list): show all assets grouped by item (#196) (#204)
  portolan_cli/cli.py
  tests/integration/test_list_cli.py
  tests/unit/test_cli_dataset.py
  tests/unit/test_list_output.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

bump: version 0.4.3 → 0.4.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump: version 0.4.3 → 0.4.4 (#206)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(scan): normalize filenames to lowercase with dashes (#208)
  portolan_cli/scan_fix.py
  tests/integration/test_scan_cli.py
  tests/unit/test_scan_fix.py
  tests/unit/test_scan_fix_coverage.py
  tests/unit/test_scan_fix_normalization.py
Due: mypy, fast-tests, import-linter

feat(check): add --remove-legacy flag to delete source files after conversion
  portolan_cli/check.py
  portolan_cli/cli.py
  tests/integration/test_check_remove_legacy.py
  tests/unit/test_check_remove_legacy.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(check): add missing shapefile XML sidecars and fix tests
  CLAUDE.md
  portolan_cli/constants.py
  tests/integration/test_check_remove_legacy.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_check_remove_legacy.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(tests): fix Windows CI failures and complexity issues
  tests/integration/test_check_remove_legacy.py
  tests/unit/test_check_remove_legacy.py
Due: mypy, fast-tests, import-linter

fix(scan): re-check Windows reserved name after normalization
  portolan_cli/scan_fix.py
  tests/unit/test_scan_fix.py
  tests/unit/test_scan_fix_normalization.py
Due: mypy, fast-tests, import-linter

fix(scan): normalize filenames to lowercase with dashes (#211)
  portolan_cli/scan_fix.py
  tests/integration/test_scan_cli.py
  tests/unit/test_scan_fix.py
  tests/unit/test_scan_fix_coverage.py
  tests/unit/test_scan_fix_normalization.py
Due: mypy, fast-tests, import-linter

feat(check): add --remove-legacy flag to delete source files after conversion (#212)
  CLAUDE.md
  portolan_cli/check.py
  portolan_cli/cli.py
  portolan_cli/constants.py
  tests/integration/test_check_remove_legacy.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_check_remove_legacy.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): add file-level progress output for add and check --fix
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/output.py
  tests/integration/test_cli_progress.py
  tests/unit/test_output_progress.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): add file-level progress output for add and check --fix (#213)
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/output.py
  tests/integration/test_cli_progress.py
  tests/unit/test_output_progress.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): remove deprecated dataset command group
  SKILL.md
  portolan_cli/cli.py
  tests/integration/test_add_rm_integration.py
  tests/integration/test_cli_json.py
  tests/integration/test_dataset_integration.py
  tests/unit/test_cli_dataset.py
  tests/unit/test_cli_info.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): remove deprecated dataset command group (#214)
  SKILL.md
  portolan_cli/cli.py
  tests/integration/test_add_rm_integration.py
  tests/integration/test_cli_json.py
  tests/integration/test_dataset_integration.py
  tests/unit/test_cli_dataset.py
  tests/unit/test_cli_info.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: address adversarial review findings for PR #214
  CHANGELOG.md
  CLAUDE.md
  tests/unit/test_cli_list.py
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(cli): unify list and status commands (#210)
  SKILL.md
  portolan_cli/catalog_list.py
  portolan_cli/cli.py
  portolan_cli/scan_fix.py
  tests/integration/test_list_status_integration.py
  tests/unit/test_cli_list.py
  tests/unit/test_list_output.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_list_with_status.py
  tests/unit/test_status.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: update integration tests for unified list command
  tests/integration/test_catalog_root_consistency.py
  tests/integration/test_list_cli.py
  tests/integration/test_status_integration.py
Due: mypy, fast-tests, import-linter

feat(cli): unify list and status commands (#215)
  CHANGELOG.md
  CLAUDE.md
  SKILL.md
  portolan_cli/catalog_list.py
  portolan_cli/cli.py
  portolan_cli/scan_fix.py
  tests/integration/test_catalog_root_consistency.py
  tests/integration/test_list_cli.py
  tests/integration/test_list_status_integration.py
  tests/integration/test_status_integration.py
  tests/unit/test_cli_list.py
  tests/unit/test_list_output.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_list_with_status.py
  tests/unit/test_status.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

bump: version 0.4.4 → 0.5.0
  CHANGELOG.md
  pyproject.toml
Due: none

bump: version 0.4.4 → 0.5.0 (#216)
  CHANGELOG.md
  pyproject.toml
Due: none

fix(output): improve detail text readability on light terminals
  portolan_cli/output.py
Due: mypy, fast-tests, import-linter

refactor(catalog): remove dead write/read_catalog_json helpers
  portolan_cli/catalog.py
  tests/unit/test_catalog_model_init.py
Due: mypy, fast-tests, import-linter

style: fix trailing whitespace in test file
  tests/unit/test_catalog_model_init.py
Due: mypy, fast-tests, import-linter

fix(output): resolve mypy errors with style kwargs
  portolan_cli/output.py
Due: mypy, fast-tests, import-linter

refactor(catalog): remove dead write/read_catalog_json helpers (#217)
  portolan_cli/catalog.py
  tests/unit/test_catalog_model_init.py
Due: mypy, fast-tests, import-linter

fix(output): improve detail text readability across terminal themes (#219)
  portolan_cli/output.py
Due: mypy, fast-tests, import-linter

feat(cli): add agent-native improvements with JSON output and input hardening
  docs/agent-native.md
  portolan_cli/cli.py
  portolan_cli/validation/__init__.py
  portolan_cli/validation/input_hardening.py
  tests/unit/test_input_hardening.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(docs): move agent-native content to ADR-0030
  CLAUDE.md
  context/shared/adr/0030-agent-native-cli-design.md
  docs/agent-native.md
Due: validate-claude-md

fix(validation): address code review findings
  portolan_cli/cli.py
  portolan_cli/validation/input_hardening.py
  tests/unit/test_input_hardening.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): agent-native improvements with JSON output and input hardening (#223)
  CLAUDE.md
  context/shared/adr/0030-agent-native-cli-design.md
  portolan_cli/cli.py
  portolan_cli/validation/__init__.py
  portolan_cli/validation/input_hardening.py
  tests/unit/test_input_hardening.py
  uv.lock
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(cli): default AWS profile to 'default' for S3 commands
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test: add unit tests for --profile default behavior
  tests/unit/test_cli_profile_default.py
Due: mypy, fast-tests, import-linter

fix(cli): default AWS profile to 'default' for S3 commands (#227)
  portolan_cli/cli.py
  tests/unit/test_cli_profile_default.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(push): add catalog-wide push without --collection flag
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/push.py
  tests/unit/test_push_catalog_wide.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
