Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(stac): document a tabular collection's table (#749) (#750)
  portolan_cli/add.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/tabular.py
  portolan_cli/stac.py
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_tabular_metadata.py
Due: mypy, fast-tests, import-linter

sync: Update skills install instructions from upstream
  portolan_cli/skills/INSTALL.md
Due: none

fix unit tests coverage
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

test(versions): guard the CLI-owned versions.json manifest; generate the input-formats page (#751)
  docs/reference/input-formats.md
  docs/reference/versions-manifest.md
  mkdocs.yml
  portolan_cli/extension_registry.py
  pyproject.toml
  scripts/gen_input_formats_doc.py
  tests/fixtures/versions-manifest/README.md
  tests/fixtures/versions-manifest/catalog-versions.schema.json
  tests/fixtures/versions-manifest/versions.schema.json
  tests/integration/test_versions_manifest_schema.py
  tests/unit/test_input_formats_doc.py
Due: mypy, fast-tests, import-linter

docs: single-source the input-format table and clean stale references
  docs/reference/formats.md
  docs/reference/versions-manifest.md
  tests/fixtures/versions-manifest/versions.schema.json
Due: none

fix(mutmut): restore docs/reference/ in also_copy
  pyproject.toml
Due: none

docs: strip remaining ADR references from the PR's generated page and schemas
  docs/reference/input-formats.md
  scripts/gen_input_formats_doc.py
  tests/fixtures/versions-manifest/catalog-versions.schema.json
  tests/fixtures/versions-manifest/versions.schema.json
  tests/unit/test_input_formats_doc.py
Due: mypy, fast-tests, import-linter

fix(item): derive media type from the extension registry (#736)
  portolan_cli/item.py
  tests/unit/test_item_media_type.py
Due: mypy, fast-tests, import-linter

fix(add): report a first standalone tabular add as added, not skipped (#712)
  portolan_cli/add.py
  tests/unit/test_collection_level_assets.py
  tests/unit/test_tabular_add_reporting.py
  tests/unit/test_tabular_support.py
Due: mypy, fast-tests, import-linter

fix(item): reproject a raster bbox to WGS84 (#708)
  portolan_cli/item.py
  tests/unit/test_item_bbox_wgs84.py
Due: mypy, fast-tests, import-linter

ci: run mutation nightly only, and write the live rules
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  scripts/apply_branch_protection.sh
Due: none

ci: run mutation nightly only, and write the live rules (#779)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  scripts/apply_branch_protection.sh
Due: none

test(versions): guard the CLI-owned versions.json manifest; generate the input-formats page (#751) (#752)
  docs/reference/formats.md
  docs/reference/input-formats.md
  docs/reference/versions-manifest.md
  mkdocs.yml
  portolan_cli/extension_registry.py
  pyproject.toml
  scripts/gen_input_formats_doc.py
  tests/fixtures/versions-manifest/README.md
  tests/fixtures/versions-manifest/catalog-versions.schema.json
  tests/fixtures/versions-manifest/versions.schema.json
  tests/integration/test_versions_manifest_schema.py
  tests/unit/test_input_formats_doc.py
Due: mypy, fast-tests, import-linter

test(ci): drop the guard for the deleted PR mutation job (#778)
  tests/unit/test_mutation_ci_config.py
Due: mypy, fast-tests, import-linter

test(ci): guard the nightly mutation sweep, not the removed PR gate
  .github/workflows/nightly.yml
  context/shared/documentation/ci.md
  tests/unit/test_mutation_ci_config.py
Due: mypy, fast-tests, import-linter

style: satisfy the prek quality gates
  portolan_cli/extract/common/converters/esri.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/test_styles.py
Due: mypy, fast-tests, import-linter

Fix null colors handling in ArcGIS renderer - 2 (#745)
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/converters/base.py
  portolan_cli/extract/common/converters/esri.py
  portolan_cli/extract/common/styles.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/converters/test_base.py
  tests/unit/extract/common/converters/test_esri.py
  tests/unit/extract/common/test_styles.py
Due: mypy, fast-tests, import-linter

fix(metadata): re-extract a raster's bands on a metadata refresh (#737)
  portolan_cli/metadata/update.py
  tests/unit/test_metadata_update.py
Due: mypy, fast-tests, import-linter

fix(sync): skip a missing optional derivative on push (#735)
  .claude/rules/sync.md
  AGENTS.md
  portolan_cli/collection_thumbnail.py
  portolan_cli/constants.py
  portolan_cli/convert.py
  portolan_cli/derived_assets.py
  portolan_cli/stac_parquet.py
  portolan_cli/sync/push.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/pmtiles_links.py
  portolan_cli/viz/style.py
  portolan_cli/viz/thumbnail.py
  tests/integration/test_push_missing_derived_asset.py
  tests/unit/test_derived_assets.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix(pmtiles): make --force-pmtiles generate tiles and drop gpio-pmtiles
  .claude/rules/conversion-and-visualization.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/validation/remediation.py
  portolan_cli/viz/pmtiles.py
  pyproject.toml
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_pmtiles.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

style(pmtiles): put the install hint on one line
  portolan_cli/metadata/pmtiles.py
Due: mypy, fast-tests, import-linter

fix(pmtiles): make --force-pmtiles generate tiles and drop gpio-pmtiles (#782)
  .claude/rules/conversion-and-visualization.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/validation/remediation.py
  portolan_cli/viz/pmtiles.py
  pyproject.toml
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_pmtiles.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(check): point PTL-VIZ-004 remediation at 'portolan add --pmtiles'
  portolan_cli/validation/remediation.py
Due: mypy, fast-tests, import-linter

fix(viz): write loadable pmtiles:// style sources with the archive zoom range
  portolan_cli/extract/common/converters/base.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/style.py
  tests/integration/test_thumbnail_workflow.py
  tests/unit/extract/common/converters/test_base.py
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

fix(formats): list GeoPackage layers from gpkg_contents, features only
  portolan_cli/formats.py
  tests/unit/test_multilayer.py
Due: mypy, fast-tests, import-linter

fix(crs): fail fast when a bbox assumed WGS84 exceeds lon/lat range
  portolan_cli/crs.py
  tests/unit/test_crs_validation.py
  tests/unit/test_stac_extensions.py
Due: mypy, fast-tests, import-linter

fix(crs): scope the WGS84 range guard and cover the add path
  portolan_cli/crs.py
  tests/fixtures/scan/complete_shapefile_wgs84/radios_sample.dbf
  tests/fixtures/scan/complete_shapefile_wgs84/radios_sample.prj
  tests/fixtures/scan/complete_shapefile_wgs84/radios_sample.shp
  tests/fixtures/scan/complete_shapefile_wgs84/radios_sample.shx
  tests/integration/test_add_rm_integration.py
  tests/integration/test_bbox_validation.py
Due: mypy, fast-tests, import-linter

chore: newline at end of wgs84 fixture .prj (end-of-file-fixer)
  AGENTS.md
  tests/fixtures/scan/complete_shapefile_wgs84/radios_sample.prj
Due: none

fix(convert): repair shapefile encoding sidecars before conversion
  portolan_cli/convert.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

fix(viz): render thumbnails from the GeoParquet, PMTiles as fallback
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/thumbnail.py
  tests/unit/test_thumbnail.py
Due: mypy, fast-tests, import-linter

fix(bbox): measure the collection extent from data, not the bbox rectangle
  portolan_cli/crs.py
  portolan_cli/preparation.py
  tests/unit/test_collection_extent_from_data.py
Due: mypy, fast-tests, import-linter

fix(bbox): keep an antimeridian crossing in the measured extent
  portolan_cli/crs.py
  tests/unit/test_collection_extent_from_data.py
Due: mypy, fast-tests, import-linter

refactor(bbox): split the measurement to stay under the complexity ceiling
  portolan_cli/crs.py
Due: mypy, fast-tests, import-linter

feat(convert): generate conforming GeoParquet by default
  .claude/rules/conversion-and-visualization.md
  docs/reference/configuration.md
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/geoparquet.py
  portolan_cli/preparation.py
  portolan_cli/validation/fixers.py
  tests/integration/test_add_integration.py
  tests/integration/test_add_spatial_optimization.py
  tests/integration/test_generated_catalog_conformance.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/test_add_directory.py
  tests/unit/test_conversion_config.py
  tests/unit/test_convert.py
  tests/unit/test_metadata_geoparquet.py
  tests/unit/test_preparation.py
  tests/unit/validation/test_fixers.py
Due: mypy, fast-tests, import-linter

fix(convert): close the gaps an adversarial review found in #805
  .claude/rules/conversion-and-visualization.md
  AGENTS.md
  context/shared/known-issues/geoparquet-io-write-drops-crs.md
  docs/reference/configuration.md
  portolan_cli/add.py
  portolan_cli/cli.py
  portolan_cli/conversion_config.py
  portolan_cli/errors.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/geoparquet.py
  portolan_cli/preparation.py
  portolan_cli/utils.py
  tests/integration/test_add_spatial_optimization.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/test_conversion_config.py
  tests/unit/test_metadata_geoparquet.py
  tests/unit/test_preparation.py
  tests/unit/test_utils_format_size.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(known-issues): upstream already fixed the CRS bug, our pin is stale
  .claude/rules/conversion-and-visualization.md
  AGENTS.md
  context/shared/known-issues/geoparquet-io-write-drops-crs.md
Due: validate-claude-md

docs(known-issues): link the CRS note to the pin-bump ticket
  context/shared/known-issues/geoparquet-io-write-drops-crs.md
Due: validate-claude-md

docs: reset v1 documentation
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  README.md
  context/shared/documentation/v1-documentation-scope.md
  docs/examples.md
  docs/guides/extract-arcgis.md
  docs/guides/extract-wfs.md
  docs/guides/iceberg.md
  docs/guides/licensing.md
  docs/guides/merge-strategies.md
  docs/guides/metadata-defaults.md
  docs/guides/nested-catalogs.md
  docs/guides/partitioning.md
  docs/guides/skills.md
  docs/guides/version-management.md
  docs/index.md
  docs/reference/cli.md
  docs/reference/configuration.md
  docs/reference/formats.md
  docs/reference/iceberg-api.md
  docs/reference/index.md
  docs/reference/input-formats.md
  docs/reference/python.md
  docs/reference/versions-manifest.md
  examples/local-publishing.sh
  examples/minio-round-trip.sh
  mkdocs.yml
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/sync/download.py
  portolan_cli/sync/upload.py
  scripts/generate_reference_docs.py
  tests/docs/test_reference_generation.py
  tests/docs/test_v1_examples.py
  tests/unit/test_s3_endpoint_settings.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs: add tested publishing example
  .github/workflows/ci.yml
  README.md
  context/shared/documentation/v1-documentation-scope.md
  docs/examples.md
  examples/local-publishing.sh
  examples/minio-round-trip.sh
  examples/publish-catalog/README.md
  examples/publish-catalog/metadata.yaml
  examples/publish-catalog/points.parquet
  examples/publish-catalog/run.sh
  tests/docs/test_v1_examples.py
Due: mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
