Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(add): wire tabular conversion and fix source file deletion bug (#432)
  portolan_cli/dataset.py
  portolan_cli/scan_classify.py
  tests/unit/test_tabular_support.py
Due: mypy, fast-tests, import-linter

fix(add): address adversarial review findings for tabular support (#432)
  context/shared/adr/0047-non-geo-tabular-data-support.md
  portolan_cli/dataset.py
  tests/unit/test_tabular_support.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(add): track source files in tabular conversion for consistency (#432)
  context/shared/adr/0047-non-geo-tabular-data-support.md
  portolan_cli/dataset.py
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(add): non-geo tabular data support (#432) (#449)
  CLAUDE.md
  context/shared/adr/0047-non-geo-tabular-data-support.md
  portolan_cli/config.py
  portolan_cli/constants.py
  portolan_cli/dataset.py
  portolan_cli/scan_classify.py
  pyproject.toml
  tests/unit/test_collection_level_assets.py
  tests/unit/test_list_with_status.py
  tests/unit/test_scan_classify.py
  tests/unit/test_tabular_parquet_skip.py
  tests/unit/test_tabular_support.py
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(extract): gracefully handle empty WFS layers (#450)
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/report.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/test_extract_auto_init.py
  tests/integration/extract/wfs/test_wfs_extract.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/arcgis/test_report.py
  tests/unit/extract/arcgis/test_resume.py
  tests/unit/extract/common/test_resume.py
  tests/unit/extract/wfs/test_empty_layer_handling.py
  tests/unit/extract/wfs/test_orchestrator.py
  tests/unit/test_issue_353_via_link.py
Due: mypy, fast-tests, import-linter

fix: address adversarial review findings for empty WFS layers
  portolan_cli/cli.py
  portolan_cli/extract/common/resume.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/unit/extract/common/test_resume.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(extract): gracefully handle empty WFS layers (#450) (#451)
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/report.py
  portolan_cli/extract/common/resume.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/test_extract_auto_init.py
  tests/integration/extract/wfs/test_wfs_extract.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/arcgis/test_report.py
  tests/unit/extract/arcgis/test_resume.py
  tests/unit/extract/common/test_resume.py
  tests/unit/extract/wfs/test_empty_layer_handling.py
  tests/unit/extract/wfs/test_orchestrator.py
  tests/unit/test_issue_353_via_link.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(add): merge strategy for preserving human-authored metadata (#446)
  docs/guides/merge-strategies.md
  mkdocs.yml
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/item.py
  portolan_cli/models/item.py
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
  tests/unit/models/test_item.py
  tests/unit/test_cli_info.py
  tests/unit/test_cli_stac_geoparquet.py
  tests/unit/test_csv_skip.py
  tests/unit/test_dataset.py
  tests/unit/test_inspect.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_item_creation.py
  tests/unit/test_merge_strategy.py
  tests/unit/test_metadata_detection.py
  tests/unit/test_metadata_validation.py
  tests/unit/test_pmtiles.py
  tests/unit/test_push.py
  tests/unit/test_push_async.py
  tests/unit/test_stac.py
  tests/unit/test_stac_parquet.py
  tests/unit/test_style.py
  tests/unit/test_validation_rules.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): strip Hive partition dirs from collection ID inference (#448)
  portolan_cli/scan.py
  tests/unit/test_hive_partition_collection_id.py
Due: mypy, fast-tests, import-linter

fix(scan): address adversarial review findings for Hive partition detection
  portolan_cli/scan.py
  tests/unit/test_hive_partition_collection_id.py
Due: mypy, fast-tests, import-linter

fix(scan): strip Hive partition dirs from collection ID inference (#453)
  portolan_cli/scan.py
  tests/unit/test_hive_partition_collection_id.py
Due: mypy, fast-tests, import-linter

test(merge-strategy): add integration tests and fix fixture MIME type
  tests/fixtures/metadata/stac/valid/item_geoparquet.json
  tests/integration/test_add_merge_strategy.py
Due: mypy, fast-tests, import-linter

fix(test): strengthen column description assertion in merge strategy test
  tests/integration/test_add_merge_strategy.py
Due: mypy, fast-tests, import-linter

feat(add): merge strategy for preserving human-authored metadata (#452)
  docs/guides/merge-strategies.md
  mkdocs.yml
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/item.py
  portolan_cli/models/item.py
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
  tests/fixtures/metadata/stac/valid/item_geoparquet.json
  tests/integration/test_add_merge_strategy.py
  tests/unit/models/test_item.py
  tests/unit/test_cli_info.py
  tests/unit/test_cli_stac_geoparquet.py
  tests/unit/test_csv_skip.py
  tests/unit/test_dataset.py
  tests/unit/test_inspect.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_item_creation.py
  tests/unit/test_merge_strategy.py
  tests/unit/test_metadata_detection.py
  tests/unit/test_metadata_validation.py
  tests/unit/test_pmtiles.py
  tests/unit/test_push.py
  tests/unit/test_push_async.py
  tests/unit/test_stac.py
  tests/unit/test_stac_parquet.py
  tests/unit/test_style.py
  tests/unit/test_validation_rules.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): correct incremental add asset accounting bugs (#447)
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/integration/test_add_incremental_accounting.py
Due: mypy, fast-tests, import-linter

fix(add): address adversarial review findings for PR #454
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/integration/test_add_incremental_accounting.py
Due: mypy, fast-tests, import-linter

fix: Windows path compatibility and test robustness for PR #454
  portolan_cli/dataset.py
  tests/integration/test_add_incremental_accounting.py
Due: mypy, fast-tests, import-linter

fix(add): correct incremental add asset accounting bugs (#454)
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/integration/test_add_incremental_accounting.py
Due: mypy, fast-tests, import-linter

bump: version 0.7.0 → 1.0.0a0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): separate security gate from notification
  .github/dependabot.yml
  .github/workflows/nightly.yml
  .github/workflows/security-audit.yml
Due: none

fix(deps): upgrade aiohttp 3.13.4 → 3.14.0 (CVE-2026-34993, CVE-2026-47265)
  uv.lock
Due: none

fix(ci): address review feedback on security workflow
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/security-audit.yml
Due: none

fix(ci): remove duplicate dependabot entry
  .github/dependabot.yml
Due: none

fix(check): tolerate remote/extension assets and unknown STAC extensions
  portolan_cli/metadata/scan.py
  portolan_cli/validation/stac_rules.py
  tests/integration/test_metadata_scan_unification.py
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

feat(add): register external/remote datasets in place via add-external
  README.md
  portolan_cli/cli.py
  portolan_cli/external.py
  tests/unit/test_add_external.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(partitioning): support arbitrary Hive partition column names (#443)
  docs/reference/configuration.md
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  portolan_cli/stac.py
  tests/integration/test_add_hive_partitions.py
  tests/unit/test_partitioning_arbitrary.py
Due: mypy, fast-tests, import-linter

fix(partitioning): address adversarial review findings
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  portolan_cli/stac.py
  tests/integration/test_add_hive_partitions.py
Due: mypy, fast-tests, import-linter

fix(deps): upgrade starlette 1.0.0 → 1.2.1 (PYSEC-2026-161)
  uv.lock
Due: none

fix(deps): upgrade starlette 1.0.0 → 1.2.1 (PYSEC-2026-161) (#466)
  uv.lock
Due: none

fix(partitioning): fix duplicate item IDs and glob asset key collision
  portolan_cli/dataset.py
  tests/unit/test_hive_partition_collection_id.py
  tests/unit/test_partitioning.py
Due: mypy, fast-tests, import-linter

fix(partitioning): correct Hive partition item_id derivation
  portolan_cli/dataset.py
  tests/unit/test_hive_partition_collection_id.py
Due: mypy, fast-tests, import-linter

feat(partitioning): support arbitrary Hive partition column names (#443) (#462)
  docs/reference/configuration.md
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  portolan_cli/stac.py
  tests/integration/test_add_hive_partitions.py
  tests/unit/test_hive_partition_collection_id.py
  tests/unit/test_partitioning.py
  tests/unit/test_partitioning_arbitrary.py
Due: mypy, fast-tests, import-linter

fix(benchmark): use minimal valid TIFF/Parquet fixtures to avoid error paths
  tests/benchmark/test_scan_performance.py
Due: mypy, fast-tests, import-linter

fix(thumbnail): apply plot-before-basemap fix to PMTiles path
  portolan_cli/thumbnail.py
Due: mypy, fast-tests, import-linter

fix(stress-test): disable GC during batch add and set 600s timeout (#465)
  portolan_cli/dataset.py
  tests/integration/test_versioning_stress.py
Due: mypy, fast-tests, import-linter

test(spec): add spec compliance tests for CLI output validation
  tests/spec_compliance/conftest.py
  tests/spec_compliance/schemas/README.md
  tests/spec_compliance/schemas/catalog-versions.schema.json
  tests/spec_compliance/schemas/catalog.schema.json
  tests/spec_compliance/schemas/collection.schema.json
  tests/spec_compliance/schemas/rules.yaml
  tests/spec_compliance/schemas/versions.schema.json
  tests/spec_compliance/test_catalog_schema.py
  tests/spec_compliance/test_collection_schema.py
  tests/spec_compliance/test_versions_schema.py
Due: mypy, fast-tests, import-linter

test(spec): add negative tests to prevent tautological validation
  tests/spec_compliance/conftest.py
  tests/spec_compliance/test_catalog_schema.py
  tests/spec_compliance/test_collection_schema.py
  tests/spec_compliance/test_validators.py
  tests/spec_compliance/test_versions_schema.py
Due: mypy, fast-tests, import-linter

fix(spec): wire VersionHistoryLink validation and add CLI exit assertions
  tests/spec_compliance/schemas/collection.schema.json
  tests/spec_compliance/test_catalog_schema.py
  tests/spec_compliance/test_collection_schema.py
  tests/spec_compliance/test_versions_schema.py
Due: mypy, fast-tests, import-linter

test(spec): add spec compliance tests for CLI output validation (#471)
  tests/spec_compliance/conftest.py
  tests/spec_compliance/schemas/README.md
  tests/spec_compliance/schemas/catalog-versions.schema.json
  tests/spec_compliance/schemas/catalog.schema.json
  tests/spec_compliance/schemas/collection.schema.json
  tests/spec_compliance/schemas/rules.yaml
  tests/spec_compliance/schemas/versions.schema.json
  tests/spec_compliance/test_catalog_schema.py
  tests/spec_compliance/test_collection_schema.py
  tests/spec_compliance/test_validators.py
  tests/spec_compliance/test_versions_schema.py
Due: mypy, fast-tests, import-linter

feat(ci): add CLI→Spec schema sync workflow
  .github/workflows/sync-schemas-to-spec.yml
Due: none

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
