Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

chore: remove tests/specs directory
  tests/specs/README.md
  tests/specs/check_fix_integration.md
  tests/specs/scan_nested_catalogs.md
  tests/specs/versions_source_tracking.md
Due: none

Revert "chore: remove tests/specs directory"
  tests/specs/README.md
  tests/specs/check_fix_integration.md
  tests/specs/scan_nested_catalogs.md
  tests/specs/versions_source_tracking.md
Due: none

chore: remove AI-generated test specs
  tests/specs/check_fix_integration.md
  tests/specs/scan_nested_catalogs.md
  tests/specs/versions_source_tracking.md
Due: none

feat(scan): nested catalog support with structure recommendations (#242)
  .gitignore
  codecov.yml
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/formats.py
  portolan_cli/scan.py
  portolan_cli/scan_output.py
  portolan_cli/scan_progress.py
  tests/fixtures/scan/README.md
  tests/fixtures/scan/deep_nested/level1/level2/level3/level4/level5/data.parquet
  tests/fixtures/scan/deep_nested/level1/level2/shallow_collection/data.parquet
  tests/fixtures/scan/flat_collection/bomenrij.parquet
  tests/fixtures/scan/flat_collection/milieuzone.parquet
  tests/fixtures/scan/flat_collection/peilbuizen.parquet
  tests/fixtures/scan/geoparquet_with_companions/data.parquet
  tests/fixtures/scan/geoparquet_with_companions/lookup.parquet
  tests/fixtures/scan/mixed_depths/shallow_collection/data.parquet
  tests/fixtures/scan/mixed_depths/theme/nested_collection/data.parquet
  tests/fixtures/scan/multiple_geoparquet/milieuzone.parquet
  tests/fixtures/scan/multiple_geoparquet/peilbuizen.parquet
  tests/fixtures/scan/three_level_nested/GAUL_L2/by_country/AFG/AFG.parquet
  tests/fixtures/scan/three_level_nested/GAUL_L2/by_country/ALB/ALB.parquet
  tests/integration/test_add_rm_integration.py
  tests/integration/test_convert_workflow.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_formats_edge_cases.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_scan.py
  tests/unit/test_scan_nested.py
  tests/unit/test_scan_output.py
  tests/unit/test_scan_progress.py
  tests/unit/test_scan_strict.py
  tests/unit/test_scan_structure.py
  tests/unit/test_stac_links_regression.py
  tests/unit/test_status_filegdb.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): git-style command scoping for list, push, pull
  CLAUDE.md
  context/shared/adr/0033-git-style-command-scoping.md
  portolan_cli/cli.py
  tests/unit/test_cli_list.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(cli): remove unnecessary ADR and dead code
  CLAUDE.md
  context/shared/adr/0033-git-style-command-scoping.md
  portolan_cli/cli.py
  tests/integration/test_catalog_root_consistency.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): git-style command scoping for list, push, pull (#243)
  CLAUDE.md
  portolan_cli/cli.py
  tests/integration/test_catalog_root_consistency.py
  tests/unit/test_cli_list.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(push): add parallel push with --workers flag (#229)
  portolan_cli/cli.py
  portolan_cli/push.py
  tests/integration/test_push_parallel_integration.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_push_parallel.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): address thread safety, validation, and test stability issues
  portolan_cli/cli.py
  portolan_cli/output.py
  portolan_cli/push.py
  portolan_cli/scan_fix.py
  tests/integration/test_push_parallel_integration.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_push_parallel.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(push): add pytest unit marker to parallel push tests
  tests/unit/test_push_parallel.py
Due: mypy, fast-tests, import-linter

feat(pull): add parallel pull with --workers flag
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/pull.py
  tests/integration/test_pull_integration.py
  tests/integration/test_pull_parallel_integration.py
  tests/unit/test_pull_parallel.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(parallel): extract common parallel infrastructure and address review issues
  portolan_cli/cli.py
  portolan_cli/output.py
  portolan_cli/parallel.py
  portolan_cli/pull.py
  portolan_cli/push.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_pull_parallel.py
  tests/unit/test_push_parallel.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test: update empty catalog tests to expect success
  tests/integration/test_pull_integration.py
  tests/integration/test_pull_parallel_integration.py
  tests/unit/test_push_catalog_wide.py
Due: mypy, fast-tests, import-linter

fix(cli): add exception handling to pull command and update help text
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(push): add parallel push with --workers flag (#244)
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/output.py
  portolan_cli/parallel.py
  portolan_cli/pull.py
  portolan_cli/push.py
  portolan_cli/scan_fix.py
  tests/integration/test_pull_integration.py
  tests/integration/test_pull_parallel_integration.py
  tests/integration/test_push_parallel_integration.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_pull_parallel.py
  tests/unit/test_push_catalog_wide.py
  tests/unit/test_push_parallel.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

bump: version 0.5.0 → 1.0.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump: version 0.5.0 → 0.6.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump: version 0.5.0 → 0.6.0 (#246)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: document ESRI GDB raster limitation
  CLAUDE.md
  context/shared/adr/0033-esri-gdb-raster-gdal-requirement.md
  docs/reference/formats.md
  mkdocs.yml
Due: validate-claude-md

docs: document ESRI GDB raster limitation (#247)
  CLAUDE.md
  context/shared/adr/0033-esri-gdb-raster-gdal-requirement.md
  docs/reference/formats.md
  mkdocs.yml
Due: validate-claude-md

docs: fix sync workflow description to include all 5 steps
  README.md
  context/shared/documentation/parseltongue-audit-2026-03-20.md
Due: none

docs: consolidate README for clarity
  README.md
Due: none

docs: fix mkdocs link and remove audit doc
  README.md
  context/shared/documentation/parseltongue-audit-2026-03-20.md
Due: none

docs: fix sync workflow description and consolidate README (#248)
  README.md
Due: none

fix(dataset): correct asset paths for collection-level assets
  .portolan/config.yaml
  .portolan/state.json
  catalog.json
  portolan_cli/dataset.py
  tests/fixtures/simple.parquet
  tests/integration/test_collection_level_asset_workflow.py
  tests/unit/test_collection_level_assets.py
  versions.json
Due: mypy, fast-tests, import-linter

fix(dataset): address CodeRabbit review findings for collection-level assets
  .gitignore
  .portolan/config.yaml
  .portolan/state.json
  catalog.json
  portolan_cli/dataset.py
  tests/unit/test_collection_level_assets.py
  tests/unit/test_dataset.py
  versions.json
Due: mypy, fast-tests, import-linter

fix(dataset): explicit item_id now forces item-level structure
  portolan_cli/dataset.py
Due: mypy, fast-tests, import-linter

chore: lower codecov thresholds to 80% with 10% tolerance
  codecov.yml
Due: none

chore: adjust codecov to 90% project, 80% patch
  codecov.yml
Due: none

fix(dataset): correct asset paths for collection-level assets (#253)
  .gitignore
  codecov.yml
  portolan_cli/dataset.py
  tests/fixtures/simple.parquet
  tests/integration/test_collection_level_asset_workflow.py
  tests/unit/test_collection_level_assets.py
  tests/unit/test_dataset.py
Due: mypy, fast-tests, import-linter

fix(push): recursive collection discovery for nested catalogs
  portolan_cli/push.py
  tests/unit/test_discover_nested_collections.py
Due: mypy, fast-tests, import-linter

feat(push): upload STAC metadata files for full catalog sync (#252)
  portolan_cli/push.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
Due: mypy, fast-tests, import-linter

fix(dataset): use actual relative path for asset href in versions.json
  portolan_cli/dataset.py
  tests/unit/test_dataset.py
Due: mypy, fast-tests, import-linter

docs: fix documentation inconsistencies found by parseltongue review
  CLAUDE.md
  README.md
  SKILL.md
  context/shared/adr/0022-git-style-implicit-tracking.md
  docs/contributing.md
Due: validate-claude-md, validate-skill-md

docs: fix documentation inconsistencies found by parseltongue review (#257)
  CLAUDE.md
  README.md
  SKILL.md
  context/shared/adr/0022-git-style-implicit-tracking.md
  docs/contributing.md
Due: validate-claude-md, validate-skill-md

fix(push): correct STAC file discovery and reduce complexity
  portolan_cli/push.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix(push): use forward slashes for STAC keys on Windows
  portolan_cli/push.py
Due: mypy, fast-tests, import-linter

fix(push): use forward slashes for asset keys on Windows
  portolan_cli/push.py
Due: mypy, fast-tests, import-linter

fix(push): standalone push creates clonable catalog, STAC rollback
  portolan_cli/push.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
Due: mypy, fast-tests, import-linter

fix(tests): mock catalog.json upload in parallel push tests
  tests/integration/test_push_parallel_integration.py
Due: mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
