Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

perf(async): Parallelize STAC/README uploads and add connection pooling
  portolan_cli/pull.py
  portolan_cli/push.py
Due: mypy, fast-tests, import-linter

refactor(push): use upload.py store setup (wave 5)
  portolan_cli/push.py
  portolan_cli/upload.py
  tests/integration/test_push_integration.py
Due: mypy, fast-tests, import-linter

fix(tests): add verbose parameter to push_async mock assertions
  tests/unit/test_push_catalog_wide.py
Due: mypy, fast-tests, import-linter

fix(tests): update _setup_store imports after wave 5 consolidation
  portolan_cli/push.py
  tests/unit/test_push.py
  tests/unit/test_sync.py
Due: mypy, fast-tests, import-linter

fix(tests): add --verbose flag per ADR-0040 output model
  tests/integration/test_add_catalog_root_integration.py
Due: mypy, fast-tests, import-linter

feat(async): Complete async migration for push/pull operations (#321)
  .github/workflows/ci.yml
  .menard/links.toml
  CLAUDE.md
  context/shared/adr/0040-unified-progress-output.md
  context/shared/plans/pr-321-async-migration-fixes.md
  portolan_cli/add_progress.py
  portolan_cli/async_utils.py
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/parallel.py
  portolan_cli/pull.py
  portolan_cli/push.py
  portolan_cli/sync.py
  portolan_cli/upload.py
  tests/integration/test_add_catalog_root_integration.py
  tests/integration/test_pull_parallel_integration.py
  tests/integration/test_push_integration.py
  tests/integration/test_push_parallel_integration.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_add_progress.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_cli_profile_default.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_pull.py
  tests/unit/test_pull_async.py
  tests/unit/test_pull_parallel.py
  tests/unit/test_push.py
  tests/unit/test_push_async.py
  tests/unit/test_push_catalog_wide.py
  tests/unit/test_push_default_remote.py
  tests/unit/test_push_parallel.py
  tests/unit/test_push_verbose.py
  tests/unit/test_sync.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(progress): Address code review feedback and fix test failures
  portolan_cli/cli.py
  portolan_cli/push.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(progress): ADR-0040 compliance and stat error handling
  portolan_cli/cli.py
  portolan_cli/download.py
  portolan_cli/pull.py
  portolan_cli/push.py
  portolan_cli/upload.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(progress): Unified progress output model (ADR-0040) (#320)
  portolan_cli/cli.py
  portolan_cli/download.py
  portolan_cli/pull.py
  portolan_cli/push.py
  portolan_cli/upload.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

perf(scan): Fix O(n²) performance in _check_mixed_structure (#314)
  portolan_cli/scan.py
  tests/benchmark/test_scan_performance.py
  tests/unit/test_scan_structure.py
Due: mypy, fast-tests, import-linter

perf(scan): Fix O(n²) performance in _check_mixed_structure (#314) (#326)
  portolan_cli/scan.py
  tests/benchmark/test_scan_performance.py
  tests/unit/test_scan_structure.py
Due: mypy, fast-tests, import-linter

docs(plans): Add metadata extractor abstraction design
  context/shared/plans/2026-04-07-metadata-extractor-abstraction-design.md
Due: none

feat(stac-geoparquet): Generate items.parquet for large collections (#319)
  SKILL.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/inspect.py
  portolan_cli/stac_parquet.py
  pyproject.toml
  tests/unit/test_cli_stac_geoparquet.py
  tests/unit/test_stac_parquet.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac-geoparquet): Address PR review feedback
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/stac_parquet.py
  tests/unit/test_stac_parquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat: Add metadata extraction abstraction (Wave 1) (#312, #316)
  portolan_cli/metadata_extraction.py
  portolan_cli/metadata_seeding.py
  tests/unit/test_metadata_extraction.py
  tests/unit/test_metadata_seeding.py
Due: mypy, fast-tests, import-linter

feat(extract): Add .to_extracted() to ArcGISMetadata (Wave 2A)
  portolan_cli/extract/arcgis/metadata.py
  portolan_cli/metadata_extraction.py
  tests/unit/extract/arcgis/test_metadata_to_extracted.py
Due: mypy, fast-tests, import-linter

feat(extract): Add .to_extracted() to ImageServerMetadataExtracted (Wave 2B)
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/metadata_extraction.py
  tests/unit/extract/arcgis/imageserver/test_report_to_extracted.py
Due: mypy, fast-tests, import-linter

feat(validation): Add #316 field validation (Wave 2D)
  docs/reference/configuration.md
  portolan_cli/metadata_yaml.py
  tests/unit/test_metadata_yaml_316_validation.py
Due: mypy, fast-tests, import-linter

feat(readme): Add #316 section generators (Wave 2C)
  docs/reference/configuration.md
  portolan_cli/readme.py
  tests/unit/test_readme_316_sections.py
Due: mypy, fast-tests, import-linter

feat(extract): Wire ImageServer to auto-seed metadata.yaml (Wave 3B)
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/metadata_seeding.py
  tests/integration/extract/test_imageserver_metadata_seeding.py
Due: mypy, fast-tests, import-linter

feat(extract): Wire FeatureServer to auto-seed metadata.yaml (Wave 3A)
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/metadata.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/metadata_extraction.py
  portolan_cli/metadata_seeding.py
  tests/integration/extract/test_featureserver_metadata_seeding.py
Due: mypy, fast-tests, import-linter

feat(stac-geoparquet): catalog-level generation, versioning integration, docs
  .menard/links.toml
  SKILL.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/stac_parquet.py
  tests/unit/test_cli_stac_geoparquet.py
  tests/unit/test_stac_parquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

revert: Remove stac-geoparquet contamination from metadata-extractor branch
  SKILL.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/inspect.py
  portolan_cli/stac_parquet.py
  pyproject.toml
  tests/unit/test_cli_stac_geoparquet.py
  tests/unit/test_stac_parquet.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(stac-geoparquet): Generate items.parquet for large collections (#319) (#327)
  .menard/links.toml
  SKILL.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/inspect.py
  portolan_cli/stac_parquet.py
  pyproject.toml
  tests/unit/test_cli_stac_geoparquet.py
  tests/unit/test_stac_parquet.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: Address adversarial review findings for metadata extractor
  docs/reference/configuration.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/metadata_seeding.py
  portolan_cli/metadata_yaml.py
  portolan_cli/readme.py
  tests/integration/extract/test_imageserver_metadata_seeding.py
  tests/unit/test_metadata_yaml_316_validation.py
Due: mypy, fast-tests, import-linter

chore: Address code review comments
  docs/guides/extract-arcgis.md
  tests/integration/extract/test_featureserver_metadata_seeding.py
Due: mypy, fast-tests, import-linter

fix(push): Only upload new/changed assets by diffing sha256 against remote (#329)
  portolan_cli/push.py
  tests/integration/test_push_integration.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix(push/pull): Pass --concurrency to catalog-wide operations (#323)
  portolan_cli/cli.py
  portolan_cli/pull.py
  portolan_cli/push.py
  tests/unit/test_concurrency_flag_issue_323.py
  tests/unit/test_push_catalog_wide.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(pull): add --restore flag to recover missing local files (#325)
  portolan_cli/cli.py
  portolan_cli/pull.py
  tests/unit/test_pull_restore.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(clone): Recurse into nested subcatalogs when cloning (#324)
  portolan_cli/sync.py
  tests/unit/test_sync.py
Due: mypy, fast-tests, import-linter

fix: revert slug hyphen preservation and address code review
  .menard/links.toml
  docs/reference/configuration.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/metadata_yaml.py
  tests/integration/extract/test_imageserver_metadata_seeding.py
Due: mypy, fast-tests, import-linter

feat: Metadata extractor abstraction design (#312, #316) (#328)
  .menard/links.toml
  context/shared/plans/2026-04-07-metadata-extractor-abstraction-design.md
  docs/guides/extract-arcgis.md
  docs/reference/configuration.md
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/extract/arcgis/metadata.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/metadata_extraction.py
  portolan_cli/metadata_seeding.py
  portolan_cli/metadata_yaml.py
  portolan_cli/readme.py
  tests/integration/extract/test_featureserver_metadata_seeding.py
  tests/integration/extract/test_imageserver_metadata_seeding.py
  tests/unit/test_metadata_yaml_316_validation.py
  tests/unit/test_readme_316_sections.py
Due: mypy, fast-tests, import-linter

fix(clone): preserve full path for nested collections (#324)
  .menard/links.toml
  portolan_cli/sync.py
  tests/integration/test_nested_catalog_clone.py
  tests/unit/test_sync.py
Due: mypy, fast-tests, import-linter

test: add real SHA256 diffing tests and moto-based S3 integration tests
  pyproject.toml
  tests/integration/test_s3_moto.py
  tests/unit/test_push.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(test): rename fixture to _aws_env to match parameter names
  tests/integration/test_s3_moto.py
Due: mypy, fast-tests, import-linter

fix(tests): use 127.0.0.1 for moto server on Windows
  tests/integration/test_s3_moto.py
Due: mypy, fast-tests, import-linter

docs: add clone/restore documentation for nested catalogs
  .menard/links.toml
  docs/guides/nested-catalogs.md
Due: none

fix(push): upload renamed files even when sha256 matches
  portolan_cli/push.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix: sync/push/pull improvements (#323, #324, #325, #329) (#330)
  .menard/links.toml
  docs/guides/nested-catalogs.md
  portolan_cli/cli.py
  portolan_cli/pull.py
  portolan_cli/push.py
  portolan_cli/sync.py
  pyproject.toml
  tests/integration/test_nested_catalog_clone.py
  tests/integration/test_push_integration.py
  tests/integration/test_s3_moto.py
  tests/unit/test_concurrency_flag_issue_323.py
  tests/unit/test_pull_restore.py
  tests/unit/test_push.py
  tests/unit/test_push_catalog_wide.py
  tests/unit/test_sync.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
