Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix: report would-push estimate in push --dry-run summary (#804)
  portolan_cli/sync/push.py
  tests/unit/test_push.py
  tests/unit/test_push_catalog_wide.py
Due: mypy, fast-tests, import-linter

fix: keep source CRS in arcgis extract instead of silent WGS84 (#802)
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/test_cli_extract_arcgis.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: cover CRS restamp chain and guard non-dict source CRS (#836)
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

fix: extract into an existing catalog adds a collection instead of aborting (#767)
  portolan_cli/extract/common/orchestrator_base.py
  tests/integration/extract/test_extract_auto_init.py
  tests/unit/extract/common/test_orchestrator_base.py
Due: mypy, fast-tests, import-linter

fix: cover ImageServer path and protect root metadata on re-extraction (#832)
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/carto/orchestrator.py
  portolan_cli/extract/common/orchestrator_base.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/test_extract_auto_init.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
  tests/unit/extract/common/test_orchestrator_base.py
Due: mypy, fast-tests, import-linter

push --dry-run reports "0 version(s), 0 file(s)" for collections it would fully upload (#833)
  portolan_cli/cli.py
  portolan_cli/sync/push.py
  tests/unit/test_push.py
  tests/unit/test_push_catalog_wide.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

extract into an existing catalog writes data and styles, then aborts before collection.json (#832)
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/carto/orchestrator.py
  portolan_cli/extract/common/orchestrator_base.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/test_extract_auto_init.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
  tests/unit/extract/common/test_orchestrator_base.py
Due: mypy, fast-tests, import-linter

add overwrites each collection's title with the catalog root's, and rewrites stac_extensions to the bundled schema version (#835)
  portolan_cli/add.py
  portolan_cli/config.py
  portolan_cli/finalization.py
  portolan_cli/stac.py
  tests/integration/test_readd_preserves_metadata.py
  tests/unit/test_apply_human_metadata.py
  tests/unit/test_schema_uri.py
Due: mypy, fast-tests, import-linter

fix: close the Parquet reader before the CRS restamp replaces the file
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

extract arcgis silently reprojects the source CRS to WGS84 and writes crs: null (#836)
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/test_cli_extract_arcgis.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(init): add --id to set the catalog id
  examples/philadelphia-housing/01-create-catalog.sh
  examples/philadelphia-housing/README.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/carto/orchestrator.py
  portolan_cli/extract/common/orchestrator_base.py
  portolan_cli/extract/wfs/orchestrator.py
  portolan_cli/input_hardening.py
  tests/integration/extract/test_extract_auto_init.py
  tests/integration/test_init_command.py
  tests/unit/extract/common/test_orchestrator_base.py
  tests/unit/test_cli_extract_arcgis.py
  tests/unit/test_cli_extract_carto.py
  tests/unit/test_cli_extract_wfs.py
  tests/unit/test_cli_init.py
  tests/unit/test_input_hardening.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(init): check --id before extract downloads, and cover the extract defaults
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/common/orchestrator_base.py
  portolan_cli/input_hardening.py
  portolan_cli/validation/__init__.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
  tests/unit/test_cli_extract_arcgis.py
  tests/unit/test_cli_extract_carto.py
  tests/unit/test_cli_extract_wfs.py
  tests/unit/test_cli_init.py
  tests/unit/test_input_hardening.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(extract): pin the --id check before the ImageServer branch
  tests/unit/test_cli_extract_arcgis.py
Due: mypy, fast-tests, import-linter

init: add --id to set the catalog id (#837)
  examples/philadelphia-housing/01-create-catalog.sh
  examples/philadelphia-housing/README.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/carto/orchestrator.py
  portolan_cli/extract/common/orchestrator_base.py
  portolan_cli/extract/wfs/orchestrator.py
  portolan_cli/input_hardening.py
  portolan_cli/validation/__init__.py
  tests/integration/extract/test_extract_auto_init.py
  tests/integration/test_init_command.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
  tests/unit/extract/common/test_orchestrator_base.py
  tests/unit/test_cli_extract_arcgis.py
  tests/unit/test_cli_extract_carto.py
  tests/unit/test_cli_extract_wfs.py
  tests/unit/test_cli_init.py
  tests/unit/test_input_hardening.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(check): require stac_version before a JSON counts as the directory's item
  portolan_cli/metadata/scan.py
  tests/integration/test_check_fix_no_regression.py
Due: mypy, fast-tests, import-linter

fix(check): stop --fix rewriting every item and fabricating a second one
  .claude/rules/scan-check.md
  portolan_cli/cli.py
  portolan_cli/metadata/detection.py
  portolan_cli/metadata/scan.py
  portolan_cli/metadata/update.py
  portolan_cli/validation/fixers.py
  tests/integration/test_check_fix_no_regression.py
  tests/unit/metadata/test_hierarchical_layout.py
  tests/unit/test_metadata_update.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(check): stop an item asset from reading a colliding bare versions key (#841)
  portolan_cli/metadata/detection.py
  portolan_cli/metadata/update.py
  tests/unit/metadata/test_hierarchical_layout.py
Due: mypy, fast-tests, import-linter

fix(check): --fix no longer rewrites untouched items or writes a second one (#841)
  .claude/rules/scan-check.md
  portolan_cli/cli.py
  portolan_cli/metadata/detection.py
  portolan_cli/metadata/scan.py
  portolan_cli/metadata/update.py
  portolan_cli/validation/fixers.py
  tests/integration/test_check_fix_no_regression.py
  tests/unit/metadata/test_hierarchical_layout.py
  tests/unit/test_metadata_update.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(docs): the generator still described the CRS refusal
  scripts/generate_reference_docs.py
Due: mypy, fast-tests, import-linter

docs(known-issues): link the DuckDB segfault to duckdb-spatial#860
  context/shared/known-issues/duckdb-155-st-read-meta-segfault.md
Due: validate-claude-md

feat(convert): generate conforming GeoParquet by default
  .claude/rules/conversion-and-visualization.md
  AGENTS.md
  context/shared/known-issues/geoparquet-io-write-drops-crs.md
  docs/reference/configuration.md
  docs/reference/index.md
  mkdocs.yml
  portolan_cli/add.py
  portolan_cli/cli.py
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  portolan_cli/errors.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/geoparquet.py
  portolan_cli/preparation.py
  portolan_cli/utils.py
  portolan_cli/validation/fixers.py
  scripts/generate_reference_docs.py
  tests/docs/test_reference_generation.py
  tests/integration/test_add_integration.py
  tests/integration/test_add_spatial_optimization.py
  tests/integration/test_generated_catalog_conformance.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/test_add_directory.py
  tests/unit/test_conversion_config.py
  tests/unit/test_convert.py
  tests/unit/test_metadata_geoparquet.py
  tests/unit/test_preparation.py
  tests/unit/test_utils_format_size.py
  tests/unit/validation/test_fixers.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): a dropped WGS84 CRS is not a loss, so stop refusing the rewrite
  portolan_cli/preparation.py
  tests/integration/test_add_spatial_optimization.py
  tests/unit/test_preparation.py
Due: mypy, fast-tests, import-linter

fix(deps): bump geoparquet-io to 1.4.0 and keep the CRS on rewrite
  .claude/rules/conversion-and-visualization.md
  AGENTS.md
  context/shared/known-issues/duckdb-155-st-read-meta-segfault.md
  context/shared/known-issues/geoparquet-io-s2-unavailable.md
  context/shared/known-issues/geoparquet-io-write-drops-crs.md
  docs/reference/configuration.md
  portolan_cli/convert.py
  portolan_cli/crs.py
  portolan_cli/preparation.py
  pyproject.toml
  tests/integration/test_add_spatial_optimization.py
  tests/integration/test_bbox_validation.py
  tests/unit/test_convert.py
  tests/unit/test_preparation.py
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(convert): generate conforming GeoParquet by default (#808)
  .claude/rules/conversion-and-visualization.md
  AGENTS.md
  context/shared/known-issues/duckdb-155-st-read-meta-segfault.md
  context/shared/known-issues/geoparquet-io-s2-unavailable.md
  context/shared/known-issues/geoparquet-io-write-drops-crs.md
  docs/reference/configuration.md
  docs/reference/index.md
  mkdocs.yml
  portolan_cli/add.py
  portolan_cli/cli.py
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  portolan_cli/crs.py
  portolan_cli/errors.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/geoparquet.py
  portolan_cli/preparation.py
  portolan_cli/utils.py
  portolan_cli/validation/fixers.py
  pyproject.toml
  scripts/generate_reference_docs.py
  tests/docs/test_reference_generation.py
  tests/integration/test_add_integration.py
  tests/integration/test_add_spatial_optimization.py
  tests/integration/test_bbox_validation.py
  tests/integration/test_generated_catalog_conformance.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/test_add_directory.py
  tests/unit/test_conversion_config.py
  tests/unit/test_convert.py
  tests/unit/test_metadata_geoparquet.py
  tests/unit/test_preparation.py
  tests/unit/test_utils_format_size.py
  tests/unit/validation/test_fixers.py
  uv.lock
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test: declare a license in the benchmark catalog fixture (#842)
  tests/benchmark/test_batch_versioning_benchmark.py
Due: mypy, fast-tests, import-linter

perf(ci): start 4 test workers and measure coverage on one cell
  .github/workflows/ci.yml
  context/shared/documentation/ci.md
  pyproject.toml
  tests/conftest.py
Due: mypy, fast-tests, import-linter

perf(tests): build expensive catalogs once per module in hot tests
  tests/integration/test_partition_paths.py
  tests/integration/test_push_integration.py
  tests/integration/test_versioning_stress.py
Due: mypy, fast-tests, import-linter

test: declare a license in the benchmark catalog fixture (#842) (#843)
  tests/benchmark/test_batch_versioning_benchmark.py
Due: mypy, fast-tests, import-linter

perf(tests): remove a double catalog build and two slow-test hotspots
  tests/integration/test_add_spatial_optimization.py
  tests/integration/test_partition_paths.py
  tests/unit/test_scan_bounded_465.py
Due: mypy, fast-tests, import-linter

perf(ci): run the full suite on 4 anchor cells and the unit lane elsewhere
  .github/workflows/ci.yml
  context/shared/documentation/ci.md
Due: none

perf(ci): halve the CI test-matrix wall time (#845)
  .github/workflows/ci.yml
  context/shared/documentation/ci.md
  pyproject.toml
  tests/conftest.py
  tests/integration/test_add_spatial_optimization.py
  tests/integration/test_partition_paths.py
  tests/integration/test_push_integration.py
  tests/integration/test_versioning_stress.py
  tests/unit/test_scan_bounded_465.py
Due: mypy, fast-tests, import-linter

bump: version 1.0.0a0 → 1.0.0b0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump: version 1.0.0a0 → 1.0.0b0 (#846)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): bump pypi-publish to v1.14.2 for core metadata 2.5
  .github/workflows/release.yml
Due: none

fix(ci): bump pypi-publish to v1.14.2 for core metadata 2.5 (#848)
  .github/workflows/release.yml
Due: none

docs(readme): install the beta by default
  README.md
Due: none

docs(readme): install the beta by default (#849)
  README.md
Due: none

bump: version 1.0.0b0 → 0.8.0
  .claude/rules/ci-and-release.md
  AGENTS.md
  CHANGELOG.md
  README.md
  context/shared/documentation/ci.md
  docs/contributing.md
  portolan_cli/constants.py
  portolan_cli/validation/legacy.py
  pyproject.toml
  tests/unit/test_partitioning.py
  tests/unit/validation/test_legacy_detection.py
  uv.lock
Due: mypy, fast-tests, import-linter

bump: version 1.0.0b0 → 0.8.0 (#850)
  .claude/rules/ci-and-release.md
  AGENTS.md
  CHANGELOG.md
  README.md
  context/shared/documentation/ci.md
  docs/contributing.md
  portolan_cli/constants.py
  portolan_cli/validation/legacy.py
  pyproject.toml
  tests/unit/test_partitioning.py
  tests/unit/validation/test_legacy_detection.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(push): add --prune to delete orphaned remote objects
  portolan_cli/cli.py
  portolan_cli/sync/prune.py
  tests/integration/test_prune_integration.py
  tests/unit/test_cli_push_prune.py
  tests/unit/test_prune.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter
