Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(partition): address adversarial review findings for PR #399
  .gitignore
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  portolan_cli/push.py
  tests/unit/test_partitioning.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(partition): address code review findings
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  tests/unit/test_partitioning.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): address adversarial review findings for PR #400
  portolan_cli/dataset.py
  tests/unit/test_add_force_flag.py
Due: mypy, fast-tests, import-linter

docs(partition): fix settings table accuracy
  docs/reference/configuration.md
Due: none

fix(partition): correct path mismatch in versions.json and glob patterns
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  tests/integration/test_partition_paths.py
  tests/unit/test_partitioning.py
Due: mypy, fast-tests, import-linter

fix(partition): address review feedback from PR #402
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  tests/integration/test_partition_paths.py
  tests/unit/test_partitioning.py
Due: mypy, fast-tests, import-linter

fix(partition): correct path mismatch in versions.json and glob patterns (#402)
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  tests/integration/test_partition_paths.py
  tests/unit/test_partitioning.py
Due: mypy, fast-tests, import-linter

feat(readme): add --verbose flag for detailed output (closes #387)
  portolan_cli/cli.py
  tests/unit/test_cli_metadata_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(readme): add file-level verbose output to recursive mode
  portolan_cli/cli.py
  tests/integration/test_readme_recursive.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(convert): add configurable vector spatial optimization via geoparquet-io
  docs/reference/configuration.md
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  tests/unit/test_conversion_config.py
Due: mypy, fast-tests, import-linter

fix(convert): address adversarial review findings for VectorSettings
  docs/reference/configuration.md
  portolan_cli/convert.py
  portolan_cli/dataset.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

fix(convert): normalize invalid VectorSettings and handle partitioned validation
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  tests/unit/test_conversion_config.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

feat(convert): add configurable vector spatial optimization via geoparquet-io (#404)
  docs/reference/configuration.md
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  portolan_cli/dataset.py
  tests/unit/test_conversion_config.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

fix(init): add trailing slash to pystac normalize_hrefs (fixes #401)
  portolan_cli/catalog.py
  portolan_cli/stac.py
  tests/integration/test_init_v2.py
Due: mypy, fast-tests, import-linter

fix(add): complete normalize_hrefs trailing slash fix for all call sites
  portolan_cli/dataset.py
  tests/integration/test_dotted_path_regression.py
  tests/integration/test_init_v2.py
Due: mypy, fast-tests, import-linter

ci: ignore pip CVE-2026-6357 in security audit
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

fix(init): add trailing slash to pystac normalize_hrefs (fixes #401) (#405)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  portolan_cli/catalog.py
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/integration/test_dotted_path_regression.py
  tests/integration/test_init_v2.py
Due: mypy, fast-tests, import-linter

feat(version): add git-like version management UX (closes #389)
  portolan_cli/cli.py
  portolan_cli/status.py
  tests/integration/test_status_cli.py
  tests/integration/test_version_bump.py
  tests/integration/test_version_file_backend.py
  tests/unit/test_status.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(version): wire explicit version through bump command and add validation
  portolan_cli/backends/json_file.py
  portolan_cli/backends/protocol.py
  portolan_cli/cli.py
  portolan_cli/version_ops.py
  tests/integration/test_version_bump.py
  tests/unit/test_status.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(version): add version management guide and filter managed files
  docs/guides/version-management.md
  mkdocs.yml
  portolan_cli/status.py
  tests/unit/test_status.py
Due: mypy, fast-tests, import-linter

fix(tests): remove obsolete tests after version management changes
  tests/integration/test_list_status_integration.py
  tests/unit/test_cli_version_commands.py
  tests/unit/test_version_ops.py
Due: mypy, fast-tests, import-linter

refactor(hooks): migrate from pre-commit to prek
  .pre-commit-config.yaml
  CLAUDE.md
  context/shared/documentation/ci.md
  docs/contributing.md
  prek.toml
  pyproject.toml
  uv.lock
Due: validate-claude-md

feat(hooks): add prek-only features
  prek.toml
Due: none

refactor(hooks): migrate from pre-commit to prek (#408)
  .pre-commit-config.yaml
  CLAUDE.md
  context/shared/documentation/ci.md
  docs/contributing.md
  prek.toml
  pyproject.toml
  uv.lock
Due: validate-claude-md

feat(version): add git-like version management UX (closes #389) (#406)
  docs/guides/version-management.md
  mkdocs.yml
  portolan_cli/backends/json_file.py
  portolan_cli/backends/protocol.py
  portolan_cli/cli.py
  portolan_cli/status.py
  portolan_cli/version_ops.py
  tests/integration/test_list_status_integration.py
  tests/integration/test_status_cli.py
  tests/integration/test_version_bump.py
  tests/integration/test_version_file_backend.py
  tests/unit/test_cli_version_commands.py
  tests/unit/test_status.py
  tests/unit/test_version_ops.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(hooks): restore SKILL.md accidentally deleted in PR #399
  .gitignore
  SKILL.md
Due: validate-skill-md

fix(hooks): restore SKILL.md accidentally deleted in PR #399 (#411)
  .gitignore
  SKILL.md
Due: validate-skill-md

perf(tests): enable parallel test execution with pytest-xdist (closes #410)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  pyproject.toml
  tests/conftest.py
  tests/integration/test_versioning_stress.py
  uv.lock
Due: mypy, fast-tests, import-linter

docs(partition): add ADR-0042 and implementation plan for STAC partition extension
  CLAUDE.md
  context/shared/adr/0042-partition-stac-extension.md
  context/shared/plans/2026-05-06-partition-stac-extension.md
Due: validate-claude-md

perf(tests): enable parallel test execution with pytest-xdist (closes #410)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  pyproject.toml
  tests/conftest.py
  tests/integration/test_versioning_stress.py
  tests/unit/test_list_status_hypothesis.py
  uv.lock
Due: mypy, fast-tests, import-linter

perf(tests): enable parallel test execution with pytest-xdist (closes #410) (#412)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  pyproject.toml
  tests/conftest.py
  tests/integration/test_versioning_stress.py
  tests/unit/test_list_status_hypothesis.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(partition): implement STAC partition extension support (Phase 3)
  context/shared/plans/2026-05-06-partition-stac-extension.md
  portolan_cli/partitioning.py
  portolan_cli/push.py
  portolan_cli/stac.py
  tests/unit/test_partitioning.py
Due: mypy, fast-tests, import-linter

feat(partition): wire partition metadata through STAC and add scan output (Phase 3-4)
  context/shared/plans/2026-05-06-partition-stac-extension.md
  portolan_cli/dataset.py
  portolan_cli/scan_output.py
  tests/unit/test_partitioning.py
  tests/unit/test_scan_output.py
Due: mypy, fast-tests, import-linter

feat(partition): add interactive prompt for large file partitioning (Phase 5)
  context/shared/plans/2026-05-06-partition-stac-extension.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(partition): mark Phase 5 complete in implementation plan
  context/shared/plans/2026-05-06-partition-stac-extension.md
Due: none

feat(partition): add partition validation rules with --thorough flag (Phase 6)
  SKILL.md
  context/shared/plans/2026-05-06-partition-stac-extension.md
  portolan_cli/cli.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  tests/unit/test_validation_rules.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(partition): add partitioning guide and update configuration reference (Phase 7)
  context/shared/plans/2026-05-06-partition-stac-extension.md
  docs/guides/partitioning.md
  docs/reference/configuration.md
Due: none

fix(partition): fix default enabled, validation rule property check
  docs/guides/partitioning.md
  portolan_cli/cli.py
  portolan_cli/validation/rules.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(partition): address adversarial review findings
  SKILL.md
  docs/guides/partitioning.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_validation_runner.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(partition): address second round of adversarial review findings
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/partitioning.py
  portolan_cli/push.py
  portolan_cli/scan_output.py
  tests/unit/test_partitioning.py
  tests/unit/test_scan_output.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
