Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat(push): upload STAC metadata files for full catalog sync (#254)
  portolan_cli/push.py
  tests/integration/test_push_parallel_integration.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix(push): handle edge cases in recursive collection discovery
  portolan_cli/push.py
  tests/unit/test_discover_nested_collections.py
Due: mypy, fast-tests, import-linter

fix(push): recursive collection discovery for nested catalogs (#255)
  portolan_cli/push.py
  tests/unit/test_discover_nested_collections.py
Due: mypy, fast-tests, import-linter

feat: add GitHub PR and issue templates from geoparquet-io
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_issue.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

feat: add GitHub PR and issue templates from geoparquet-io (#260)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_issue.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

fix(scan): detect GeoJSON content in .json files (#256)
  portolan_cli/scan.py
  tests/fixtures/scan/README.md
  tests/fixtures/scan/json_geojson/README.md
  tests/fixtures/scan/json_geojson/config.json
  tests/fixtures/scan/json_geojson/rec_centers.json
  tests/integration/test_scan_cli.py
  tests/unit/test_json_geojson_detection.py
Due: mypy, fast-tests, import-linter

fix(scan): handle edge cases in JSON GeoJSON detection
  portolan_cli/formats.py
  portolan_cli/scan.py
  tests/unit/test_json_geojson_detection.py
Due: mypy, fast-tests, import-linter

fix(scan): detect GeoJSON content in .json files (#261)
  portolan_cli/formats.py
  portolan_cli/scan.py
  tests/fixtures/scan/README.md
  tests/fixtures/scan/json_geojson/README.md
  tests/fixtures/scan/json_geojson/config.json
  tests/fixtures/scan/json_geojson/rec_centers.json
  tests/integration/test_scan_cli.py
  tests/unit/test_json_geojson_detection.py
Due: mypy, fast-tests, import-linter

fix(add): treat FileGDB directories as data assets for collection ID inference
  portolan_cli/dataset.py
  tests/unit/test_nested_catalog_inference.py
Due: mypy, fast-tests, import-linter

fix(add): handle empty FileGDB directories via suffix fallback
  portolan_cli/dataset.py
  tests/unit/test_nested_catalog_inference.py
Due: mypy, fast-tests, import-linter

fix(add): treat FileGDB directories as data assets for collection ID inference (#262)
  portolan_cli/dataset.py
  tests/unit/test_nested_catalog_inference.py
Due: mypy, fast-tests, import-linter

feat(deps): add deptry for dependency management
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: validate-claude-md

feat(deps): add deptry for dependency management (#263)
  .pre-commit-config.yaml
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: validate-claude-md

feat(ci): add menard for documentation drift detection
  .github/workflows/ci.yml
  .gitignore
  .menard/links.toml
  .pre-commit-config.yaml
  CLAUDE.md
  context/shared/documentation/ci.md
  pyproject.toml
  uv.lock
Due: validate-claude-md

fix(menard): only track user-facing docs, not ADRs
  .menard/links.toml
  pyproject.toml
Due: none

feat(menard): add audit skill for documentation quality analysis
  .claude/skills/menard-audit.md
Due: none

feat(menard): add donttouch protections for license and branding
  .menard/donttouch
Due: none

refactor(menard): use section anchors for precise doc linking
  .menard/links.toml
Due: none

revert: remove menard-audit skill (belongs in menard repo)
  .claude/skills/menard-audit.md
Due: none

fix(ci): remove menard from CI, keep in pre-commit only
  .github/workflows/ci.yml
  context/shared/documentation/ci.md
Due: none

fix(pre-commit): use language: python for menard hooks
  .pre-commit-config.yaml
Due: none

feat(ci): add menard for documentation drift detection (#264)
  .gitignore
  .menard/donttouch
  .menard/links.toml
  .pre-commit-config.yaml
  CLAUDE.md
  context/shared/documentation/ci.md
  pyproject.toml
  uv.lock
Due: validate-claude-md

feat(deps): upgrade menard to 0.3.0 with Python 3.10 support and brevity
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

docs: fix duplicate content flagged by menard brevity
  .menard/donttouch
  .pre-commit-config.yaml
  README.md
  docs/BRANDING.md
  docs/reference/formats.md
Due: none

fix: use PyPI menard, comment out brevity hook pending release
  .pre-commit-config.yaml
  portolan_cli/scan_output.py
  pyproject.toml
  tests/unit/test_list_status_hypothesis.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(deps): upgrade menard to 0.3.0 with brevity support (#266)
  .menard/donttouch
  .pre-commit-config.yaml
  README.md
  docs/BRANDING.md
  docs/reference/formats.md
  portolan_cli/scan_output.py
  pyproject.toml
  tests/unit/test_list_status_hypothesis.py
  uv.lock
Due: mypy, fast-tests, import-linter

Revert "feat(deps): upgrade menard to 0.3.0 with brevity support (#266)"
  .menard/donttouch
  .pre-commit-config.yaml
  README.md
  docs/BRANDING.md
  docs/reference/formats.md
  portolan_cli/scan_output.py
  pyproject.toml
  tests/unit/test_list_status_hypothesis.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(add): format-aware collection inference per ADR-0031
  portolan_cli/catalog_list.py
  portolan_cli/dataset.py
  portolan_cli/formats.py
  tests/integration/test_add_no_duplicate_nesting.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_add_no_duplicate_nesting.py
  tests/unit/test_collection_inference.py
  tests/unit/test_list_metadata_exclusion.py
Due: mypy, fast-tests, import-linter

fix(add): format-aware collection inference per ADR-0031 (#269)
  portolan_cli/catalog_list.py
  portolan_cli/dataset.py
  portolan_cli/formats.py
  tests/integration/test_add_no_duplicate_nesting.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_add_no_duplicate_nesting.py
  tests/unit/test_collection_inference.py
  tests/unit/test_list_metadata_exclusion.py
Due: mypy, fast-tests, import-linter

feat(stac): implement STAC extension foundation (Wave 1) (#272)
  portolan_cli/crs.py
  portolan_cli/metadata/cog.py
  portolan_cli/stac.py
  pyproject.toml
  tests/unit/test_stac_extensions.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(stac): add antimeridian handling, raster proj fields, and integration tests
  portolan_cli/crs.py
  portolan_cli/dataset.py
  portolan_cli/metadata/cog.py
  portolan_cli/stac.py
  pyproject.toml
  tests/integration/test_stac_extensions_integration.py
  tests/unit/test_dataset.py
  tests/unit/test_dataset_directory.py
  tests/unit/test_stac_extensions.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(stac): implement STAC extension foundation (Wave 1) (#273)
  portolan_cli/crs.py
  portolan_cli/dataset.py
  portolan_cli/metadata/cog.py
  portolan_cli/stac.py
  pyproject.toml
  tests/integration/test_stac_extensions_integration.py
  tests/unit/test_dataset.py
  tests/unit/test_dataset_directory.py
  tests/unit/test_stac_extensions.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(stac): implement Wave 2 extended STAC metadata & statistics (#274)
  CLAUDE.md
  context/shared/adr/0034-statistics-computation-defaults.md
  context/shared/adr/0035-temporal-extent-handling.md
  context/shared/adr/0036-collection-summaries-strategy.md
  context/shared/adr/0037-experimental-extension-policy.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/cog.py
  portolan_cli/metadata/statistics.py
  portolan_cli/stac.py
  portolan_cli/temporal.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_collection_summaries.py
  tests/unit/test_csv_skip.py
  tests/unit/test_metadata_cog.py
  tests/unit/test_stac_extensions.py
  tests/unit/test_statistics.py
  tests/unit/test_statistics_config.py
  tests/unit/test_temporal_handling.py
  tests/unit/test_unified_bands.py
  tests/unit/test_vector_extension.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(cli): clarify --datetime applies to all items in command
  context/shared/adr/0035-temporal-extent-handling.md
  portolan_cli/cli.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): address PR review - temporal, stats, complexity
  .menard/links.toml
  CLAUDE.md
  context/shared/adr/0035-temporal-extent-handling.md
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/metadata/statistics.py
  portolan_cli/push.py
  portolan_cli/stac.py
  portolan_cli/temporal.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  tests/unit/test_collection_summaries.py
  tests/unit/test_stac.py
  tests/unit/test_statistics.py
  tests/unit/test_statistics_config.py
  tests/unit/test_temporal_handling.py
  tests/unit/test_unified_bands.py
  tests/unit/test_validation_runner.py
  tests/unit/test_vector_extension.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(tests): update tests for STAC v1.1.0 unified bands array
  tests/integration/test_stac_extensions_integration.py
  tests/unit/models/test_item.py
  tests/unit/test_dataset.py
  tests/unit/test_stac_extensions.py
Due: mypy, fast-tests, import-linter

fix(stats): migrate from deprecated rasterio statistics() to stats()
  .gitignore
  portolan_cli/metadata/statistics.py
  tests/unit/test_statistics.py
Due: mypy, fast-tests, import-linter

fix(stac): update collection temporal extent and support nested collections
  portolan_cli/dataset.py
  portolan_cli/stac.py
  portolan_cli/validation/rules.py
Due: mypy, fast-tests, import-linter

feat(stac): implement Wave 2 extended STAC metadata & statistics (#277)
  .gitignore
  .menard/links.toml
  CLAUDE.md
  context/shared/adr/0034-statistics-computation-defaults.md
  context/shared/adr/0035-temporal-extent-handling.md
  context/shared/adr/0036-collection-summaries-strategy.md
  context/shared/adr/0037-experimental-extension-policy.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/cog.py
  portolan_cli/metadata/statistics.py
  portolan_cli/push.py
  portolan_cli/stac.py
  portolan_cli/temporal.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  tests/integration/test_stac_extensions_integration.py
  tests/unit/models/test_item.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_collection_summaries.py
  tests/unit/test_csv_skip.py
  tests/unit/test_dataset.py
  tests/unit/test_metadata_cog.py
  tests/unit/test_stac.py
  tests/unit/test_stac_extensions.py
  tests/unit/test_statistics.py
  tests/unit/test_statistics_config.py
  tests/unit/test_temporal_handling.py
  tests/unit/test_unified_bands.py
  tests/unit/test_validation_runner.py
  tests/unit/test_vector_extension.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs: add metadata.yaml + README generation design
  CLAUDE.md
  context/shared/adr/0038-metadata-yaml-enrichment.md
  context/shared/adr/0039-hierarchical-portolan-folders.md
  context/shared/plans/2026-03-26-metadata-readme-design.md
Due: validate-claude-md
