Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

fix: address PR review comments for concurrency defaults
  portolan_cli/async_utils.py
  portolan_cli/cli.py
  tests/integration/test_concurrency_enforcement.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): conservative concurrency defaults (Issue #344) (#348)
  .gitignore
  docs/guides/nested-catalogs.md
  portolan_cli/async_utils.py
  portolan_cli/cli.py
  portolan_cli/download.py
  portolan_cli/pull.py
  portolan_cli/push.py
  portolan_cli/upload.py
  pyproject.toml
  tests/integration/test_concurrency_enforcement.py
  tests/unit/test_adaptive_concurrency.py
  tests/unit/test_cli_push_chunk_concurrency.py
  tests/unit/test_cli_push_max_connections.py
  tests/unit/test_concurrency_defaults.py
  tests/unit/test_concurrency_flag_issue_323.py
  tests/unit/test_push_async.py
  tests/unit/test_push_catalog_wide.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(config): move credentials to env vars to prevent accidental exposure (Issue #356)
  docs/reference/configuration.md
  portolan_cli/catalog_list.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/skills/sourcecoop.md
  pyproject.toml
  tests/unit/test_cli_config.py
  tests/unit/test_config.py
  tests/unit/test_push_default_remote.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(config): address PR review findings (Issue #356)
  portolan_cli/cli.py
  portolan_cli/config.py
  tests/docs/test_readme_examples.py
  tests/unit/test_config.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(config): comprehensive sensitive settings enforcement (Issue #356)
  SKILL.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  tests/unit/test_cli_config.py
  tests/unit/test_config.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test: update tests to use env vars for sensitive settings (Issue #356)
  tests/unit/test_cli_profile_default.py
  tests/unit/test_cli_push_chunk_concurrency.py
  tests/unit/test_cli_push_max_connections.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_concurrency_flag_issue_323.py
  tests/unit/test_config_hierarchy.py
  tests/unit/test_push_backend_block.py
  tests/unit/test_push_default_remote.py
Due: mypy, fast-tests, import-linter

test: fix integration tests for Issue #356 env var migration
  tests/integration/test_concurrency_enforcement.py
  tests/integration/test_config_command.py
  tests/integration/test_push_integration.py
  tests/integration/test_push_parallel_integration.py
  tests/integration/test_sync_integration.py
  tests/integration/test_versioning_stress.py
Due: mypy, fast-tests, import-linter

fix: address Issue #356 adversarial review findings
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  tests/unit/test_cli_profile_default.py
  tests/unit/test_config.py
  tests/unit/test_push_backend_block.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(config): move credentials to env vars (Issue #356) (#359)
  SKILL.md
  docs/reference/configuration.md
  portolan_cli/catalog_list.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/skills/sourcecoop.md
  pyproject.toml
  tests/docs/test_readme_examples.py
  tests/integration/test_concurrency_enforcement.py
  tests/integration/test_config_command.py
  tests/integration/test_push_integration.py
  tests/integration/test_push_parallel_integration.py
  tests/integration/test_sync_integration.py
  tests/integration/test_versioning_stress.py
  tests/unit/test_cli_config.py
  tests/unit/test_cli_profile_default.py
  tests/unit/test_cli_push_chunk_concurrency.py
  tests/unit/test_cli_push_max_connections.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_concurrency_flag_issue_323.py
  tests/unit/test_config.py
  tests/unit/test_config_hierarchy.py
  tests/unit/test_push_backend_block.py
  tests/unit/test_push_default_remote.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): upload root README.md when pushing all collections (Issue #357)
  portolan_cli/push.py
  tests/unit/test_push_root_files.py
Due: mypy, fast-tests, import-linter

fix(extract): add via link provenance and fix asset path doubling
  docs/guides/extract-arcgis.md
  portolan_cli/dataset.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/stac.py
  tests/unit/test_collection_level_assets.py
  tests/unit/test_issue_353_via_link.py
  tests/unit/test_issue_354_asset_paths.py
Due: mypy, fast-tests, import-linter

feat(extract): flatten single-layer ArcGIS services (Issue #358)
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/pmtiles.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

fix(push): add root versions.json upload + error path tests (Issue #357)
  portolan_cli/push.py
  tests/unit/test_push_root_files.py
Due: mypy, fast-tests, import-linter

fix(push): upload root README.md and versions.json when pushing all collections (Issue #357) (#360)
  portolan_cli/push.py
  tests/unit/test_push_root_files.py
Due: mypy, fast-tests, import-linter

fix(tests): address review feedback for PR #361
  portolan_cli/stac.py
  tests/unit/test_issue_354_asset_paths.py
Due: mypy, fast-tests, import-linter

fix(tests): update integration tests for Issue #354 asset key format
  tests/integration/test_collection_level_asset_workflow.py
Due: mypy, fast-tests, import-linter

fix(extract): add via link provenance and fix asset path doubling (#361)
  docs/guides/extract-arcgis.md
  portolan_cli/dataset.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/stac.py
  tests/integration/test_collection_level_asset_workflow.py
  tests/unit/test_collection_level_assets.py
  tests/unit/test_issue_353_via_link.py
  tests/unit/test_issue_354_asset_paths.py
Due: mypy, fast-tests, import-linter

fix(extract): cross-platform path handling and revert pmtiles.py
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/pmtiles.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

feat(extract): flatten single-layer ArcGIS services (Issue #358) (#362)
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

feat(extract): add WFS extraction support
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/arcgis/filters.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/arcgis/report.py
  portolan_cli/extract/arcgis/resume.py
  portolan_cli/extract/arcgis/retry.py
  portolan_cli/extract/common/__init__.py
  portolan_cli/extract/common/filters.py
  portolan_cli/extract/common/report.py
  portolan_cli/extract/common/resume.py
  portolan_cli/extract/common/retry.py
  portolan_cli/extract/wfs/__init__.py
  portolan_cli/extract/wfs/discovery.py
  portolan_cli/extract/wfs/metadata.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/wfs/__init__.py
  tests/integration/extract/wfs/test_wfs_extract.py
  tests/unit/extract/common/__init__.py
  tests/unit/extract/common/test_filters.py
  tests/unit/extract/common/test_resume.py
  tests/unit/extract/common/test_retry.py
  tests/unit/extract/wfs/__init__.py
  tests/unit/extract/wfs/test_discovery.py
  tests/unit/extract/wfs/test_metadata.py
  tests/unit/extract/wfs/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(extract): implement parallel workers, timeout, page_size for WFS
  portolan_cli/cli.py
  portolan_cli/extract/wfs/discovery.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/wfs/test_wfs_extract.py
  tests/unit/extract/wfs/test_discovery.py
  tests/unit/extract/wfs/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(extract): address PR review findings
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/extract/common/resume.py
  portolan_cli/extract/common/retry.py
  portolan_cli/extract/wfs/discovery.py
  portolan_cli/extract/wfs/metadata.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/wfs/test_wfs_extract.py
  tests/unit/extract/common/test_resume.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(security): nosec for ET.ParseError exception type usage
  portolan_cli/extract/wfs/discovery.py
Due: mypy, fast-tests, import-linter

fix(tests): update ArcGIS tests for ResumeState fields
  tests/unit/extract/arcgis/test_resume.py
  tests/unit/extract/arcgis/test_retry.py
Due: mypy, fast-tests, import-linter

feat(extract): add WFS extraction support (#363)
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/arcgis/filters.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/arcgis/report.py
  portolan_cli/extract/arcgis/resume.py
  portolan_cli/extract/arcgis/retry.py
  portolan_cli/extract/common/__init__.py
  portolan_cli/extract/common/filters.py
  portolan_cli/extract/common/report.py
  portolan_cli/extract/common/resume.py
  portolan_cli/extract/common/retry.py
  portolan_cli/extract/wfs/__init__.py
  portolan_cli/extract/wfs/discovery.py
  portolan_cli/extract/wfs/metadata.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/integration/extract/wfs/__init__.py
  tests/integration/extract/wfs/test_wfs_extract.py
  tests/unit/extract/arcgis/test_resume.py
  tests/unit/extract/arcgis/test_retry.py
  tests/unit/extract/common/__init__.py
  tests/unit/extract/common/test_filters.py
  tests/unit/extract/common/test_resume.py
  tests/unit/extract/common/test_retry.py
  tests/unit/extract/wfs/__init__.py
  tests/unit/extract/wfs/test_discovery.py
  tests/unit/extract/wfs/test_metadata.py
  tests/unit/extract/wfs/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): collection-level vector assets skip item.json (Issue #364)
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/integration/test_collection_level_asset_workflow.py
  tests/unit/test_collection_level_assets.py
Due: mypy, fast-tests, import-linter

fix(stac): use file stem as collection-level asset key to avoid collisions
  portolan_cli/dataset.py
  tests/integration/test_collection_level_asset_workflow.py
  tests/unit/test_collection_level_assets.py
Due: mypy, fast-tests, import-linter

refactor(tests): extract helpers to reduce test complexity
  tests/integration/test_collection_level_asset_workflow.py
Due: mypy, fast-tests, import-linter

fix(stac): collection-level vector assets skip item.json (#365)
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/integration/test_collection_level_asset_workflow.py
  tests/unit/test_collection_level_assets.py
Due: mypy, fast-tests, import-linter

feat(extract): add CSW/ISO 19139 metadata seeding for WFS
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/__init__.py
  portolan_cli/extract/common/metadata_seeding.py
  portolan_cli/extract/csw/__init__.py
  portolan_cli/extract/csw/client.py
  portolan_cli/extract/csw/iso_parser.py
  portolan_cli/extract/csw/models.py
  portolan_cli/extract/wfs/discovery.py
  portolan_cli/extract/wfs/metadata.py
  portolan_cli/extract/wfs/orchestrator.py
  portolan_cli/metadata_seeding.py
  tests/fixtures/csw/belgium_buildings_iso19139.xml
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/test_metadata_seeding.py
  tests/unit/extract/csw/__init__.py
  tests/unit/extract/csw/test_client.py
  tests/unit/extract/csw/test_iso_parser.py
  tests/unit/extract/csw/test_models.py
  tests/unit/extract/wfs/test_discovery.py
  tests/unit/extract/wfs/test_metadata.py
  tests/unit/extract/wfs/test_orchestrator.py
Due: mypy, fast-tests, import-linter

fix(extract): address PR review issues for CSW/ISO metadata seeding
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/csw/client.py
  portolan_cli/extract/csw/iso_parser.py
  portolan_cli/extract/csw/models.py
  portolan_cli/extract/wfs/metadata.py
  portolan_cli/extract/wfs/orchestrator.py
  pyproject.toml
  tests/fixtures/csw/README.md
  tests/fixtures/csw/csw_wrapped_iso19139.xml
  tests/fixtures/csw/invalid_iso19139.xml
  tests/fixtures/csw/minimal_iso19139.xml
  tests/fixtures/csw/title_only_iso19139.xml
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/csw/test_client.py
  tests/unit/extract/csw/test_iso_parser.py
  tests/unit/extract/csw/test_models.py
  tests/unit/extract/wfs/test_metadata.py
  tests/unit/extract/wfs/test_orchestrator.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(csw): resolve bandit B405 and B101 security warnings
  portolan_cli/extract/csw/iso_parser.py
  portolan_cli/extract/wfs/orchestrator.py
Due: mypy, fast-tests, import-linter

fix(ci): resolve codespell and bandit CI failures
  portolan_cli/extract/csw/iso_parser.py
  pyproject.toml
Due: mypy, fast-tests, import-linter

feat(extract): add CSW/ISO 19139 metadata seeding for WFS (#366)
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/__init__.py
  portolan_cli/extract/common/metadata_seeding.py
  portolan_cli/extract/csw/__init__.py
  portolan_cli/extract/csw/client.py
  portolan_cli/extract/csw/iso_parser.py
  portolan_cli/extract/csw/models.py
  portolan_cli/extract/wfs/discovery.py
  portolan_cli/extract/wfs/metadata.py
  portolan_cli/extract/wfs/orchestrator.py
  portolan_cli/metadata_seeding.py
  pyproject.toml
  tests/fixtures/csw/README.md
  tests/fixtures/csw/belgium_buildings_iso19139.xml
  tests/fixtures/csw/csw_wrapped_iso19139.xml
  tests/fixtures/csw/invalid_iso19139.xml
  tests/fixtures/csw/minimal_iso19139.xml
  tests/fixtures/csw/title_only_iso19139.xml
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/common/test_metadata_seeding.py
  tests/unit/extract/csw/__init__.py
  tests/unit/extract/csw/test_client.py
  tests/unit/extract/csw/test_iso_parser.py
  tests/unit/extract/csw/test_models.py
  tests/unit/extract/wfs/test_discovery.py
  tests/unit/extract/wfs/test_metadata.py
  tests/unit/extract/wfs/test_orchestrator.py
  uv.lock
Due: mypy, fast-tests, import-linter

docs: add WFS extraction tutorial guide
  docs/guides/extract-wfs.md
  mkdocs.yml
Due: none

fix(add): support PMTiles and FlatGeobuf without conversion (#368)
  portolan_cli/dataset.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/flatgeobuf.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/stac.py
  pyproject.toml
  tests/fixtures/cloud_native/README.md
  tests/fixtures/cloud_native/sample.fgb
  tests/fixtures/cloud_native/sample.pmtiles
  tests/integration/test_add_cloud_native_vectors.py
  tests/unit/test_metadata_flatgeobuf.py
  tests/unit/test_metadata_pmtiles.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix: address review feedback on PMTiles/FlatGeobuf support
  portolan_cli/dataset.py
  portolan_cli/metadata/flatgeobuf.py
  tests/integration/test_add_cloud_native_vectors.py
  tests/unit/test_metadata_flatgeobuf.py
Due: mypy, fast-tests, import-linter

ci: ignore CVE-2026-3219 (pip 26.0.1) until fix available
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

fix: address additional review feedback
  docs/guides/extract-wfs.md
  portolan_cli/dataset.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/stac.py
  tests/integration/test_add_cloud_native_vectors.py
  tests/unit/test_metadata_flatgeobuf.py
Due: mypy, fast-tests, import-linter

fix(add): support PMTiles and FlatGeobuf without conversion (#370)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  docs/guides/extract-wfs.md
  mkdocs.yml
  portolan_cli/dataset.py
  portolan_cli/metadata/__init__.py
  portolan_cli/metadata/flatgeobuf.py
  portolan_cli/metadata/pmtiles.py
  portolan_cli/stac.py
  pyproject.toml
  tests/fixtures/cloud_native/README.md
  tests/fixtures/cloud_native/sample.fgb
  tests/fixtures/cloud_native/sample.pmtiles
  tests/integration/test_add_cloud_native_vectors.py
  tests/unit/test_metadata_flatgeobuf.py
  tests/unit/test_metadata_pmtiles.py
  uv.lock
Due: mypy, fast-tests, import-linter
