Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

docs: clarify item ID derivation in add command (#134)
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs: add design for fixing versions.json snapshot model
  context/shared/plans/2026-03-05-fix-versions-snapshot-model.md
Due: none

fix(versions): merge assets with previous version for snapshot model
  portolan_cli/versions.py
  tests/unit/test_versions.py
Due: mypy, fast-tests, import-linter

test(integration): add test for versions snapshot model
  tests/integration/test_add_rm_integration.py
Due: mypy, fast-tests, import-linter

fix(versions): address code review feedback
  portolan_cli/dataset.py
  portolan_cli/versions.py
  tests/unit/test_versions.py
Due: mypy, fast-tests, import-linter

fix(versions): allow metadata-only versions when message/breaking/schema set
  portolan_cli/versions.py
Due: mypy, fast-tests, import-linter

fix(versions): merge assets with previous version for snapshot model (#149)
  context/shared/plans/2026-03-05-fix-versions-snapshot-model.md
  portolan_cli/dataset.py
  portolan_cli/versions.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_versions.py
Due: mypy, fast-tests, import-linter

fix(cli): remove contradictory dry-run output messages
  portolan_cli/cli.py
  tests/integration/test_push_integration.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: normalize trailing slashes in S3/GCS/Azure URLs
  portolan_cli/upload.py
  tests/integration/test_push_integration.py
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

fix: warn and skip non-geospatial CSV files during add (#140)
  portolan_cli/dataset.py
  tests/unit/test_csv_skip.py
Due: mypy, fast-tests, import-linter

fix(scan): detect FileGDB directories during scan (#139)
  portolan_cli/scan.py
  tests/integration/test_scan_cli.py
  tests/unit/test_scan_filegdb_discovery.py
Due: mypy, fast-tests, import-linter

fix: complete FileGDB detection - call detect_filegdb and populate special_formats
  portolan_cli/scan.py
  tests/unit/test_scan_filegdb_discovery.py
Due: mypy, fast-tests, import-linter

fix: address adversarial review feedback for trailing slash normalization
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

fix: address adversarial review on dry-run messages
  portolan_cli/push.py
  portolan_cli/sync.py
  tests/integration/test_push_integration.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

test: add Azure invalid URL test for better coverage
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

fix(tests): replace tautological dry-run test with real push() invocation
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix: track non-geo CSV/TSV as assets without conversion (Issue #140)
  CLAUDE.md
  portolan_cli/constants.py
  portolan_cli/dataset.py
  portolan_cli/formats.py
  tests/unit/test_csv_skip.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix: resolve CI failures for trailing slash tests
  pyproject.toml
  tests/integration/test_upload_integration.py
Due: mypy, fast-tests, import-linter

fix: normalize trailing slashes in S3 URLs (#151)
  portolan_cli/upload.py
  pyproject.toml
  tests/integration/test_push_integration.py
  tests/integration/test_upload_integration.py
  tests/unit/test_upload.py
Due: mypy, fast-tests, import-linter

test(csv-skip): add coverage for helper functions
  tests/unit/test_csv_skip.py
Due: mypy, fast-tests, import-linter

test: add comprehensive tests for scan modules to boost coverage
  tests/unit/test_scan_coverage.py
  tests/unit/test_scan_fix_coverage.py
  tests/unit/test_scan_infer_coverage.py
Due: mypy, fast-tests, import-linter

fix(cli): remove contradictory dry-run output messages (#150)
  portolan_cli/cli.py
  portolan_cli/push.py
  portolan_cli/sync.py
  tests/integration/test_push_integration.py
  tests/unit/test_push.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(csv-skip): improve patch coverage for add_files code paths
  tests/unit/test_csv_skip.py
Due: mypy, fast-tests, import-linter

fix(tests): correct spelling of preemptively
  tests/unit/test_csv_skip.py
Due: mypy, fast-tests, import-linter

test: add tests for _get_dir_size OSError exception paths
  tests/unit/test_scan_coverage.py
Due: mypy, fast-tests, import-linter

fix: warn and skip non-geospatial CSV files during add (#152)
  CLAUDE.md
  portolan_cli/constants.py
  portolan_cli/dataset.py
  portolan_cli/formats.py
  tests/unit/test_csv_skip.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix: detect FileGDB directories during scan (#153)
  portolan_cli/scan.py
  tests/integration/test_scan_cli.py
  tests/unit/test_scan_coverage.py
  tests/unit/test_scan_filegdb_discovery.py
  tests/unit/test_scan_fix_coverage.py
  tests/unit/test_scan_infer_coverage.py
Due: mypy, fast-tests, import-linter

chore(cli): deprecate dataset info command (#148)
  docs/index.md
  portolan_cli/cli.py
  tests/integration/test_dataset_integration.py
  tests/unit/test_cli_dataset.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

chore(cli): deprecate dataset info command (#148) (#155)
  docs/index.md
  portolan_cli/cli.py
  tests/integration/test_dataset_integration.py
  tests/unit/test_cli_dataset.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(clone): add git-style ergonomics to clone command (#146)
  CLAUDE.md
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/sync.py
  tests/integration/test_clone_ergonomics_integration.py
  tests/unit/test_clone_ergonomics.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(clone): suppress info_output in JSON mode
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(clone): add git-style ergonomics to clone command (#156)
  CLAUDE.md
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/sync.py
  tests/integration/test_clone_ergonomics_integration.py
  tests/unit/test_clone_ergonomics.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(scan): promote FileGDB directories to ready list for add support
  portolan_cli/scan.py
  tests/unit/test_filegdb_add_support.py
  tests/unit/test_scan_filegdb_discovery.py
Due: mypy, fast-tests, import-linter

feat(push): use configured remote as default destination
  SKILL.md
  portolan_cli/cli.py
  tests/unit/test_push_default_remote.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(catalog): track collections in catalog-level versions.json
  portolan_cli/catalog_versions.py
  tests/unit/test_catalog_versions_collections.py
Due: mypy, fast-tests, import-linter

fix(scan): include metadata in JSON output
  portolan_cli/scan.py
Due: mypy, fast-tests, import-linter

feat(add): support FileGDB directories in add workflow
  portolan_cli/constants.py
  portolan_cli/dataset.py
  portolan_cli/formats.py
Due: mypy, fast-tests, import-linter

fix(add): handle FileGDB directories passed directly to iter functions
  portolan_cli/dataset.py
  tests/unit/test_scan_coverage.py
Due: mypy, fast-tests, import-linter
