Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat(skills): add consume skill for querying Portolan catalogs (closes #121) (#421)
  CLAUDE.md
  context/shared/adr/0044-consumption-guides-architecture.md
  docs/guides/skills.md
  portolan_cli/metadata_yaml.py
  portolan_cli/skills/consume.md
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(skills): add bootstrap skill for end-to-end catalog creation
  portolan_cli/skills/bootstrap.md
Due: none

fix(thumbnail): resolve CRS mismatch and improve large file performance (#423)
  portolan_cli/thumbnail.py
  tests/unit/test_thumbnail.py
Due: mypy, fast-tests, import-linter

docs: add bootstrap skill to AI skills guide
  docs/guides/skills.md
Due: none

chore: remove supported sources section from bootstrap skill
  portolan_cli/skills/bootstrap.md
Due: none

docs: simplify bootstrap skill section - link to skill instead
  docs/guides/skills.md
Due: none

fix(thumbnail): use contextily CRS param instead of data reprojection (#423)
  portolan_cli/thumbnail.py
  tests/unit/test_thumbnail.py
Due: mypy, fast-tests, import-linter

feat(skills): add bootstrap skill for end-to-end catalog creation (#425)
  docs/guides/skills.md
  portolan_cli/skills/bootstrap.md
Due: none

feat(readme): make collections list collapsible for large catalogs (#424)
  docs/reference/configuration.md
  portolan_cli/readme.py
  tests/unit/test_readme_catalog_aggregation.py
Due: mypy, fast-tests, import-linter

fix(thumbnail): plot data before basemap for correct zoom calculation
  portolan_cli/thumbnail.py
Due: mypy, fast-tests, import-linter

fix(thumbnail): resolve CRS mismatch and improve large file performance (#427)
  portolan_cli/thumbnail.py
  tests/unit/test_thumbnail.py
Due: mypy, fast-tests, import-linter

fix(push): sync all catalog files to remote, not just versioned assets (closes #426)
  portolan_cli/config.py
  portolan_cli/push.py
  tests/unit/test_push_metadata_sync.py
Due: mypy, fast-tests, import-linter

fix(push): address adversarial review findings for metadata sync
  docs/reference/configuration.md
  portolan_cli/config.py
  portolan_cli/push.py
  tests/unit/test_push_metadata_sync.py
Due: mypy, fast-tests, import-linter

fix(push): exclude versioned assets from metadata discovery
  portolan_cli/push.py
  tests/unit/test_push_metadata_sync.py
Due: mypy, fast-tests, import-linter

fix(push): sync all catalog files to remote (closes #426) (#430)
  docs/reference/configuration.md
  portolan_cli/config.py
  portolan_cli/push.py
  tests/unit/test_push_metadata_sync.py
Due: mypy, fast-tests, import-linter

fix(style): address review findings for styles-as-stac-assets
  context/shared/adr/0044-styles-as-stac-assets.md
  portolan_cli/pmtiles.py
  portolan_cli/skills/sourcecoop.md
  portolan_cli/style.py
  tests/integration/test_thumbnail_workflow.py
  tests/unit/test_style.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(metadata): skip scheme-qualified hrefs in scanner (iceberg file:// regression)
  portolan_cli/metadata/scan.py
  tests/integration/test_metadata_scan_unification.py
Due: mypy, fast-tests, import-linter

docs(known-issues): track STAC v1.1 bands placement bug
  CLAUDE.md
  context/shared/known-issues/stac-v1.1-bands-placement.md
Due: validate-claude-md

fix(add): preserve specific collection-inference error in skip warning
  portolan_cli/dataset.py
  tests/unit/test_cli_add_rm.py
Due: mypy, fast-tests, import-linter

docs(adr): add ADR-0046 dual serialization for STAC catalog (draft)
  CLAUDE.md
  context/shared/adr/0046-dual-catalog-stac-iceberg.md
Due: validate-claude-md

fix(iceberg): upload STAC metadata and list full version history with BigLake
  portolan_cli/backends/iceberg/config.py
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

chore(claude): drop dangling hook references in .claude/settings.json
  .claude/settings.json
Due: none

style(tests): apply ruff format to two test files
  tests/integration/test_metadata_scan_unification.py
  tests/unit/test_cli_add_rm.py
Due: mypy, fast-tests, import-linter

ci(security): scope pip-audit to runtime deps and bump vulnerable transitives
  .github/workflows/ci.yml
  uv.lock
Due: none

ci(mypy): scope disallow_untyped_calls suppression to pyarrow
  pyproject.toml
Due: none

docs(iceberg): correct three inaccuracies in guides/iceberg.md
  docs/guides/iceberg.md
Due: none

Revert "chore(claude): drop dangling hook references in .claude/settings.json"
  .claude/settings.json
Due: none

fix(iceberg): surface STAC enrichment failures in on_post_add
  portolan_cli/backends/iceberg/backend.py
  tests/iceberg/unit/test_on_post_add.py
Due: mypy, fast-tests, import-linter

perf(iceberg): read table:row_count from snapshot metadata
  portolan_cli/backends/iceberg/stac_generator.py
  tests/iceberg/unit/test_stac_generator.py
Due: mypy, fast-tests, import-linter

fix(stac): place raster bands on data asset per STAC v1.1.0
  CLAUDE.md
  context/shared/known-issues/stac-v1.1-bands-placement.md
  portolan_cli/stac.py
  tests/integration/test_add_with_defaults.py
  tests/integration/test_raster_bands_placement.py
  tests/integration/test_stac_extensions_integration.py
  tests/unit/models/test_item.py
  tests/unit/test_stac_extensions.py
Due: validate-claude-md, mypy, fast-tests, import-linter

test(stac): parameterize generics in raster-bands test helpers
  tests/integration/test_add_with_defaults.py
  tests/integration/test_raster_bands_placement.py
Due: mypy, fast-tests, import-linter

chore(claude): drop dangling hook references in .claude/settings.json (#439)
  .claude/settings.json
Due: none

perf(iceberg): read table:row_count from snapshot metadata (#440)
  portolan_cli/backends/iceberg/stac_generator.py
  tests/iceberg/unit/test_stac_generator.py
Due: mypy, fast-tests, import-linter

feat(cli): make metadata and readme commands recursive by default
  SKILL.md
  portolan_cli/backends/iceberg/backend.py
  portolan_cli/backends/iceberg/stac_generator.py
  portolan_cli/cli.py
  tests/integration/test_readme_recursive.py
  tests/unit/test_cli_metadata_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(cli): scope readme to PATH and harden paths against traversal
  docs/guides/extract-wfs.md
  docs/guides/nested-catalogs.md
  docs/guides/skills.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  tests/integration/test_readme_recursive.py
  tests/unit/test_cli_metadata_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(cli): correct JSON command label and stdout rejection in recursive mode
  portolan_cli/cli.py
  tests/integration/test_readme_recursive.py
  tests/unit/test_cli_metadata_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(scan): distinguish GeoParquet from plain Parquet via metadata peeking
  CLAUDE.md
  portolan_cli/config.py
  portolan_cli/constants.py
  portolan_cli/scan_classify.py
  pyproject.toml
  tests/unit/test_list_with_status.py
  tests/unit/test_scan_classify.py
  tests/unit/test_tabular_support.py
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(add): implement tabular.enabled gate for standalone tabular files (#432)
  portolan_cli/dataset.py
  tests/unit/test_collection_level_assets.py
  tests/unit/test_tabular_parquet_skip.py
  tests/unit/test_tabular_support.py
Due: mypy, fast-tests, import-linter

feat(add): complete tabular data support with GPIO routing and AOI inheritance (#432)
  CLAUDE.md
  context/shared/adr/0047-non-geo-tabular-data-support.md
  portolan_cli/dataset.py
  tests/unit/test_tabular_support.py
Due: validate-claude-md, mypy, fast-tests, import-linter
