Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

docs: fix stale ADR headers, ADR-0009 command table, dangling rules.yaml anchors (#559)
  context/shared/adr/0009-output-dry-run-and-verbose-modes.md
  context/shared/adr/0021-catalog-json-root-level.md
  spec/schema/rules.yaml
Due: validate-claude-md

test: validate spec_compliance against the shipped STAC schemas, hermetically (#557) (#597)
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  context/shared/adr/0056-hermetic-shipped-schema-validation.md
  portolan_cli/validation/_vendored/README.md
  portolan_cli/validation/_vendored/stac/1.1.0/catalog-spec/json-schema/catalog.json
  portolan_cli/validation/_vendored/stac/1.1.0/collection-spec/json-schema/collection.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/bands.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/basics.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/common.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/data-values.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/datetime.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/instrument.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/item.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/licensing.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/provider.json
  portolan_cli/validation/schema_registry.py
  pyproject.toml
  scripts/refresh_stac_schemas.py
  tests/spec_compliance/conftest.py
  tests/spec_compliance/test_catalog_schema.py
  tests/spec_compliance/test_collection_schema.py
  tests/spec_compliance/test_shipped_schema_hermetic.py
  tests/spec_compliance/test_validators.py
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

docs: fix stale ADR headers, ADR-0009 command table, dangling rules.yaml anchors (#559) (#599)
  context/shared/adr/0009-output-dry-run-and-verbose-modes.md
  context/shared/adr/0021-catalog-json-root-level.md
  spec/schema/rules.yaml
Due: validate-claude-md

perf: prune FileGDB subtrees during discovery traversal (#590)
  portolan_cli/discovery.py
  tests/unit/test_discovery_filegdb_prune.py
Due: mypy, fast-tests, import-linter

fix: rm href-matches item-level assets in versions.json; drop dead remove_item (#589)
  portolan_cli/add.py
  portolan_cli/remove.py
  tests/unit/test_add.py
  tests/unit/test_remove_versions.py
Due: mypy, fast-tests, import-linter

fix: rm deletes the item dir by parent, not file stem (#602)
  portolan_cli/remove.py
  tests/integration/test_rm_item_dir_cleanup.py
Due: mypy, fast-tests, import-linter

perf: prune FileGDB subtrees during discovery traversal (#590) (#600)
  portolan_cli/discovery.py
  tests/unit/test_discovery_filegdb_prune.py
Due: mypy, fast-tests, import-linter

fix: rm href-matches item-level assets in versions.json; drop dead remove_item (#589) (#601)
  portolan_cli/add.py
  portolan_cli/remove.py
  tests/unit/test_add.py
  tests/unit/test_remove_versions.py
Due: mypy, fast-tests, import-linter

fix: rm deletes the item dir by parent, not file stem (#602) (#603)
  portolan_cli/remove.py
  tests/integration/test_rm_item_dir_cleanup.py
Due: mypy, fast-tests, import-linter

fix: validate linked collections/items in check --metadata, not just root (#543)
  portolan_cli/validation/rules.py
  portolan_cli/validation/stac_rules.py
  tests/fixtures/validation/stac/README.md
  tests/fixtures/validation/stac/self-contained-invalid-collection/catalog.json
  tests/fixtures/validation/stac/self-contained-invalid-collection/invalid-collection/collection.json
  tests/fixtures/validation/stac/self-contained-invalid-collection/invalid-collection/data-item.json
  tests/fixtures/validation/stac/self-contained-invalid-item/catalog.json
  tests/fixtures/validation/stac/self-contained-invalid-item/demo-collection/collection.json
  tests/fixtures/validation/stac/self-contained-invalid-item/demo-collection/data-item.json
  tests/fixtures/validation/stac/self-contained-valid/catalog.json
  tests/fixtures/validation/stac/self-contained-valid/demo-collection/collection.json
  tests/fixtures/validation/stac/self-contained-valid/demo-collection/data-item.json
  tests/unit/test_validation_rules.py
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

fix: persist freshness heuristics for collection-level assets so check clears (#512)
  portolan_cli/add.py
  portolan_cli/backends/iceberg/versioning.py
  portolan_cli/metadata/scan.py
  portolan_cli/metadata/update.py
  portolan_cli/versions.py
  spec/schema/versions.schema.json
  spec/versions.md
  tests/integration/test_metadata_scan_unification.py
  tests/unit/test_versions.py
Due: mypy, fast-tests, import-linter

fix: restore Windows stac-validator crash tolerance; guard non-object catalog root (#605)
  portolan_cli/validation/rules.py
  portolan_cli/validation/stac_rules.py
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

fix: heal cloned/touched collection-level assets via content-hash fallback (#512)
  portolan_cli/metadata/scan.py
  portolan_cli/metadata/update.py
  tests/integration/test_metadata_scan_unification.py
Due: mypy, fast-tests, import-linter

fix: validate item fields in StacFieldsRule for cross-platform coverage (#605)
  portolan_cli/validation/rules.py
  tests/unit/test_validation_rules.py
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

fix: collection-level asset freshness — check reports STALE that --fix/add cannot clear (#512) (#606)
  portolan_cli/add.py
  portolan_cli/backends/iceberg/versioning.py
  portolan_cli/metadata/scan.py
  portolan_cli/metadata/update.py
  portolan_cli/versions.py
  spec/schema/versions.schema.json
  spec/versions.md
  tests/integration/test_metadata_scan_unification.py
  tests/unit/test_versions.py
Due: mypy, fast-tests, import-linter

fix: check --metadata validates linked collections/items, not just the root (#543) (#605)
  portolan_cli/validation/rules.py
  portolan_cli/validation/stac_rules.py
  tests/fixtures/validation/stac/README.md
  tests/fixtures/validation/stac/self-contained-invalid-collection/catalog.json
  tests/fixtures/validation/stac/self-contained-invalid-collection/invalid-collection/collection.json
  tests/fixtures/validation/stac/self-contained-invalid-collection/invalid-collection/data-item.json
  tests/fixtures/validation/stac/self-contained-invalid-item/catalog.json
  tests/fixtures/validation/stac/self-contained-invalid-item/demo-collection/collection.json
  tests/fixtures/validation/stac/self-contained-invalid-item/demo-collection/data-item.json
  tests/fixtures/validation/stac/self-contained-valid/catalog.json
  tests/fixtures/validation/stac/self-contained-valid/demo-collection/collection.json
  tests/fixtures/validation/stac/self-contained-valid/demo-collection/data-item.json
  tests/unit/test_validation_rules.py
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

fix: lint linked collections/items, not just root catalog (#604)
  portolan_cli/validation/rules.py
  portolan_cli/validation/stac_rules.py
  tests/fixtures/validation/stac/README.md
  tests/fixtures/validation/stac/lint-below-root/catalog.json
  tests/fixtures/validation/stac/lint-below-root/demo-collection/Bad Item.json
  tests/fixtures/validation/stac/lint-below-root/demo-collection/collection.json
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

fix: lint linked collections/items, not just root catalog (#604) (#607)
  portolan_cli/validation/rules.py
  portolan_cli/validation/stac_rules.py
  tests/fixtures/validation/stac/README.md
  tests/fixtures/validation/stac/lint-below-root/catalog.json
  tests/fixtures/validation/stac/lint-below-root/demo-collection/Bad Item.json
  tests/fixtures/validation/stac/lint-below-root/demo-collection/collection.json
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

spec: adopt STAC Authentication (incl. tokenExchange flow) for gated catalogs
  spec/README.md
  spec/examples/access-collection.json
  spec/examples/authentication-collection.json
  spec/extensions/access.md
  spec/extensions/authentication.md
  spec/schema/access/v1.0.0/schema.json
Due: none

fix(add): scan collection-level assets in O(n), not O(n²) (#465)
  portolan_cli/add.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_csv_skip.py
  tests/unit/test_scan_bounded_465.py
Due: mypy, fast-tests, import-linter

fix(add): also prune multilayer layer outputs from sibling scan (#465)
  portolan_cli/add.py
  tests/unit/test_scan_bounded_465.py
Due: mypy, fast-tests, import-linter

fix(add): scan collection-level assets in O(n), not O(n²) (#465) (#608)
  portolan_cli/add.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_csv_skip.py
  tests/unit/test_scan_bounded_465.py
Due: mypy, fast-tests, import-linter

ci(security): harden all workflows + add actionlint/zizmor gates
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/sync-skills.yml
  .github/workflows/sync-spec.yml
  prek.toml
Due: none

ci(quality): single rule source + pip-audit ignore file
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/security-audit.yml
  .pip-audit-ignores
  CLAUDE.md
  prek.toml
  scripts/pip_audit_ignores.py
  tests/fixtures/validation/stac/self-contained-invalid-item/catalog.json
  tests/fixtures/validation/stac/self-contained-invalid-item/demo-collection/data-item.json
  tests/unit/test_pip_audit_ignores.py
Due: validate-claude-md, mypy, fast-tests, import-linter

ci(security): harden all workflows + add actionlint/zizmor gates (#609)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/sync-skills.yml
  .github/workflows/sync-spec.yml
  prek.toml
Due: none

ci(mutation): fail loud on broken mutation testing + repair mutmut config
  .github/workflows/nightly.yml
  .mutation-baseline
  context/shared/documentation/ci.md
  pyproject.toml
Due: none

ci(automation): branch protection as code + Dependabot auto-merge + network issue
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/nightly.yml
  scripts/apply_branch_protection.sh
Due: none

docs(contributing): AI-era contributor guide + PR bar + CI reality
  .github/pull_request_template.md
  context/shared/documentation/ci.md
  docs/contributing.md
Due: none

ci(quality): single rule source + pip-audit ignore file (#610)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/security-audit.yml
  .pip-audit-ignores
  CLAUDE.md
  prek.toml
  scripts/pip_audit_ignores.py
  tests/fixtures/validation/stac/self-contained-invalid-item/catalog.json
  tests/fixtures/validation/stac/self-contained-invalid-item/demo-collection/data-item.json
  tests/unit/test_pip_audit_ignores.py
Due: validate-claude-md, mypy, fast-tests, import-linter

ci(mutation): fail loud on broken mutation testing + repair mutmut config (#613)
  .github/workflows/nightly.yml
  .mutation-baseline
  context/shared/documentation/ci.md
  pyproject.toml
Due: none

ci(automation): branch protection as code + Dependabot auto-merge + network issue (#614)
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/nightly.yml
  scripts/apply_branch_protection.sh
Due: none

docs(contributing): AI-era contributor guide + PR bar + CI reality (#615)
  .github/pull_request_template.md
  context/shared/documentation/ci.md
  docs/contributing.md
Due: none

ci: land single-rule-source, mutation, automation & contributor guide
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/nightly.yml
  .github/workflows/security-audit.yml
  .mutation-baseline
  .pip-audit-ignores
  CLAUDE.md
  context/shared/documentation/ci.md
  docs/contributing.md
  prek.toml
  pyproject.toml
  scripts/apply_branch_protection.sh
  scripts/pip_audit_ignores.py
  tests/fixtures/validation/stac/self-contained-invalid-item/catalog.json
  tests/fixtures/validation/stac/self-contained-invalid-item/demo-collection/data-item.json
  tests/unit/test_pip_audit_ignores.py
Due: validate-claude-md, mypy, fast-tests, import-linter

ci: land single-rule-source, mutation, automation & contributor guide (#616)
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/nightly.yml
  .github/workflows/security-audit.yml
  .mutation-baseline
  .pip-audit-ignores
  CLAUDE.md
  context/shared/documentation/ci.md
  docs/contributing.md
  prek.toml
  pyproject.toml
  scripts/apply_branch_protection.sh
  scripts/pip_audit_ignores.py
  tests/fixtures/validation/stac/self-contained-invalid-item/catalog.json
  tests/fixtures/validation/stac/self-contained-invalid-item/demo-collection/data-item.json
  tests/unit/test_pip_audit_ignores.py
Due: validate-claude-md, mypy, fast-tests, import-linter

refactor(cli): collapse duplicated JSON envelope blocks into emit helpers (#619)
  portolan_cli/cli.py
  portolan_cli/emit.py
  tests/unit/test_emit.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(cli): collapse duplicated JSON envelope blocks into emit helpers (#619) (#626)
  portolan_cli/cli.py
  portolan_cli/emit.py
  tests/unit/test_emit.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): report returned push failures as errors in JSON mode
  portolan_cli/cli.py
  tests/integration/test_push_integration.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(cli): move post-add and check orchestration helpers into library (#620)
  .claude/rules/conversion-and-visualization.md
  portolan_cli/check.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/partitioning.py
  portolan_cli/pmtiles.py
  portolan_cli/stac_parquet.py
  tests/unit/test_check_workflow.py
  tests/unit/test_cli_check.py
  tests/unit/test_config.py
  tests/unit/test_partitioning.py
  tests/unit/test_pmtiles.py
  tests/unit/test_stac_parquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): report returned push failures as errors in JSON mode (#627)
  portolan_cli/cli.py
  tests/integration/test_push_integration.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(cli): move post-add and check orchestration helpers into library (#620) (#628)
  .claude/rules/conversion-and-visualization.md
  portolan_cli/check.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/partitioning.py
  portolan_cli/pmtiles.py
  portolan_cli/stac_parquet.py
  tests/unit/test_check_workflow.py
  tests/unit/test_cli_check.py
  tests/unit/test_config.py
  tests/unit/test_partitioning.py
  tests/unit/test_pmtiles.py
  tests/unit/test_stac_parquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
