Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(cli): resolve aws_profile from config.yaml for push/pull/sync/clone
  portolan_cli/cli.py
  tests/integration/test_push_integration.py
  tests/integration/test_sync_integration.py
  tests/unit/test_cli_profile_default.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(config): implement hierarchical .portolan/ folder support (ADR-0039)
  context/shared/adr/0038-metadata-yaml-enrichment.md
  context/shared/adr/0039-hierarchical-portolan-folders.md
  docs/reference/configuration.md
  portolan_cli/config.py
  tests/unit/test_config_hierarchy.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(cli): add catalog root auto-detection to sync command
  portolan_cli/cli.py
  tests/unit/test_cli_profile_default.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(config): address CodeRabbit review comments for ADR-0039
  portolan_cli/config.py
  portolan_cli/dataset.py
Due: mypy, fast-tests, import-linter

feat(metadata): implement metadata.yaml + README generation (ADR-0038)
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/metadata_yaml.py
  portolan_cli/readme.py
  tests/unit/test_cli_metadata_readme.py
  tests/unit/test_metadata_yaml.py
  tests/unit/test_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs: add metadata.yaml and README generation documentation
  .menard/links.toml
  docs/reference/configuration.md
Due: none

docs(adr): update ADR-0038 to reflect final implementation
  context/shared/adr/0038-metadata-yaml-enrichment.md
Due: validate-claude-md

fix(cli): show clean error for invalid YAML in metadata commands
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(metadata): support SPDX LicenseRef-* custom license identifiers
  portolan_cli/metadata_yaml.py
  tests/unit/test_metadata_yaml.py
Due: mypy, fast-tests, import-linter

fix(cli): address issue #278 review findings
  portolan_cli/cli.py
  portolan_cli/readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): handle naive/aware datetime comparison and JSON serialization
  portolan_cli/metadata/statistics.py
  portolan_cli/stac.py
  portolan_cli/temporal.py
Due: mypy, fast-tests, import-linter

fix(add): show success message when command completes
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(readme): add catalog aggregation and --recursive flag
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/readme.py
  tests/integration/test_readme_recursive.py
  tests/unit/test_readme_catalog_aggregation.py
  tests/unit/test_readme_metadata_sections.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(tests): remove unused mock_catalog_with_profile fixture
  tests/unit/test_cli_profile_default.py
Due: mypy, fast-tests, import-linter

fix(readme): recursive mode now traverses nested catalogs
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(dataset): batch versioning for O(n) performance (Issue #281)
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/benchmark/test_batch_versioning_benchmark.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_batch_versioning.py
  tests/unit/test_csv_skip.py
  tests/unit/test_tabular_parquet_skip.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(summaries): move collection summaries from push to finalize_datasets
  portolan_cli/dataset.py
  portolan_cli/push.py
Due: mypy, fast-tests, import-linter

docs(CLAUDE.md): note progress UI pattern from add/scan
  CLAUDE.md
Due: validate-claude-md

fix(s3): pass region config to S3Store and support profile alias
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/push.py
  portolan_cli/sync.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(push): update mock assertions for region parameter
  tests/unit/test_push_catalog_wide.py
Due: mypy, fast-tests, import-linter

feat(push): parallelize asset uploads with workers parameter
  portolan_cli/cli.py
  portolan_cli/push.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_push.py
  tests/unit/test_push_catalog_wide.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

chore: remove design plan doc from PR
  context/shared/plans/2026-03-26-metadata-readme-design.md
Due: none

docs: add profile alias, region setting, and new CLI commands
  .menard/links.toml
  README.md
  docs/reference/configuration.md
Due: none

feat(push): upload README.md files alongside STAC metadata
  portolan_cli/push.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix(push): upload READMEs after versions.json, not before
  portolan_cli/push.py
Due: mypy, fast-tests, import-linter

feat: metadata.yaml enrichment, README generation, batch versioning, S3 fixes (#278)
  .menard/links.toml
  CLAUDE.md
  README.md
  SKILL.md
  context/shared/adr/0038-metadata-yaml-enrichment.md
  context/shared/adr/0039-hierarchical-portolan-folders.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/metadata/statistics.py
  portolan_cli/metadata_yaml.py
  portolan_cli/push.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  portolan_cli/sync.py
  portolan_cli/temporal.py
  tests/benchmark/test_batch_versioning_benchmark.py
  tests/integration/test_push_integration.py
  tests/integration/test_readme_recursive.py
  tests/integration/test_sync_integration.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_batch_versioning.py
  tests/unit/test_cli_metadata_readme.py
  tests/unit/test_cli_profile_default.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_config_hierarchy.py
  tests/unit/test_csv_skip.py
  tests/unit/test_metadata_yaml.py
  tests/unit/test_push.py
  tests/unit/test_push_catalog_wide.py
  tests/unit/test_readme.py
  tests/unit/test_readme_catalog_aggregation.py
  tests/unit/test_readme_metadata_sections.py
  tests/unit/test_tabular_parquet_skip.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(convert): make COG conversion settings configurable via config.yaml
  docs/reference/configuration.md
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  tests/integration/test_convert_workflow.py
  tests/unit/test_conversion_config.py
Due: mypy, fast-tests, import-linter

fix(convert): pass catalog_path through convert_directory and add validation
  docs/reference/configuration.md
  portolan_cli/check.py
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  tests/integration/test_convert_workflow.py
  tests/unit/test_conversion_config.py
Due: mypy, fast-tests, import-linter

feat(convert): make COG conversion settings configurable via config.yaml (#283)
  docs/reference/configuration.md
  portolan_cli/check.py
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  tests/integration/test_convert_workflow.py
  tests/unit/test_conversion_config.py
Due: mypy, fast-tests, import-linter

feat(push): add live progress bar with upload speed (#282)
  .menard/links.toml
  portolan_cli/cli.py
  portolan_cli/parallel.py
  portolan_cli/push.py
  portolan_cli/upload_progress.py
  tests/unit/test_push.py
  tests/unit/test_push_catalog_wide.py
  tests/unit/test_push_verbose.py
  tests/unit/test_scan_unrecognized_files_property.py
  tests/unit/test_upload_progress.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(deps): resolve security audit failures (requests, pygments)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  pyproject.toml
  uv.lock
Due: none

fix(security): add nosec comments for intentional bandit patterns
  portolan_cli/dataset.py
  portolan_cli/stac.py
Due: mypy, fast-tests, import-linter

fix(deps): resolve security audit failures (#286)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  portolan_cli/dataset.py
  portolan_cli/stac.py
  pyproject.toml
  uv.lock
Due: mypy, fast-tests, import-linter

fix(security): add SQL injection protection for layer names
  portolan_cli/convert.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

Revert "fix(security): add SQL injection protection for layer names"
  portolan_cli/convert.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

fix(deps): add pygments CVE-2026-4539 security constraint
  pyproject.toml
  uv.lock
Due: none

fix(deps): add pygments CVE-2026-4539 security constraint (#297)
  pyproject.toml
  uv.lock
Due: none

docs: add nested catalogs guide
  docs/guides/nested-catalogs.md
  mkdocs.yml
Due: none

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
