Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix: restore documentation reset CI
  portolan_cli/extension_registry.py
  portolan_cli/sync/upload.py
  pyproject.toml
  scripts/gen_input_formats_doc.py
  tests/unit/test_input_formats_doc.py
Due: mypy, fast-tests, import-linter

docs: add Philadelphia housing publishing tutorial
  .github/workflows/ci.yml
  AGENTS.md
  context/shared/documentation/v1-documentation-scope.md
  docs/examples.md
  examples/philadelphia-housing/README.md
  examples/philadelphia-housing/metadata/affordable_housing.yaml
  examples/philadelphia-housing/metadata/catalog.yaml
  examples/philadelphia-housing/metadata/council_districts_2024.yaml
  examples/philadelphia-housing/query.py
  examples/philadelphia-housing/run.sh
  examples/publish-catalog/README.md
  examples/publish-catalog/metadata.yaml
  examples/publish-catalog/points.parquet
  examples/publish-catalog/run.sh
  portolan_cli/extract/arcgis/orchestrator.py
  tests/docs/philadelphia_arcgis_server.py
  tests/docs/test_v1_examples.py
  tests/fixtures/realdata/philadelphia-housing/README.md
  tests/fixtures/realdata/philadelphia-housing/affordable_housing.parquet
  tests/fixtures/realdata/philadelphia-housing/council_districts_2024.parquet
  tests/unit/extract/arcgis/test_orchestrator.py
Due: mypy, fast-tests, import-linter

docs: make Philadelphia tutorial task oriented
  README.md
  docs/BRANDING.md
  examples/philadelphia-housing/01-create-catalog.sh
  examples/philadelphia-housing/02-add-context.sh
  examples/philadelphia-housing/03-publish.sh
  examples/philadelphia-housing/README.md
  examples/philadelphia-housing/run.sh
  tests/docs/test_v1_examples.py
Due: mypy, fast-tests, import-linter

test: make documentation replay portable
  tests/docs/test_v1_examples.py
Due: mypy, fast-tests, import-linter

fix: clarify docs and protect S3 credentials
  context/shared/documentation/v1-documentation-scope.md
  examples/philadelphia-housing/02-add-context.sh
  examples/philadelphia-housing/README.md
  examples/philadelphia-housing/query.py
  portolan_cli/errors.py
  portolan_cli/sync/upload.py
  scripts/generate_reference_docs.py
  tests/docs/test_v1_examples.py
  tests/unit/test_download.py
  tests/unit/test_s3_endpoint_settings.py
Due: mypy, fast-tests, import-linter

docs: define Portolan as a specification
  README.md
  tests/docs/test_v1_examples.py
Due: mypy, fast-tests, import-linter

docs: expose Philadelphia tutorial workflow
  .github/workflows/ci.yml
  examples/philadelphia-housing/README.md
  examples/philadelphia-housing/metadata/affordable_housing.yaml
  examples/philadelphia-housing/metadata/catalog.yaml
  examples/philadelphia-housing/metadata/council_districts_2024.yaml
  tests/docs/test_v1_examples.py
Due: mypy, fast-tests, import-linter

test: avoid ArcGIS fixture startup timeout
  tests/docs/philadelphia_arcgis_server.py
  tests/docs/test_v1_examples.py
Due: mypy, fast-tests, import-linter

test: decode tutorial files as UTF-8
  tests/docs/test_v1_examples.py
Due: mypy, fast-tests, import-linter

test: use UTF-8 for tutorial subprocesses
  tests/docs/test_v1_examples.py
Due: mypy, fast-tests, import-linter

ci: scope the iceberg coverage upload to the iceberg backend
  .github/workflows/ci.yml
  uv.lock
Due: none

ci: scope the iceberg coverage upload to the iceberg backend (#824)
  .github/workflows/ci.yml
  uv.lock
Due: none

feat: add check --data-scope and correct the offline claim in help (#819)
  portolan_cli/cli.py
  portolan_cli/validation/runner.py
  tests/unit/test_cli_check.py
  tests/unit/validation/test_rashid_adapter.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: keep existing PMTiles when tippecanoe refuses overwrite (#814)
  portolan_cli/viz/pmtiles.py
  tests/unit/test_pmtiles.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix: sync collection AGENTS.md when no version changes (#816)
  portolan_cli/cli.py
  portolan_cli/sync/core.py
  portolan_cli/sync/push.py
  tests/integration/test_push_integration.py
  tests/unit/test_push_metadata_sync.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(docs): use the canonical Portolan mark
  .github/SOCIAL_PREVIEW.md
  docs/BRANDING.md
  docs/assets/images/cover.png
  docs/assets/images/favicon.ico
  docs/assets/images/icon-white.svg
  docs/assets/images/icon.svg
  docs/assets/images/logo.png
  docs/assets/images/logo.svg
  docs/assets/images/social-card.png
  mkdocs.yml
Due: none

style(docs): bring the documentation site onto the brand
  docs/assets/stylesheets/extra.css
  mkdocs.yml
Due: none

fix: restore uv.lock to revision 3 (#826)
  uv.lock
Due: none

fix: restore uv.lock to remove format-downgrade churn (#825)
  uv.lock
Due: none

fix: address review feedback (#828)
  portolan_cli/sync/push.py
  tests/unit/test_push_metadata_sync.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix: apply the root metadata.yaml title to catalog.json (#815)
  portolan_cli/add.py
  portolan_cli/catalog.py
  portolan_cli/config.py
  portolan_cli/finalization.py
  portolan_cli/metadata_yaml.py
  tests/integration/test_mandatory_titles_add.py
  tests/unit/test_catalog_root_titles.py
Due: mypy, fast-tests, import-linter

add --pmtiles deletes existing PMTiles when tippecanoe refuses to overwrite (exit 104) (#826)
  portolan_cli/viz/pmtiles.py
  tests/unit/test_pmtiles.py
Due: mypy, fast-tests, import-linter

fix: keep existing PMTiles when tippecanoe refuses overwrite (#814)
  uv.lock
Due: none

fix: apply the metadata.yaml title on the repair path too (#815)
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/external.py
  portolan_cli/metadata/fix.py
  portolan_cli/metadata_yaml.py
  tests/integration/test_mandatory_titles_add.py
  tests/unit/test_catalog_root_titles.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

[Docs]: check --help says every pass is offline, but the data pass reads remote assets over HTTP (#825)
  portolan_cli/cli.py
  portolan_cli/validation/runner.py
  tests/unit/test_cli_check.py
  tests/unit/validation/test_rashid_adapter.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: report rm no-op and restore uv.lock revision (#827)
  portolan_cli/cli.py
  tests/unit/test_cli_add_rm.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor: split rm_cmd to clear xenon rank D (#827)
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: let rm untrack a file that is gone from disk (#803)
  portolan_cli/cli.py
  portolan_cli/remove.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_remove_files.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(docs): keep logo.svg and rebuild it as the corrected lockup
  .github/SOCIAL_PREVIEW.md
  docs/BRANDING.md
  docs/assets/images/cover.png
  docs/assets/images/logo.svg
  docs/assets/images/social-card.png
Due: none

rm cannot untrack a file that no longer exists on disk (#827)
  portolan_cli/cli.py
  portolan_cli/remove.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_remove_files.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(docs): give the lockup two colors
  docs/assets/images/cover.png
  docs/assets/images/logo.svg
  docs/assets/images/social-card.png
Due: none

fix(docs): set the lockup to the website proportions
  docs/assets/images/cover.png
  docs/assets/images/logo.svg
  docs/assets/images/social-card.png
Due: none

push never uploads a collection's AGENTS.md unless the version changes (#828)
  portolan_cli/cli.py
  portolan_cli/sync/core.py
  portolan_cli/sync/push.py
  tests/integration/test_push_integration.py
  tests/unit/test_push_metadata_sync.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: apply the root metadata.yaml title to catalog.json (#815) (#829)
  portolan_cli/add.py
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/external.py
  portolan_cli/finalization.py
  portolan_cli/metadata/fix.py
  portolan_cli/metadata_yaml.py
  tests/integration/test_mandatory_titles_add.py
  tests/unit/test_catalog_root_titles.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(docs): use the canonical mark and bring the docs site onto the brand (#831)
  .github/SOCIAL_PREVIEW.md
  docs/BRANDING.md
  docs/assets/images/cover.png
  docs/assets/images/favicon.ico
  docs/assets/images/icon-white.svg
  docs/assets/images/icon.svg
  docs/assets/images/logo.png
  docs/assets/images/logo.svg
  docs/assets/images/social-card.png
  docs/assets/stylesheets/extra.css
  mkdocs.yml
Due: none

fix: cover contact-driven providers and description precedence (#835)
  portolan_cli/finalization.py
  tests/unit/test_apply_human_metadata.py
Due: mypy, fast-tests, import-linter

fix: preserve collection metadata and schema version on re-add (#755)
  portolan_cli/add.py
  portolan_cli/config.py
  portolan_cli/finalization.py
  portolan_cli/stac.py
  tests/integration/test_readd_preserves_metadata.py
  tests/unit/test_apply_human_metadata.py
  tests/unit/test_schema_uri.py
Due: mypy, fast-tests, import-linter

fix: keep catalog-wide push --dry-run --json side-effect-honest (#833)
  portolan_cli/cli.py
  portolan_cli/sync/push.py
  tests/unit/test_push_catalog_wide.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
