Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

refactor: move input hardening out of the validation package (#678)
  .claude/rules/cli-and-output.md
  .claude/rules/sync.md
  context/shared/adr/0030-agent-native-cli-design.md
  portolan_cli/external.py
  portolan_cli/input_hardening.py
  portolan_cli/validation/__init__.py
  pyproject.toml
  tests/unit/test_input_hardening.py
Due: validate-claude-md, mypy, fast-tests, import-linter

docs: record the rashid delegation in ADR-0057 and add the upstream canary (#681)
  .claude/rules/conversion-and-visualization.md
  .claude/rules/scan-check.md
  .claude/rules/stac-assets.md
  .github/workflows/nightly.yml
  CLAUDE.md
  context/shared/adr/0011-mvp-validation-framework.md
  context/shared/adr/0048-cli-as-spec-source.md
  context/shared/adr/0056-hermetic-shipped-schema-validation.md
  context/shared/adr/0057-rashid-as-conformance-validator.md
  portolan_cli/agents_md.py
  portolan_cli/catalog.py
  portolan_cli/finalization.py
  portolan_cli/metadata/fix.py
  portolan_cli/scan/check.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/pmtiles_links.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix: atomic STAC writes, readme-link safety, and honest fix accounting primitives
  docs/reference/configuration.md
  portolan_cli/agents_md.py
  portolan_cli/catalog.py
  portolan_cli/json_io.py
  portolan_cli/metadata/fix.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  portolan_cli/versions.py
  tests/unit/test_agents_md.py
  tests/unit/test_cli_check.py
  tests/unit/test_ensure_readmes.py
  tests/unit/test_ensure_schema_uris.py
  tests/unit/test_json_io.py
  tests/unit/test_metadata_fix.py
Due: mypy, fast-tests, import-linter

fix(validation): read COG detection and multihash encoding from rashid
  portolan_cli/sync/checksums.py
  portolan_cli/validation/fixers.py
  pyproject.toml
  tests/unit/test_multihash_checksum.py
  tests/unit/validation/test_fixers.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix: make the fixer registry honest — real bbox repair, gap parity with rashid, no silent conversion
  portolan_cli/cli.py
  portolan_cli/validation/fixers.py
  portolan_cli/validation/remediation.py
  portolan_cli/validation/report.py
  portolan_cli/validation/runner.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/test_cli_check.py
  tests/unit/validation/test_fixers.py
  tests/unit/validation/test_report_payload.py
  tests/unit/validation/test_workflow_notice.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

chore: reconcile the changelog with what the remediation waves shipped
  CHANGELOG.md
Due: none

fix(validation): read COG detection and multihash encoding from rashid (#689)
  portolan_cli/sync/checksums.py
  portolan_cli/validation/fixers.py
  pyproject.toml
  tests/unit/test_multihash_checksum.py
  tests/unit/validation/test_fixers.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix: address review comments and cross-platform CI failures
  docs/guides/extract-arcgis.md
  docs/reference/configuration.md
  portolan_cli/add.py
  portolan_cli/catalog.py
  portolan_cli/clean.py
  portolan_cli/cli.py
  portolan_cli/collection.py
  portolan_cli/config.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/extract/arcgis/imageserver/resume.py
  portolan_cli/extract/common/report.py
  portolan_cli/extract/common/styles.py
  portolan_cli/finalization.py
  portolan_cli/inspect.py
  portolan_cli/item.py
  portolan_cli/metadata/detection.py
  portolan_cli/metadata/scan.py
  portolan_cli/metadata/update.py
  portolan_cli/metadata/validation.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  portolan_cli/stac_parquet.py
  portolan_cli/status.py
  portolan_cli/sync/pull.py
  portolan_cli/sync/push.py
  portolan_cli/validation/report.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/style.py
  portolan_cli/viz/thumbnail_style.py
  pyproject.toml
  tests/docs/test_readme_examples.py
  tests/unit/test_ensure_readmes.py
  tests/unit/test_finalization_link_hrefs.py
  tests/unit/test_tabular_support.py
  tests/unit/validation/test_report_payload.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test: suppress the differing-executors health check under mutmut
  tests/unit/test_cli_check.py
Due: mypy, fast-tests, import-linter

fix: suppress differing-executors globally under mutmut and close review gaps
  portolan_cli/catalog.py
  portolan_cli/json_io.py
  portolan_cli/stac_parquet.py
  tests/conftest.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_json_io.py
  tests/unit/test_stac_parquet.py
Due: mypy, fast-tests, import-linter

fix(ci): stop Windows newline translation and mutmut output pollution
  portolan_cli/json_io.py
  tests/conftest.py
  tests/integration/test_push_integration.py
  tests/unit/test_add_failures_batching.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_push_default_remote.py
  tests/unit/test_scan_unrecognized_files_property.py
Due: mypy, fast-tests, import-linter

fix(check): report the --fix dry run honestly instead of inverting it
  portolan_cli/cli.py
  tests/integration/test_rashid_roundtrip.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: treat an organizing catalog as part of the collection it serves
  portolan_cli/cli.py
  portolan_cli/inspect.py
  portolan_cli/stac_parquet.py
  portolan_cli/validation/fixers.py
  tests/unit/test_cli_stac_geoparquet.py
  tests/unit/test_inspect.py
  tests/unit/test_stac_parquet.py
  tests/unit/validation/test_fixers.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs: apply the org voice and style rules to the rehomed prose
  .github/pull_request_template.md
  context/shared/documentation/agent-threat-model.md
  context/shared/documentation/catalog-layout-contract.md
  context/shared/documentation/why-not-iceberg.md
  context/shared/known-issues/esri-gdb-rasters.md
  docs/contributing.md
  docs/guides/metadata-defaults.md
  docs/guides/version-management.md
  docs/reference/configuration.md
  portolan_cli/catalog.py
  portolan_cli/config.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/test_add_external.py
  tests/unit/test_scan_strict.py
Due: validate-claude-md, mypy, fast-tests, import-linter

chore: stop tracking context/shared/plans and git-ignore it
  .claude/rules/documentation.md
  .gitignore
  CLAUDE.md
  context/shared/plans/2026-03-05-fix-versions-snapshot-model.md
  context/shared/plans/2026-04-07-metadata-extractor-abstraction-design.md
  context/shared/plans/2026-04-21-versioning-stress-tests.md
  context/shared/plans/2026-05-06-partition-stac-extension.md
  context/shared/plans/2026-05-07-styles-as-stac-assets-plan.md
  context/shared/plans/2026-06-09-arcgis-folder-recursion-design.md
  context/shared/plans/2026-06-09-arcgis-folder-recursion-plan.md
  context/shared/plans/dataset-split-and-terminology-sweep.md
  context/shared/plans/pr-321-async-migration-fixes.md
  portolan_cli/extract/arcgis/url_parser.py
Due: validate-claude-md, mypy, fast-tests, import-linter

docs: move repo instructions from CLAUDE.md to AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: validate-claude-md

fix: point the doc validators at AGENTS.md
  .claude/rules/architecture.md
  .claude/rules/documentation.md
  .claude/rules/testing.md
  .github/workflows/ci.yml
  AGENTS.md
  context/shared/documentation/ci.md
  prek.toml
  scripts/generate_agents_md_sections.py
  scripts/orchestrate-issue.sh
  scripts/update_freshness.py
  scripts/validate_agents_md.py
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

chore: stop tracking context/shared/plans and git-ignore it (#692)
  .claude/rules/documentation.md
  .gitignore
  context/shared/plans/2026-03-05-fix-versions-snapshot-model.md
  context/shared/plans/2026-04-07-metadata-extractor-abstraction-design.md
  context/shared/plans/2026-04-21-versioning-stress-tests.md
  context/shared/plans/2026-05-06-partition-stac-extension.md
  context/shared/plans/2026-05-07-styles-as-stac-assets-plan.md
  context/shared/plans/2026-06-09-arcgis-folder-recursion-design.md
  context/shared/plans/2026-06-09-arcgis-folder-recursion-plan.md
  context/shared/plans/dataset-split-and-terminology-sweep.md
  context/shared/plans/pr-321-async-migration-fixes.md
  portolan_cli/extract/arcgis/url_parser.py
Due: mypy, fast-tests, import-linter

fix: derive COG predictor and resampling from the source raster (#690)
  .claude/rules/conversion-and-visualization.md
  docs/reference/configuration.md
  docs/reference/formats.md
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/preparation.py
  tests/integration/test_convert_workflow.py
  tests/unit/test_conversion_config.py
Due: mypy, fast-tests, import-linter

fix: derive COG predictor and resampling from the source raster (#690) (#695)
  .claude/rules/conversion-and-visualization.md
  docs/reference/configuration.md
  docs/reference/formats.md
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/preparation.py
  tests/integration/test_convert_workflow.py
  tests/unit/test_conversion_config.py
Due: mypy, fast-tests, import-linter

chore: adopt the org pull request template
  .github/pull_request_template.md
Due: none

fix(ci): run the checks on every pull request, not only those onto main
  .github/workflows/ci.yml
Due: none

chore: adopt the org pull request template (#696)
  .github/pull_request_template.md
Due: none

fix(ci): run the checks on every pull request, not only those onto main (#697)
  .github/workflows/ci.yml
Due: none

fix: lock the rashid seam to its public API (#688)
  portolan_cli/agents_md.py
  portolan_cli/readme.py
  tests/unit/validation/test_rashid_public_surface.py
Due: mypy, fast-tests, import-linter

fix: lock the rashid seam to its public API (#688) (#704)
  portolan_cli/agents_md.py
  portolan_cli/readme.py
  tests/unit/validation/test_rashid_public_surface.py
Due: mypy, fast-tests, import-linter

fix: route every remaining JSON write through the atomic helper (#687)
  portolan_cli/add.py
  portolan_cli/catalog.py
  portolan_cli/collection.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/extract/arcgis/imageserver/resume.py
  portolan_cli/extract/common/report.py
  portolan_cli/extract/common/styles.py
  portolan_cli/finalization.py
  portolan_cli/item.py
  portolan_cli/schema/export.py
  portolan_cli/sync/pull.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/style.py
  tests/unit/test_json_io.py
  tests/unit/test_json_write_sites.py
Due: mypy, fast-tests, import-linter

fix: route every remaining JSON write through the atomic helper (#687) (#706)
  portolan_cli/add.py
  portolan_cli/catalog.py
  portolan_cli/collection.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/extract/arcgis/imageserver/resume.py
  portolan_cli/extract/common/report.py
  portolan_cli/extract/common/styles.py
  portolan_cli/finalization.py
  portolan_cli/item.py
  portolan_cli/schema/export.py
  portolan_cli/sync/pull.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/style.py
  tests/unit/test_json_io.py
  tests/unit/test_json_write_sites.py
Due: mypy, fast-tests, import-linter

fix(add): generate + register COG thumbnail asset (#657)
  portolan_cli/preparation.py
  tests/integration/test_add_integration.py
Due: mypy, fast-tests, import-linter

feat: give collections a provider model and derived provenance (#684)
  portolan_cli/add.py
  portolan_cli/errors.py
  portolan_cli/finalization.py
  portolan_cli/metadata_yaml.py
  portolan_cli/providers.py
  portolan_cli/stac.py
  tests/integration/test_generated_catalog_conformance.py
  tests/integration/test_provider_generation.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/test_apply_human_providers.py
  tests/unit/test_metadata_yaml_providers.py
  tests/unit/test_providers.py
Due: mypy, fast-tests, import-linter

feat: give collections a provider model and derived provenance (#684) (#707)
  portolan_cli/add.py
  portolan_cli/errors.py
  portolan_cli/finalization.py
  portolan_cli/metadata_yaml.py
  portolan_cli/providers.py
  portolan_cli/stac.py
  tests/integration/test_generated_catalog_conformance.py
  tests/integration/test_provider_generation.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/test_apply_human_providers.py
  tests/unit/test_metadata_yaml_providers.py
  tests/unit/test_providers.py
Due: mypy, fast-tests, import-linter

fix(add): generate + register COG thumbnail asset (#657) (#658)
  portolan_cli/preparation.py
  tests/integration/test_add_integration.py
Due: mypy, fast-tests, import-linter

fix(stac-geoparquet): threshold-gate bulk items.parquet generation (#653)
  docs/reference/configuration.md
  portolan_cli/cli.py
  tests/unit/test_cli_stac_geoparquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter
