Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(types): add missing mypy type annotations for backend helpers
  portolan_cli/cli.py
  portolan_cli/version_ops.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(cli,dataset): add unit tests for backend routing and version commands
  tests/unit/test_cli_version_commands.py
  tests/unit/test_finalize_with_backend.py
Due: mypy, fast-tests, import-linter

fix(cli,dataset): address CodeRabbit review findings
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/unit/test_pull_backend_routing.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(dataset): update collection.json with STAC Iceberg extension metadata
  portolan_cli/dataset.py
Due: mypy, fast-tests, import-linter

feat(remote): upload on add, push messaging, and iceberg pull support
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/pull.py
  tests/unit/test_pull_iceberg.py
  tests/unit/test_push_iceberg_block.py
  tests/unit/test_remote_upload_on_add.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(cli,dataset): extract backend helpers to reduce cyclomatic complexity
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/unit/test_version_ops.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(cli): restructure version commands as subcommand group
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(tests): align tests with upstream state.json removal and datetime sentinel
  tests/unit/test_catalog_model_init.py
  tests/unit/test_temporal_handling.py
  tests/unit/test_version_ops.py
Due: mypy, fast-tests, import-linter

feat(cli): add --backend flag to init command
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): add versions, rollback, and prune commands
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(tests): replace iceberg-specific naming with generic backend terminology
  portolan_cli/backends/json_file.py
  tests/unit/test_pull_backend_routing.py
  tests/unit/test_push_backend_block.py
Due: mypy, fast-tests, import-linter

fix(stac): use sentinel datetime range instead of null for provisional items
  portolan_cli/stac.py
  tests/unit/test_stac.py
Due: mypy, fast-tests, import-linter

refactor(backends): replace iceberg-specific code with generic protocol hooks
  portolan_cli/backends/protocol.py
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/pull.py
  tests/unit/test_pull_iceberg.py
  tests/unit/test_push_iceberg_block.py
  tests/unit/test_remote_upload_on_add.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(backends): adapt backend routing to batch finalize_datasets architecture
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/unit/backends/test_backends.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(remote): upload only STAC metadata for iceberg backend and fix asset href doubling
  portolan_cli/dataset.py
  tests/unit/test_remote_upload_on_add.py
Due: mypy, fast-tests, import-linter

feat(backends): route dataset mutations through versioning backend
  portolan_cli/backends/__init__.py
  portolan_cli/backends/json_file.py
  portolan_cli/backends/protocol.py
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/version_ops.py
  tests/unit/backends/test_backends.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_dataset.py
  tests/unit/test_version_ops.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(cli): resolve backend setting at collection scope for push/pull
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(progress): Unified progress output model (ADR-0040)
  CLAUDE.md
  context/shared/adr/0040-unified-progress-output.md
  portolan_cli/add_progress.py
  portolan_cli/cli.py
  portolan_cli/push.py
  tests/unit/test_add_progress.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(progress): Unify progress systems and fix parallel mode
  portolan_cli/add_progress.py
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/push.py
  tests/unit/test_add_progress.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(progress): Suppress per-file success output by default (ADR-0040)
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(pull): migrate to async with concurrent downloads
  portolan_cli/cli.py
  portolan_cli/pull.py
  tests/unit/test_pull.py
  tests/unit/test_pull_async.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(push): migrate to async with concurrent uploads
  portolan_cli/async_utils.py
  portolan_cli/cli.py
  portolan_cli/push.py
  tests/unit/test_push_async.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(async): Complete async migration for push/pull
  .menard/links.toml
  portolan_cli/parallel.py
  portolan_cli/pull.py
  portolan_cli/push.py
  portolan_cli/sync.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

refactor(async): Full async migration - no mixed ThreadPoolExecutor
  portolan_cli/pull.py
  portolan_cli/push.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix: address review findings for iceberg backend integration
  SKILL.md
  docs/reference/configuration.md
  portolan_cli/backends/protocol.py
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/stac.py
  portolan_cli/version_ops.py
  pyproject.toml
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat: Integrate Iceberg backend plugin routing and remote mode (#302)
  SKILL.md
  docs/reference/configuration.md
  portolan_cli/backends/__init__.py
  portolan_cli/backends/json_file.py
  portolan_cli/backends/protocol.py
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/stac.py
  portolan_cli/version_ops.py
  pyproject.toml
  tests/unit/backends/test_backends.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_cli_version_commands.py
  tests/unit/test_dataset.py
  tests/unit/test_finalize_with_backend.py
  tests/unit/test_pull_backend_routing.py
  tests/unit/test_push_backend_block.py
  tests/unit/test_stac.py
  tests/unit/test_temporal_handling.py
  tests/unit/test_version_ops.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test: Update tests for async push/pull migration
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_cli_profile_default.py
  tests/unit/test_cli_push_workers.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_push_verbose.py
Due: mypy, fast-tests, import-linter

test: Complete async migration for all tests
  tests/unit/test_pull_parallel.py
  tests/unit/test_push_catalog_wide.py
  tests/unit/test_push_default_remote.py
  tests/unit/test_push_parallel.py
  tests/unit/test_sync.py
Due: mypy, fast-tests, import-linter

fix(async): Address PR review findings for async push/pull
  portolan_cli/pull.py
  portolan_cli/push.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_pull_parallel.py
  tests/unit/test_push_catalog_wide.py
Due: mypy, fast-tests, import-linter

docs(plan): Add async migration fixes plan for PR #321
  context/shared/plans/pr-321-async-migration-fixes.md
Due: none

fix(ci): Disable AWS IMDS auto-discovery in test environment
  .github/workflows/ci.yml
Due: none

fix(tests): Update mocks for async migration
  tests/integration/test_pull_parallel_integration.py
  tests/integration/test_push_integration.py
  tests/integration/test_push_parallel_integration.py
Due: mypy, fast-tests, import-linter

refactor(async): Remove duplicate code and fix dangerous fallback
  portolan_cli/async_utils.py
  portolan_cli/pull.py
Due: mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
