Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat(skills): Add Source Cooperative upload skill (#2)
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/skills/__init__.py
  portolan_cli/skills/sourcecoop.md
  scripts/sync_sourcecoop_skill.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(skills): Add AI Skills guide with Source Co-op instructions
  docs/guides/skills.md
  mkdocs.yml
Due: none

fix(tests): Exclude versions.json from hypothesis filename generation
  portolan_cli/skills/sourcecoop.md
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_skills.py
Due: mypy, fast-tests, import-linter

feat(skills): Add Source Cooperative upload skill (#331)
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  SKILL.md
  docs/guides/skills.md
  mkdocs.yml
  portolan_cli/cli.py
  portolan_cli/skills/__init__.py
  portolan_cli/skills/sourcecoop.md
  scripts/sync_sourcecoop_skill.py
  tests/unit/test_list_status_hypothesis.py
  tests/unit/test_skills.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: Clean up dead code, duplicates, and doc/code mismatches (#332)
  context/shared/adr/0005-versions-json-source-of-truth.md
  context/shared/adr/0006-remote-ownership-model.md
  context/shared/adr/0015-two-tier-versioning-architecture.md
  context/shared/adr/0023-stac-structure-separation.md
  docs/reference/formats.md
  portolan_cli/catalog_versions.py
  portolan_cli/formats.py
  portolan_cli/models/__init__.py
  portolan_cli/models/version.py
  portolan_cli/scan.py
  portolan_cli/scan_output.py
  portolan_cli/status.py
  tests/integration/test_dataset_integration.py
  tests/integration/test_dataset_warnings.py
  tests/unit/models/test_version.py
  tests/unit/test_catalog_versions_collections.py
  tests/unit/test_status_filegdb.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix: UnsupportedFormatError constructor requires two args
  tests/integration/test_dataset_warnings.py
Due: mypy, fast-tests, import-linter

fix: Clean up dead code, duplicates, and doc/code mismatches (#333)
  context/shared/adr/0005-versions-json-source-of-truth.md
  context/shared/adr/0006-remote-ownership-model.md
  context/shared/adr/0015-two-tier-versioning-architecture.md
  context/shared/adr/0023-stac-structure-separation.md
  docs/reference/formats.md
  portolan_cli/catalog_versions.py
  portolan_cli/formats.py
  portolan_cli/models/__init__.py
  portolan_cli/models/version.py
  portolan_cli/scan.py
  portolan_cli/scan_output.py
  portolan_cli/status.py
  tests/integration/test_dataset_integration.py
  tests/integration/test_dataset_warnings.py
  tests/unit/models/test_version.py
  tests/unit/test_catalog_versions_collections.py
  tests/unit/test_status_filegdb.py
Due: validate-claude-md, mypy, fast-tests, import-linter

refactor: remove global AI tool config from project
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .claude/hooks/post-bash-remind.sh
  .claude/hooks/pre-read-check.sh
  .claude/hooks/prompt-inject.sh
  .gitignore
  .grepaiignore
  .mcp.json
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  context/shared/documentation/context-guide.md
  context/shared/documentation/distill-mcp.md
  context/shared/documentation/gitingest-setup.md
  docs/contributing.md
Due: validate-claude-md

refactor: remove global AI tool config from project (#334)
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .claude/hooks/post-bash-remind.sh
  .claude/hooks/pre-read-check.sh
  .claude/hooks/prompt-inject.sh
  .gitignore
  .grepaiignore
  .mcp.json
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  context/shared/documentation/context-guide.md
  context/shared/documentation/distill-mcp.md
  context/shared/documentation/gitingest-setup.md
  docs/contributing.md
Due: validate-claude-md

fix(stac): declare raster extension and aggregate collection extensions (#336)
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/unit/test_stac_extensions.py
Due: mypy, fast-tests, import-linter

fix(stac): preserve bands with defaults, add issue #336 integration tests
  portolan_cli/stac.py
  tests/integration/test_stac_extensions_integration.py
Due: mypy, fast-tests, import-linter

fix(stac): declare raster extension and aggregate collection extensions (#337)
  portolan_cli/dataset.py
  portolan_cli/stac.py
  tests/integration/test_stac_extensions_integration.py
  tests/unit/test_stac_extensions.py
Due: mypy, fast-tests, import-linter

fix(imageserver): improve UX for bbox, tile size, and error handling (#335)
  docs/guides/extract-arcgis.md
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(imageserver): address security and robustness issues from review
  docs/guides/extract-arcgis.md
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(imageserver): address review feedback on docs, CLI validation, and error handling
  docs/guides/extract-arcgis.md
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(tests): add missing mock attributes for imageserver metadata tests
  tests/integration/extract/test_imageserver_metadata_seeding.py
Due: mypy, fast-tests, import-linter

fix(imageserver): improve UX for bbox, tile size, and error handling (#338)
  docs/guides/extract-arcgis.md
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  tests/integration/extract/test_imageserver_metadata_seeding.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(ci): suppress B110 bandit warnings and upload iceberg coverage
  .github/workflows/ci.yml
  portolan_cli/backends/iceberg/backend.py
Due: mypy, fast-tests, import-linter

fix(security): upgrade cryptography, pillow, pytest for CVEs
  uv.lock
Due: none

ci: inline iceberg e2e tests into ci.yml and nightly.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/nightly.yml
  context/shared/documentation/ci.md
Due: none

docs(plans): add versioning stress tests plan for #339
  context/shared/plans/2026-04-21-versioning-stress-tests.md
Due: none

test(versions): add stress tests for issue #339
  tests/conftest.py
  tests/fixtures/metadata/versions/valid/versions_100_assets.json
  tests/fixtures/metadata/versions/valid/versions_diverged_local.json
  tests/fixtures/metadata/versions/valid/versions_diverged_remote.json
  tests/fixtures/metadata/versions/valid/versions_empty_array.json
  tests/integration/test_versioning_stress.py
  tests/specs/versioning_stress.md
  tests/unit/test_versions.py
Due: mypy, fast-tests, import-linter

fix(tests): harden versioning stress tests with strict assertions
  pyproject.toml
  tests/conftest.py
  tests/fixtures/metadata/versions/valid/versions_100_assets.json
  tests/fixtures/metadata/versions/valid/versions_diverged_local.json
  tests/fixtures/metadata/versions/valid/versions_diverged_remote.json
  tests/integration/test_versioning_stress.py
  tests/unit/test_versions.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(deps): add security pins for cryptography and pillow CVEs
  pyproject.toml
  tests/unit/test_versions_fixtures.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(versions): implement catalog-level versioning (fixes #339)
  context/shared/plans/2026-04-21-versioning-stress-tests.md
  portolan_cli/catalog.py
  portolan_cli/dataset.py
  tests/integration/test_versioning_stress.py
  tests/specs/versioning_stress.md
Due: mypy, fast-tests, import-linter

fix: address PR #347 review comments
  portolan_cli/catalog.py
  portolan_cli/dataset.py
  tests/integration/test_versioning_stress.py
Due: mypy, fast-tests, import-linter

fix(versions): implement catalog-level versioning with stress tests (fixes #339) (#347)
  context/shared/plans/2026-04-21-versioning-stress-tests.md
  portolan_cli/catalog.py
  portolan_cli/dataset.py
  pyproject.toml
  tests/conftest.py
  tests/fixtures/metadata/versions/valid/versions_diverged_local.json
  tests/fixtures/metadata/versions/valid/versions_diverged_remote.json
  tests/fixtures/metadata/versions/valid/versions_empty_array.json
  tests/integration/test_versioning_stress.py
  tests/specs/versioning_stress.md
  tests/unit/test_versions.py
  tests/unit/test_versions_fixtures.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(pmtiles): add PMTiles generation from GeoParquet (#115)
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/pmtiles.py
  portolan_cli/validation/rules.py
  pyproject.toml
  tests/unit/test_pmtiles.py
  tests/unit/test_validation_rules.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(pmtiles): delete existing file on force regenerate + add integration tests
  portolan_cli/pmtiles.py
  tests/integration/test_pmtiles_integration.py
Due: mypy, fast-tests, import-linter

ci: install tippecanoe for PMTiles integration tests
  .github/workflows/ci.yml
Due: none

fix(pmtiles): address PR review comments
  CLAUDE.md
  context/shared/known-issues/geoparquet-io-macos-abort.md
  portolan_cli/cli.py
  portolan_cli/pmtiles.py
  portolan_cli/validation/rules.py
  tests/integration/test_add_multilayer_integration.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(pmtiles): add all gpio-pmtiles config parameters
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/pmtiles.py
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_config.py
  tests/unit/test_pmtiles.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(pmtiles): address PR review findings
  portolan_cli/cli.py
  portolan_cli/pmtiles.py
  tests/integration/test_add_multilayer_integration.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(pmtiles): extract collection_id from skipped paths
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(pmtiles): add PMTiles generation from GeoParquet (#115) (#346)
  .github/workflows/ci.yml
  CLAUDE.md
  context/shared/known-issues/geoparquet-io-macos-abort.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/pmtiles.py
  portolan_cli/validation/rules.py
  pyproject.toml
  tests/integration/test_add_multilayer_integration.py
  tests/integration/test_pmtiles_integration.py
  tests/unit/test_config.py
  tests/unit/test_pmtiles.py
  tests/unit/test_validation_rules.py
  uv.lock
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): conservative concurrency defaults to prevent network saturation
  docs/guides/nested-catalogs.md
  portolan_cli/async_utils.py
  portolan_cli/cli.py
  portolan_cli/download.py
  portolan_cli/pull.py
  portolan_cli/push.py
  portolan_cli/upload.py
  tests/unit/test_adaptive_concurrency.py
  tests/unit/test_cli_push_chunk_concurrency.py
  tests/unit/test_cli_push_max_connections.py
  tests/unit/test_concurrency_defaults.py
  tests/unit/test_concurrency_flag_issue_323.py
  tests/unit/test_push_async.py
  tests/unit/test_push_catalog_wide.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): wire adaptive concurrency through entire push pipeline
  portolan_cli/cli.py
  portolan_cli/push.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): enforce concurrency limits at runtime (Issue #344)
  .gitignore
  portolan_cli/async_utils.py
  portolan_cli/cli.py
  portolan_cli/push.py
  tests/integration/test_concurrency_enforcement.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(deps): upgrade lxml to 6.1.0 for CVE-2026-41066
  pyproject.toml
  uv.lock
Due: none
