Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

test(sync): add JSON output tests for sync default remote
  tests/unit/test_push_default_remote.py
Due: mypy, fast-tests, import-linter

feat(push): use configured remote as default destination (#158)
  SKILL.md
  portolan_cli/cli.py
  tests/unit/test_push_default_remote.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(catalog): address code review feedback for catalog_versions
  context/shared/adr/0005-versions-json-source-of-truth.md
  portolan_cli/catalog_versions.py
  tests/unit/test_catalog_versions_collections.py
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(catalog): track collections in catalog-level versions.json (#159)
  context/shared/adr/0005-versions-json-source-of-truth.md
  portolan_cli/catalog_versions.py
  tests/unit/test_catalog_versions_collections.py
Due: validate-claude-md, mypy, fast-tests, import-linter

bump: version 0.4.1 → 0.4.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump: version 0.4.1 → 0.4.2 (#160)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(list): add guidance when no items found
  portolan_cli/cli.py
  tests/unit/test_cli_dataset.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): support recursive add at catalog root (Issue #137)
  portolan_cli/cli.py
  tests/integration/test_add_catalog_root_integration.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_rm_hypothesis.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(check): add --fix-metadata flag
  portolan_cli/cli.py
  tests/integration/test_check_command.py
  tests/unit/test_cli_check.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(status): detect untracked files in uninitialized collections
  portolan_cli/status.py
  tests/integration/test_status_integration.py
  tests/unit/test_status.py
Due: mypy, fast-tests, import-linter

fix(dry-run): prevent network calls in dry-run mode (#137)
  portolan_cli/pull.py
  portolan_cli/push.py
  tests/integration/test_push_integration.py
  tests/unit/test_pull.py
  tests/unit/test_push.py
  tests/unit/test_sync.py
Due: mypy, fast-tests, import-linter

fix(list): add guidance when no items found (#165)
  portolan_cli/cli.py
  tests/unit/test_cli_dataset.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(check): redesign --fix flag to work orthogonally with scope flags
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/validation/rules.py
  tests/integration/test_check_command.py
  tests/unit/test_cli_check.py
  tests/unit/test_validation_rules.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(check): redesign --fix to work orthogonally with --metadata/--geo-assets (#164)
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/validation/rules.py
  tests/integration/test_check_command.py
  tests/unit/test_cli_check.py
  tests/unit/test_validation_rules.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): address review feedback for catalog root support
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/integration/test_add_catalog_root_integration.py
  tests/unit/test_add_catalog_root.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(add): support recursive add at catalog root (#166)
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/integration/test_add_catalog_root_integration.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_rm_hypothesis.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(dry-run): address code review issues for semantic clarity and robustness
  portolan_cli/pull.py
  portolan_cli/push.py
  tests/conftest.py
  tests/unit/test_pull.py
  tests/unit/test_push.py
Due: mypy, fast-tests, import-linter

fix(dry-run): prevent network calls in dry-run mode (#168)
  portolan_cli/pull.py
  portolan_cli/push.py
  tests/conftest.py
  tests/integration/test_push_integration.py
  tests/unit/test_pull.py
  tests/unit/test_push.py
  tests/unit/test_sync.py
Due: mypy, fast-tests, import-linter

fix(status): address code review issues for #137
  portolan_cli/status.py
  tests/integration/test_status_integration.py
  tests/unit/test_status.py
Due: mypy, fast-tests, import-linter

fix(status): use POSIX paths for cross-platform compatibility
  portolan_cli/status.py
Due: mypy, fast-tests, import-linter

fix(status): detect untracked files in uninitialized collections (#167)
  portolan_cli/status.py
  tests/integration/test_status_integration.py
  tests/unit/test_status.py
Due: mypy, fast-tests, import-linter

fix(catalog): unify catalog root detection across CLI commands
  CLAUDE.md
  context/shared/adr/0029-unified-catalog-root-detection.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/integration/test_catalog_root_consistency.py
  tests/integration/test_status_integration.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_find_catalog_root.py
  tests/unit/test_status.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(catalog): address code review findings and add managed footprint check
  context/shared/adr/0029-unified-catalog-root-detection.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  tests/integration/test_catalog_root_consistency.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_find_catalog_root.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(tests): correct typo in test path (doesnt -> does_not)
  tests/unit/test_find_catalog_root.py
Due: mypy, fast-tests, import-linter

fix(catalog): unify catalog root detection (#162) (#169)
  CLAUDE.md
  context/shared/adr/0029-unified-catalog-root-detection.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/integration/test_catalog_root_consistency.py
  tests/integration/test_status_integration.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_find_catalog_root.py
  tests/unit/test_status.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(dataset): make add_dataset atomic and track files in-place (#163)
  portolan_cli/dataset.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_csv_skip.py
  tests/unit/test_dataset.py
  tests/unit/test_dataset_directory.py
Due: mypy, fast-tests, import-linter

fix(dataset): address CodeRabbit review findings for #163
  portolan_cli/dataset.py
  tests/unit/test_add_rm_hypothesis.py
Due: mypy, fast-tests, import-linter

fix(tests): update integration tests for in-place tracking design
  portolan_cli/dataset.py
  tests/integration/test_add_rm_integration.py
  tests/integration/test_dataset_integration.py
Due: mypy, fast-tests, import-linter

fix(dataset): make add_dataset atomic and track files in-place (#170)
  portolan_cli/dataset.py
  tests/integration/test_add_rm_integration.py
  tests/integration/test_dataset_integration.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_csv_skip.py
  tests/unit/test_dataset.py
  tests/unit/test_dataset_directory.py
Due: mypy, fast-tests, import-linter

feat(cli): add --item-id flag to portolan add command
  CLAUDE.md
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_csv_skip.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): add portolan clean command to remove metadata
  CLAUDE.md
  SKILL.md
  portolan_cli/clean.py
  portolan_cli/cli.py
  tests/integration/test_clean_integration.py
  tests/unit/test_clean.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(cli): address code review feedback for --item-id flag
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_add_rm.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(clean): address code review feedback
  portolan_cli/clean.py
  portolan_cli/cli.py
  tests/integration/test_clean_integration.py
  tests/unit/test_clean.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(test): assert Item JSON id instead of versions.json asset keys
  tests/integration/test_add_rm_integration.py
Due: mypy, fast-tests, import-linter

fix(clean): handle Windows rmdir on CWD and address review feedback
  portolan_cli/clean.py
  portolan_cli/constants.py
  tests/integration/test_clean_integration.py
Due: mypy, fast-tests, import-linter

feat(cli): add --item-id flag to portolan add command (#171)
  CLAUDE.md
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/integration/test_add_rm_integration.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_csv_skip.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): add portolan clean command to remove metadata (#172)
  SKILL.md
  portolan_cli/clean.py
  portolan_cli/cli.py
  portolan_cli/constants.py
  tests/integration/test_clean_integration.py
  tests/unit/test_clean.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

bump: version 0.4.2 → 0.4.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump: version 0.4.2 → 0.4.3 (#173)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none
