Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

chore(deps): bump aiohttp and cryptography for pip-audit
  uv.lock
Due: none

chore(deps): bump aiohttp and cryptography for pip-audit (#719)
  uv.lock
Due: none

fix(ci): skip mutation shards that hold no mutable code
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  context/shared/documentation/ci.md
  pyproject.toml
  scripts/mutant_globs.py
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

fix(ci): skip mutation shards that hold no mutable code (#717)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  context/shared/documentation/ci.md
  pyproject.toml
  scripts/mutant_globs.py
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

sync: Update skills install instructions from upstream
  portolan_cli/skills/INSTALL.md
Due: none

test(mutmut): keep Hypothesis property tests alive across mutmut sessions
  tests/conftest.py
  tests/integration/test_mutmut_hypothesis_guard.py
Due: mypy, fast-tests, import-linter

test(mutmut): keep Hypothesis property tests alive across mutmut sessions (#722)
  tests/conftest.py
  tests/integration/test_mutmut_hypothesis_guard.py
Due: mypy, fast-tests, import-linter

test: kill surviving mutants in ESRI converter, COG metadata, and rm
  portolan_cli/extract/common/converters/esri.py
  portolan_cli/remove.py
  tests/unit/extract/common/converters/test_esri.py
  tests/unit/test_metadata_cog.py
  tests/unit/test_remove_files.py
  tests/unit/test_remove_versions.py
Due: mypy, fast-tests, import-linter

fix(test): escape the path before matching it as a regex
  tests/unit/test_metadata_cog.py
Due: mypy, fast-tests, import-linter

test: kill 424 surviving mutants in the ESRI converter, COG metadata, and rm (#724)
  portolan_cli/extract/common/converters/esri.py
  portolan_cli/remove.py
  tests/unit/extract/common/converters/test_esri.py
  tests/unit/test_metadata_cog.py
  tests/unit/test_remove_files.py
  tests/unit/test_remove_versions.py
Due: mypy, fast-tests, import-linter

fix(readme): render the Bands section from the core bands array (#713)
  portolan_cli/cli.py
  portolan_cli/readme.py
  portolan_cli/stac_parquet.py
  tests/integration/test_readme_bands_realdata.py
  tests/unit/test_readme_bands.py
  tests/unit/test_stac_parquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): point nested parent links at the containing catalog (#711)
  portolan_cli/catalog.py
  portolan_cli/finalization.py
  portolan_cli/utils.py
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_finalization_link_hrefs.py
  tests/unit/test_nested_catalog_inference.py
Due: mypy, fast-tests, import-linter

test(license): license the hand-built catalogs in the nesting integration test
  tests/integration/test_add_no_duplicate_nesting.py
Due: mypy, fast-tests, import-linter

docs(license): update init examples for the license requirement
  README.md
  docs/guides/iceberg.md
  docs/guides/nested-catalogs.md
  docs/reference/configuration.md
Due: none

fix(license): report an existing catalog before the missing license
  portolan_cli/cli.py
  tests/conftest.py
  tests/integration/test_bbox_validation.py
  tests/integration/test_cli_json.py
  tests/integration/test_cli_progress.py
  tests/integration/test_dotted_path_regression.py
  tests/integration/test_init_command.py
  tests/integration/test_init_v2.py
  tests/integration/test_mandatory_titles_add.py
  tests/integration/test_provider_generation.py
  tests/integration/test_rashid_roundtrip.py
  tests/integration/test_raster_bands_placement.py
  tests/unit/test_cli_metadata_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): point nested parent links at the containing catalog (#711) (#726)
  portolan_cli/catalog.py
  portolan_cli/finalization.py
  portolan_cli/utils.py
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_finalization_link_hrefs.py
  tests/unit/test_nested_catalog_inference.py
Due: mypy, fast-tests, import-linter

fix(readme): render the Bands section from the core bands array (#713) (#725)
  portolan_cli/cli.py
  portolan_cli/readme.py
  portolan_cli/stac_parquet.py
  tests/integration/test_readme_bands_realdata.py
  tests/unit/test_readme_bands.py
  tests/unit/test_stac_parquet.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(ci): run the full suite on every PR, whatever its base
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  context/shared/documentation/ci.md
  scripts/apply_branch_protection.sh
Due: none

fix(deps): bump aiohttp and cryptography past known CVEs
  uv.lock
Due: none

fix(rm): untrack assets in collections under a subcatalog (#723)
  portolan_cli/backends/json_file.py
  portolan_cli/remove.py
  tests/integration/test_rm_item_dir_cleanup.py
  tests/unit/backends/test_backends.py
  tests/unit/test_remove_versions.py
Due: mypy, fast-tests, import-linter

fix(ci): run the full suite on every PR, whatever its base (#729)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  context/shared/documentation/ci.md
  scripts/apply_branch_protection.sh
  uv.lock
Due: none

fix(license): validate identifiers against rashid's SPDX list
  CHANGELOG.md
  docs/guides/licensing.md
  docs/guides/metadata-defaults.md
  docs/reference/configuration.md
  portolan_cli/licensing.py
  portolan_cli/metadata_yaml.py
  portolan_cli/validation/remediation.py
  pyproject.toml
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_add_license_gate.py
  tests/unit/test_licensing.py
  tests/unit/test_metadata_yaml.py
  tests/unit/validation/test_license_agreement.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(ci): stop requiring codecov/project, which never reports
  scripts/apply_branch_protection.sh
Due: none

build(deps): drop the temporary rashid source override
  pyproject.toml
  uv.lock
Due: none

fix(ci): make codecov/project reportable and keep it required
  codecov.yml
  scripts/apply_branch_protection.sh
Due: none

fix(tests): give the bands fixture a license
  tests/integration/test_readme_bands_realdata.py
Due: mypy, fast-tests, import-linter

fix(ci): stop requiring codecov/project, which never reports (#733)
  codecov.yml
  scripts/apply_branch_protection.sh
  tests/integration/test_readme_bands_realdata.py
Due: mypy, fast-tests, import-linter

fix(license): validate identifiers against rashid's SPDX list (#727) (#732)
  CHANGELOG.md
  docs/guides/licensing.md
  docs/guides/metadata-defaults.md
  docs/reference/configuration.md
  portolan_cli/licensing.py
  portolan_cli/metadata_yaml.py
  portolan_cli/validation/remediation.py
  pyproject.toml
  tests/integration/test_generated_catalog_conformance.py
  tests/unit/test_add_license_gate.py
  tests/unit/test_licensing.py
  tests/unit/test_metadata_yaml.py
  tests/unit/validation/test_license_agreement.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix: derive COG predictor and resampling from the source raster (#690) (#695)
  .claude/rules/conversion-and-visualization.md
  docs/reference/configuration.md
  docs/reference/formats.md
  portolan_cli/conversion_config.py
  portolan_cli/convert.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/preparation.py
  tests/integration/test_convert_workflow.py
  tests/unit/test_conversion_config.py
Due: mypy, fast-tests, import-linter

fix: lock the rashid seam to its public API (#688) (#704)
  portolan_cli/agents_md.py
  portolan_cli/readme.py
  tests/unit/validation/test_rashid_public_surface.py
Due: mypy, fast-tests, import-linter

fix: route every remaining JSON write through the atomic helper (#687) (#706)
  portolan_cli/add.py
  portolan_cli/catalog.py
  portolan_cli/collection.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/extract/arcgis/imageserver/resume.py
  portolan_cli/extract/common/report.py
  portolan_cli/extract/common/styles.py
  portolan_cli/finalization.py
  portolan_cli/item.py
  portolan_cli/schema/export.py
  portolan_cli/sync/pull.py
  portolan_cli/viz/pmtiles.py
  portolan_cli/viz/style.py
  tests/unit/test_json_io.py
  tests/unit/test_json_write_sites.py
Due: mypy, fast-tests, import-linter

chore: stop tracking context/shared/plans and git-ignore it (#692)
  .claude/rules/documentation.md
  .gitignore
  context/shared/plans/2026-03-05-fix-versions-snapshot-model.md
  context/shared/plans/2026-04-07-metadata-extractor-abstraction-design.md
  context/shared/plans/2026-04-21-versioning-stress-tests.md
  context/shared/plans/2026-05-06-partition-stac-extension.md
  context/shared/plans/2026-05-07-styles-as-stac-assets-plan.md
  context/shared/plans/2026-06-09-arcgis-folder-recursion-design.md
  context/shared/plans/2026-06-09-arcgis-folder-recursion-plan.md
  context/shared/plans/dataset-split-and-terminology-sweep.md
  context/shared/plans/pr-321-async-migration-fixes.md
  portolan_cli/extract/arcgis/url_parser.py
Due: mypy, fast-tests, import-linter

feat: give collections a provider model and derived provenance (#684) (#707)
  portolan_cli/add.py
  portolan_cli/errors.py
  portolan_cli/finalization.py
  portolan_cli/metadata_yaml.py
  portolan_cli/providers.py
  portolan_cli/stac.py
  tests/integration/test_generated_catalog_conformance.py
  tests/integration/test_provider_generation.py
  tests/integration/test_rashid_roundtrip.py
  tests/unit/test_apply_human_providers.py
  tests/unit/test_metadata_yaml_providers.py
  tests/unit/test_providers.py
Due: mypy, fast-tests, import-linter

fix(add): generate + register COG thumbnail asset (#657) (#658)
  portolan_cli/preparation.py
  tests/integration/test_add_integration.py
Due: mypy, fast-tests, import-linter
