Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

fix(catalog): write config.yaml last for init atomicity
  context/shared/adr/0023-stac-structure-separation.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  tests/integration/test_push_integration.py
  tests/unit/test_state_detection.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

perf(hooks): move tests to pre-push for faster commits
  .pre-commit-config.yaml
  tests/unit/test_multilayer.py
Due: mypy, fast-tests, import-linter

test(atomicity): include versions.json in artifact checks
  tests/unit/test_add_rm_hypothesis.py
Due: mypy, fast-tests, import-linter

refactor(catalog): remove state.json sentinel - config.yaml alone is sufficient (#301)
  .pre-commit-config.yaml
  context/shared/adr/0023-stac-structure-separation.md
  context/shared/adr/0027-unified-config-yaml-sentinel.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/errors.py
  tests/benchmark/test_validation_benchmark.py
  tests/conftest.py
  tests/integration/test_catalog_root_consistency.py
  tests/integration/test_clean_integration.py
  tests/integration/test_cli_json.py
  tests/integration/test_dataset_integration.py
  tests/integration/test_init_command.py
  tests/integration/test_init_v2.py
  tests/integration/test_push_integration.py
  tests/integration/test_sync_integration.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_clean.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_cli_check.py
  tests/unit/test_cli_info.py
  tests/unit/test_cli_init.py
  tests/unit/test_cli_profile_default.py
  tests/unit/test_find_catalog_root.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_multilayer.py
  tests/unit/test_state_detection.py
  tests/unit/test_sync.py
  tests/unit/test_validation_runner.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): use STAC_VERSION constant and wire up Table extension
  portolan_cli/dataset.py
  portolan_cli/models/catalog.py
  portolan_cli/models/collection.py
  portolan_cli/models/item.py
  portolan_cli/stac.py
  tests/fixtures/metadata/stac/invalid/catalog_missing_id.json
  tests/fixtures/metadata/stac/invalid/collection_bad_extent.json
  tests/fixtures/metadata/stac/invalid/item_no_geometry.json
  tests/fixtures/metadata/stac/invalid/item_wrong_type.json
  tests/fixtures/metadata/stac/valid/catalog_full.json
  tests/fixtures/metadata/stac/valid/catalog_minimal.json
  tests/fixtures/metadata/stac/valid/collection_raster.json
  tests/fixtures/metadata/stac/valid/collection_vector.json
  tests/fixtures/metadata/stac/valid/item_cog.json
  tests/fixtures/metadata/stac/valid/item_geoparquet.json
  tests/unit/models/test_catalog.py
  tests/unit/models/test_collection.py
  tests/unit/models/test_item.py
  tests/unit/test_batch_versioning.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_collection_creation.py
  tests/unit/test_item_creation.py
  tests/unit/test_stac_extensions.py
  tests/unit/test_stac_fixtures.py
Due: mypy, fast-tests, import-linter

fix(stac): address adversarial review findings for STAC version and table extension
  portolan_cli/dataset.py
  portolan_cli/models/_stac_version.py
  portolan_cli/models/catalog.py
  portolan_cli/models/collection.py
  portolan_cli/models/item.py
  portolan_cli/stac.py
  tests/fixtures/metadata/stac/valid/item_cog.json
  tests/unit/test_stac_extensions.py
Due: mypy, fast-tests, import-linter

fix(stac): use STAC_VERSION constant and wire up Table extension (#307)
  portolan_cli/dataset.py
  portolan_cli/models/_stac_version.py
  portolan_cli/models/catalog.py
  portolan_cli/models/collection.py
  portolan_cli/models/item.py
  portolan_cli/stac.py
  tests/fixtures/metadata/stac/invalid/catalog_missing_id.json
  tests/fixtures/metadata/stac/invalid/collection_bad_extent.json
  tests/fixtures/metadata/stac/invalid/item_no_geometry.json
  tests/fixtures/metadata/stac/invalid/item_wrong_type.json
  tests/fixtures/metadata/stac/valid/catalog_full.json
  tests/fixtures/metadata/stac/valid/catalog_minimal.json
  tests/fixtures/metadata/stac/valid/collection_raster.json
  tests/fixtures/metadata/stac/valid/collection_vector.json
  tests/fixtures/metadata/stac/valid/item_cog.json
  tests/fixtures/metadata/stac/valid/item_geoparquet.json
  tests/unit/models/test_catalog.py
  tests/unit/models/test_collection.py
  tests/unit/models/test_item.py
  tests/unit/test_batch_versioning.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_collection_creation.py
  tests/unit/test_item_creation.py
  tests/unit/test_stac_extensions.py
  tests/unit/test_stac_fixtures.py
Due: mypy, fast-tests, import-linter

feat(metadata): add data defaults support in metadata.yaml
  docs/guides/metadata-defaults.md
  docs/reference/configuration.md
  mkdocs.yml
  portolan_cli/metadata_yaml.py
  tests/integration/test_add_with_defaults.py
  tests/unit/test_metadata_defaults.py
Due: mypy, fast-tests, import-linter

feat(dataset): integrate metadata.yaml defaults into STAC generation
  portolan_cli/dataset.py
Due: mypy, fast-tests, import-linter

fix(metadata): harden defaults validation and error handling
  docs/guides/metadata-defaults.md
  docs/reference/configuration.md
  portolan_cli/dataset.py
  portolan_cli/metadata_yaml.py
  tests/integration/test_add_with_defaults.py
  tests/unit/test_metadata_defaults.py
Due: mypy, fast-tests, import-linter

feat(metadata): add data defaults support in metadata.yaml (#310)
  docs/guides/metadata-defaults.md
  docs/reference/configuration.md
  mkdocs.yml
  portolan_cli/dataset.py
  portolan_cli/metadata_yaml.py
  tests/integration/test_add_with_defaults.py
  tests/unit/test_metadata_defaults.py
Due: mypy, fast-tests, import-linter

docs(plan): add ArcGIS ImageServer support implementation plan
  context/shared/plans/imageserver-support.md
Due: none

docs(plan): resolve open questions and add test fixtures for ImageServer
  context/shared/plans/imageserver-support.md
Due: none

fix(stac): use STAC_VERSION constant and wire up Table extension
  portolan_cli/models/catalog.py
  portolan_cli/models/collection.py
  portolan_cli/models/item.py
Due: mypy, fast-tests, import-linter

feat(imageserver): add discovery module for service metadata
  portolan_cli/extract/arcgis/imageserver/__init__.py
  portolan_cli/extract/arcgis/imageserver/discovery.py
  tests/unit/extract/arcgis/imageserver/__init__.py
  tests/unit/extract/arcgis/imageserver/test_discovery.py
Due: mypy, fast-tests, import-linter

fix(stac): address adversarial review findings for STAC version and table extension
  portolan_cli/models/catalog.py
  portolan_cli/models/collection.py
  portolan_cli/models/item.py
Due: mypy, fast-tests, import-linter

feat(imageserver): add tile-based resume state tracking
  portolan_cli/extract/arcgis/imageserver/__init__.py
  portolan_cli/extract/arcgis/imageserver/resume.py
  tests/unit/extract/arcgis/imageserver/__init__.py
  tests/unit/extract/arcgis/imageserver/test_resume.py
Due: mypy, fast-tests, import-linter

feat(imageserver): add extraction orchestrator with async throughout
  portolan_cli/extract/arcgis/imageserver/__init__.py
  portolan_cli/extract/arcgis/imageserver/discovery.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/metadata.py
  portolan_cli/extract/arcgis/imageserver/tiling.py
  pyproject.toml
  tests/fixtures/imageserver/minimal_response.json
  tests/fixtures/imageserver/sample_response.json
  tests/fixtures/imageserver/wgs84_response.json
  tests/unit/extract/arcgis/imageserver/test_discovery.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
  tests/unit/extract/arcgis/imageserver/test_metadata.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix: address code review findings for ImageServer extraction
  portolan_cli/dataset.py
  portolan_cli/extract/arcgis/imageserver/discovery.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/stac.py
  tests/unit/extract/arcgis/imageserver/test_resume.py
  tests/unit/test_stac_extensions.py
Due: mypy, fast-tests, import-linter

feat(imageserver): add CLI orchestrator and ImageServer URL parsing
  portolan_cli/extract/arcgis/imageserver/__init__.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  portolan_cli/extract/arcgis/url_parser.py
  tests/unit/extract/arcgis/imageserver/test_orchestrator.py
  tests/unit/extract/arcgis/imageserver/test_url_parser_imageserver.py
  tests/unit/extract/arcgis/test_url_parser.py
Due: mypy, fast-tests, import-linter

fix: use shared metadata module and fix resume rehydration
  portolan_cli/extract/arcgis/imageserver/extractor.py
Due: mypy, fast-tests, import-linter

fix(imageserver): address adversarial review findings
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/discovery.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/metadata.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  portolan_cli/extract/arcgis/imageserver/resume.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
  tests/unit/extract/arcgis/imageserver/test_tiling.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(imageserver): make file locking cross-platform
  portolan_cli/extract/arcgis/imageserver/extractor.py
Due: mypy, fast-tests, import-linter

refactor(imageserver): use Portolan API for STAC creation
  portolan_cli/extract/arcgis/imageserver/__init__.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
Due: mypy, fast-tests, import-linter

fix(imageserver): remove metadata.yaml generation, fix STAC item detection
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/imageserver/discovery.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/scan.py
  portolan_cli/scan_classify.py
  tests/unit/extract/arcgis/imageserver/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(arcgis): add ImageServer documentation, remove plan doc
  .menard/links.toml
  context/shared/plans/imageserver-support.md
  docs/guides/extract-arcgis.md
Due: none

feat(imageserver): add ArcGIS ImageServer raster extraction support (#308)
  .menard/links.toml
  docs/guides/extract-arcgis.md
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/extract/arcgis/imageserver/__init__.py
  portolan_cli/extract/arcgis/imageserver/discovery.py
  portolan_cli/extract/arcgis/imageserver/extractor.py
  portolan_cli/extract/arcgis/imageserver/metadata.py
  portolan_cli/extract/arcgis/imageserver/orchestrator.py
  portolan_cli/extract/arcgis/imageserver/report.py
  portolan_cli/extract/arcgis/imageserver/resume.py
  portolan_cli/extract/arcgis/imageserver/tiling.py
  portolan_cli/extract/arcgis/url_parser.py
  portolan_cli/scan.py
  portolan_cli/scan_classify.py
  portolan_cli/stac.py
  pyproject.toml
  tests/fixtures/imageserver/minimal_response.json
  tests/fixtures/imageserver/sample_response.json
  tests/fixtures/imageserver/wgs84_response.json
  tests/unit/extract/arcgis/imageserver/__init__.py
  tests/unit/extract/arcgis/imageserver/test_discovery.py
  tests/unit/extract/arcgis/imageserver/test_extractor.py
  tests/unit/extract/arcgis/imageserver/test_metadata.py
  tests/unit/extract/arcgis/imageserver/test_orchestrator.py
  tests/unit/extract/arcgis/imageserver/test_resume.py
  tests/unit/extract/arcgis/imageserver/test_tiling.py
  tests/unit/extract/arcgis/imageserver/test_url_parser_imageserver.py
  tests/unit/extract/arcgis/test_url_parser.py
  tests/unit/test_stac_extensions.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(remote): upload on add, push messaging, and iceberg pull support
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/pull.py
  tests/unit/test_pull_iceberg.py
  tests/unit/test_push_iceberg_block.py
  tests/unit/test_remote_upload_on_add.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(backends): route dataset mutations through versioning backend
  portolan_cli/backends/__init__.py
  portolan_cli/backends/json_file.py
  portolan_cli/backends/protocol.py
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/version_ops.py
  tests/unit/backends/test_backends.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_dataset.py
  tests/unit/test_version_ops.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(dataset): update collection.json with STAC Iceberg extension metadata
  portolan_cli/dataset.py
Due: mypy, fast-tests, import-linter

feat(cli): add --backend flag to init command
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(backends): replace iceberg-specific code with generic protocol hooks
  portolan_cli/backends/protocol.py
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/pull.py
  tests/unit/test_pull_iceberg.py
  tests/unit/test_push_iceberg_block.py
  tests/unit/test_remote_upload_on_add.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(remote): upload only STAC metadata for iceberg backend and fix asset href doubling
  portolan_cli/dataset.py
  tests/unit/test_remote_upload_on_add.py
Due: mypy, fast-tests, import-linter

refactor(cli): restructure version commands as subcommand group
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(tests): replace iceberg-specific naming with generic backend terminology
  portolan_cli/backends/json_file.py
  tests/unit/test_pull_backend_routing.py
  tests/unit/test_push_backend_block.py
Due: mypy, fast-tests, import-linter

feat(cli): add versions, rollback, and prune commands
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(backends): adapt backend routing to batch finalize_datasets architecture
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/unit/backends/test_backends.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): use sentinel datetime range instead of null for provisional items
  portolan_cli/stac.py
  tests/unit/test_stac.py
Due: mypy, fast-tests, import-linter

fix(tests): align tests with upstream state.json removal and datetime sentinel
  tests/unit/test_catalog_model_init.py
  tests/unit/test_temporal_handling.py
  tests/unit/test_version_ops.py
Due: mypy, fast-tests, import-linter

refactor(cli,dataset): extract backend helpers to reduce cyclomatic complexity
  portolan_cli/cli.py
  portolan_cli/dataset.py
  tests/unit/test_version_ops.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
