Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

feat(extract): add orchestrator and CLI for ArcGIS extraction
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/integration/extract/__init__.py
  tests/integration/extract/arcgis/__init__.py
  tests/integration/extract/arcgis/test_orchestrator_live.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(extract): use fnmatchcase for cross-platform case-sensitive matching
  portolan_cli/extract/arcgis/filters.py
Due: mypy, fast-tests, import-linter

Revert "docs(extract): add domain extraction and auth patterns"
  context/shared/plans/extract-arcgis-design.md
Due: none

fix(extract): use collection-level assets per ADR-0031
  context/shared/plans/extract-arcgis-design.md
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/orchestrator.py
Due: mypy, fast-tests, import-linter

feat(extract): add auto-init catalog after extraction
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/integration/extract/test_extract_auto_init.py
  tests/unit/extract/arcgis/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(extract): add domain extraction and auth patterns
  context/shared/plans/extract-arcgis-design.md
Due: none

feat(extract): add services root URL support and CRS mismatch detection
  portolan_cli/cli.py
  portolan_cli/crs.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/test_crs_validation.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

chore: remove extract-arcgis design doc (implemented)
  context/shared/plans/extract-arcgis-design.md
Due: none

docs(design): expand extract arcgis metadata and options
  context/shared/plans/extract-arcgis-design.md
Due: none

feat(extract): add discovery client and retry logic for ArcGIS
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/arcgis/discovery.py
  portolan_cli/extract/arcgis/retry.py
  pyproject.toml
  tests/unit/extract/arcgis/test_discovery.py
  tests/unit/extract/arcgis/test_retry.py
  uv.lock
Due: mypy, fast-tests, import-linter

docs(extract): add user guide for ArcGIS extraction
  docs/guides/extract-arcgis.md
  mkdocs.yml
Due: none

feat(extract): add URL parsing, filtering, and metadata mapping for ArcGIS
  portolan_cli/extract/__init__.py
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/arcgis/filters.py
  portolan_cli/extract/arcgis/metadata.py
  portolan_cli/extract/arcgis/url_parser.py
  tests/unit/extract/__init__.py
  tests/unit/extract/arcgis/__init__.py
  tests/unit/extract/arcgis/test_filters.py
  tests/unit/extract/arcgis/test_metadata.py
  tests/unit/extract/arcgis/test_url_parser.py
Due: mypy, fast-tests, import-linter

fix(scan): allow GEO_ASSET files to have no skip_reason in property test
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/arcgis/report.py
  portolan_cli/extract/arcgis/resume.py
  tests/unit/extract/arcgis/test_report.py
  tests/unit/extract/arcgis/test_resume.py
  tests/unit/test_scan_unrecognized_files_property.py
Due: mypy, fast-tests, import-linter

docs(design): add extract arcgis command design
  context/shared/plans/extract-arcgis-design.md
Due: none

fix(extract): address code review findings
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/arcgis/report.py
  tests/unit/extract/arcgis/test_report.py
  tests/unit/extract/arcgis/test_resume.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(extract): address PR code review findings
  portolan_cli/crs.py
  portolan_cli/errors.py
  portolan_cli/extract/arcgis/orchestrator.py
  tests/integration/extract/test_extract_auto_init.py
  tests/unit/test_crs_validation.py
Due: mypy, fast-tests, import-linter

fix(docs): pin pymdown-extensions>=10.21.2 for mkdocs build
  pyproject.toml
  uv.lock
Due: none

feat(extract): add portolan extract arcgis command (#288)
  SKILL.md
  docs/guides/extract-arcgis.md
  docs/guides/nested-catalogs.md
  mkdocs.yml
  portolan_cli/cli.py
  portolan_cli/crs.py
  portolan_cli/errors.py
  portolan_cli/extract/__init__.py
  portolan_cli/extract/arcgis/__init__.py
  portolan_cli/extract/arcgis/discovery.py
  portolan_cli/extract/arcgis/filters.py
  portolan_cli/extract/arcgis/metadata.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/arcgis/report.py
  portolan_cli/extract/arcgis/resume.py
  portolan_cli/extract/arcgis/retry.py
  portolan_cli/extract/arcgis/url_parser.py
  pyproject.toml
  tests/integration/extract/__init__.py
  tests/integration/extract/arcgis/__init__.py
  tests/integration/extract/arcgis/test_orchestrator_live.py
  tests/integration/extract/test_extract_auto_init.py
  tests/unit/extract/__init__.py
  tests/unit/extract/arcgis/__init__.py
  tests/unit/extract/arcgis/test_discovery.py
  tests/unit/extract/arcgis/test_filters.py
  tests/unit/extract/arcgis/test_metadata.py
  tests/unit/extract/arcgis/test_orchestrator.py
  tests/unit/extract/arcgis/test_report.py
  tests/unit/extract/arcgis/test_resume.py
  tests/unit/extract/arcgis/test_retry.py
  tests/unit/extract/arcgis/test_url_parser.py
  tests/unit/test_crs_validation.py
  tests/unit/test_scan_unrecognized_files_property.py
  uv.lock
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

Reapply "fix(security): add SQL injection protection for layer names"
  portolan_cli/convert.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

fix(security): add SQL injection protection for layer names
  portolan_cli/convert.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

Revert "fix(security): add SQL injection protection for layer names"
  portolan_cli/convert.py
  tests/unit/test_convert.py
Due: mypy, fast-tests, import-linter

refactor(convert): use geoparquet-io layer parameter instead of DuckDB workaround
  portolan_cli/convert.py
  pyproject.toml
  tests/unit/test_convert.py
  tests/unit/test_csv_skip.py
  uv.lock
Due: mypy, fast-tests, import-linter

docs: fix FileGDB layer listing status, switch menard to git
  docs/reference/formats.md
  pyproject.toml
  uv.lock
Due: none

feat(push): add live progress bar with upload speed (#282)
  .menard/links.toml
  portolan_cli/cli.py
  portolan_cli/parallel.py
  portolan_cli/push.py
  portolan_cli/upload_progress.py
  tests/unit/test_push.py
  tests/unit/test_push_catalog_wide.py
  tests/unit/test_push_verbose.py
  tests/unit/test_scan_unrecognized_files_property.py
  tests/unit/test_upload_progress.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(push): address code review feedback for progress bar and metrics
  portolan_cli/push.py
  portolan_cli/upload_progress.py
  tests/unit/test_scan_unrecognized_files_property.py
Due: mypy, fast-tests, import-linter

fix(tests): add suppress_progress=True to catalog-wide push mock assertions
  tests/unit/test_push_catalog_wide.py
Due: mypy, fast-tests, import-linter

feat(push): add live progress bar with upload speed (#284)
  .menard/links.toml
  portolan_cli/cli.py
  portolan_cli/parallel.py
  portolan_cli/push.py
  portolan_cli/upload_progress.py
  tests/unit/test_push.py
  tests/unit/test_push_catalog_wide.py
  tests/unit/test_push_verbose.py
  tests/unit/test_scan_unrecognized_files_property.py
  tests/unit/test_upload_progress.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(formats): use geoparquet-io list_layers for FileGDB support
  docs/reference/formats.md
  portolan_cli/formats.py
  tests/unit/test_multilayer.py
  uv.lock
Due: mypy, fast-tests, import-linter

feat(add): integrate multi-layer support into add command
  .gitattributes
  .pre-commit-config.yaml
  portolan_cli/dataset.py
  tests/fixtures/multilayer/README.md
  tests/fixtures/multilayer/multilayer.gdb/a00000001.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a00000001.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a00000002.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a00000002.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a00000003.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a00000003.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a00000004.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a00000004.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a00000005.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a00000005.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a00000006.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a00000006.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a00000007.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a00000007.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a00000009.gdbindexes
  tests/fixtures/multilayer/multilayer.gdb/a00000009.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a00000009.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a00000009.spx
  tests/fixtures/multilayer/multilayer.gdb/a0000000a.gdbindexes
  tests/fixtures/multilayer/multilayer.gdb/a0000000a.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a0000000a.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a0000000a.spx
  tests/fixtures/multilayer/multilayer.gdb/a0000000b.gdbindexes
  tests/fixtures/multilayer/multilayer.gdb/a0000000b.gdbtable
  tests/fixtures/multilayer/multilayer.gdb/a0000000b.gdbtablx
  tests/fixtures/multilayer/multilayer.gdb/a0000000b.spx
  tests/fixtures/multilayer/multilayer.gdb/gdb
  tests/fixtures/multilayer/multilayer.gdb/timestamps
  tests/integration/test_add_multilayer_integration.py
  uv.lock
Due: mypy, fast-tests, import-linter

fix(info): handle catalog root and subcatalogs when using dot path
  portolan_cli/cli.py
  tests/integration/test_info_dot_integration.py
  tests/unit/test_cli_info.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(metadata): add --recursive flag to metadata init
  portolan_cli/cli.py
  tests/unit/test_cli_metadata_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(info): add coverage for dual catalog.json + collection.json directories
  portolan_cli/cli.py
  tests/unit/test_cli_info.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(multilayer): skip flaky test on macOS ARM64
  tests/unit/test_multilayer.py
Due: mypy, fast-tests, import-linter

fix(info): handle catalog root and subcatalogs when using dot path (#298)
  portolan_cli/cli.py
  tests/integration/test_info_dot_integration.py
  tests/unit/test_cli_info.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(metadata): add safety improvements to --recursive flag
  portolan_cli/cli.py
  tests/unit/test_cli_metadata_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test(multilayer): skip flaky test on macOS ARM64 (#300)
  tests/unit/test_multilayer.py
Due: mypy, fast-tests, import-linter

feat(metadata): add --recursive flag to metadata init (#299)
  portolan_cli/cli.py
  tests/unit/test_cli_metadata_readme.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(catalog): remove state.json sentinel - config.yaml alone is sufficient
  context/shared/adr/0027-unified-config-yaml-sentinel.md
  portolan_cli/catalog.py
  portolan_cli/errors.py
  tests/benchmark/test_validation_benchmark.py
  tests/conftest.py
  tests/integration/test_catalog_root_consistency.py
  tests/integration/test_clean_integration.py
  tests/integration/test_cli_json.py
  tests/integration/test_dataset_integration.py
  tests/integration/test_init_command.py
  tests/integration/test_init_v2.py
  tests/integration/test_sync_integration.py
  tests/unit/test_add_catalog_root.py
  tests/unit/test_add_continue_on_errors.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_clean.py
  tests/unit/test_cli_add_rm.py
  tests/unit/test_cli_check.py
  tests/unit/test_cli_info.py
  tests/unit/test_cli_init.py
  tests/unit/test_cli_profile_default.py
  tests/unit/test_find_catalog_root.py
  tests/unit/test_issue_252_catalog_json_roundtrip.py
  tests/unit/test_state_detection.py
  tests/unit/test_sync.py
  tests/unit/test_validation_runner.py
Due: validate-claude-md, mypy, fast-tests, import-linter

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
