Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

feat(ci): add CLI→Spec schema sync workflow
  .github/workflows/sync-schemas-to-spec.yml
Due: none

fix(ci): add workflow_dispatch, concurrency control, and safety checks
  .github/workflows/sync-schemas-to-spec.yml
Due: none

feat(ci): add CLI→Spec schema sync workflow (#472)
  .github/workflows/sync-schemas-to-spec.yml
Due: none

feat(spec): consolidate spec into CLI as single source of truth
  .github/workflows/sync-schemas-to-spec.yml
  .github/workflows/sync-spec.yml
  CLAUDE.md
  context/shared/adr/0048-cli-as-spec-source.md
  docs/contributing.md
  spec/README.md
  spec/schema/README.md
  spec/schema/catalog-versions.schema.json
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  spec/schema/versions.schema.json
  tests/spec_compliance/conftest.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix(docs): use GitHub URL for ADR-0048 link in contributing.md
  docs/contributing.md
Due: none

fix(ci): pin GitHub Actions to SHAs and disable credential persistence
  .github/workflows/sync-spec.yml
Due: none

fix(spec): add complete spec content from portolan-spec
  spec/DECISIONS.md
  spec/README.md
  spec/best-practices.md
  spec/core.md
  spec/examples/README.md
  spec/extensions.md
  spec/formats/pointcloud.md
  spec/formats/raster.md
  spec/formats/vector.md
  spec/structure.md
  spec/versions.md
Due: none

refactor(spec): consolidate DECISIONS.md into CLI ADRs
  CLAUDE.md
  context/shared/adr/0049-stac-geoparquet-scalability.md
  context/shared/adr/0050-pmtiles-visualization-requirement.md
  context/shared/adr/0051-self-contained-catalog-type.md
  spec/DECISIONS.md
  spec/README.md
  spec/core.md
Due: validate-claude-md

refactor(spec): consolidate DECISIONS.md into CLI ADRs (#476)
  CLAUDE.md
  context/shared/adr/0049-stac-geoparquet-scalability.md
  context/shared/adr/0050-pmtiles-visualization-requirement.md
  context/shared/adr/0051-self-contained-catalog-type.md
  spec/DECISIONS.md
  spec/README.md
  spec/core.md
Due: validate-claude-md

test(thumbnail): add regression tests for basemap ordering (PR #468)
  tests/unit/test_thumbnail.py
Due: mypy, fast-tests, import-linter

docs(spec): add visualization styles as STAC assets convention
  spec/best-practices.md
  spec/extensions.md
  spec/formats/vector.md
  spec/structure.md
Due: none

docs(spec): add portolan:styles schema and validation rules
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
Due: none

docs(spec): add visualization styles as STAC assets convention (#477)
  spec/best-practices.md
  spec/extensions.md
  spec/formats/vector.md
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  spec/structure.md
Due: none

docs(spec): require llms.txt for AI/LLM integration
  CLAUDE.md
  context/shared/adr/0052-llms-txt-requirement.md
  spec/README.md
  spec/ai-integration.md
  spec/core.md
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
Due: validate-claude-md

fix(docs): correct ADR-0052 rule descriptions and portolan-nl URL
  context/shared/adr/0052-llms-txt-requirement.md
Due: validate-claude-md

docs(spec): require llms.txt for AI/LLM integration (#478)
  CLAUDE.md
  context/shared/adr/0052-llms-txt-requirement.md
  spec/README.md
  spec/ai-integration.md
  spec/core.md
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
Due: validate-claude-md

docs(spec): add tabular (non-geospatial) data format specification
  spec/README.md
  spec/core.md
  spec/examples/README.md
  spec/examples/tabular-collection.json
  spec/extensions.md
  spec/formats/tabular.md
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  tests/fixtures/validation/stac/invalid-tabular-no-flag/collection.json
  tests/fixtures/validation/stac/valid-tabular/collection.json
Due: none

fix(spec): align tabular spec with implementation reality
  context/shared/adr/0047-non-geo-tabular-data-support.md
  portolan_cli/dataset.py
  spec/core.md
  spec/examples/tabular-collection.json
  spec/formats/tabular.md
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  tests/fixtures/validation/stac/invalid-tabular-no-flag/collection.json
  tests/fixtures/validation/stac/valid-tabular/collection.json
  tests/unit/test_tabular_support.py
Due: validate-claude-md, mypy, fast-tests, import-linter

docs(spec): add tabular (non-geospatial) data format specification (#480)
  context/shared/adr/0047-non-geo-tabular-data-support.md
  portolan_cli/dataset.py
  spec/README.md
  spec/core.md
  spec/examples/README.md
  spec/examples/tabular-collection.json
  spec/extensions.md
  spec/formats/tabular.md
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  tests/fixtures/validation/stac/invalid-tabular-no-flag/collection.json
  tests/fixtures/validation/stac/valid-tabular/collection.json
  tests/unit/test_tabular_support.py
Due: validate-claude-md, mypy, fast-tests, import-linter

docs(rules): decompose CLAUDE.md into path-scoped .claude/rules
  .claude/rules/architecture.md
  .claude/rules/ci-and-release.md
  .claude/rules/cli-and-output.md
  .claude/rules/conversion-and-visualization.md
  .claude/rules/documentation.md
  .claude/rules/python.md
  .claude/rules/scan-check.md
  .claude/rules/stac-assets.md
  .claude/rules/sync.md
  .claude/rules/testing.md
  CLAUDE.md
Due: validate-claude-md

docs(rules): decompose CLAUDE.md into path-scoped .claude/rules (#486)
  .claude/rules/architecture.md
  .claude/rules/ci-and-release.md
  .claude/rules/cli-and-output.md
  .claude/rules/conversion-and-visualization.md
  .claude/rules/documentation.md
  .claude/rules/python.md
  .claude/rules/scan-check.md
  .claude/rules/stac-assets.md
  .claude/rules/sync.md
  .claude/rules/testing.md
  CLAUDE.md
Due: validate-claude-md

feat(extract): extract styles from WMS/WFS and ESRI REST endpoints (#490)
  docs/guides/extract-arcgis.md
  docs/guides/extract-wfs.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/converters/__init__.py
  portolan_cli/extract/common/converters/base.py
  portolan_cli/extract/common/converters/esri.py
  portolan_cli/extract/common/converters/sld.py
  portolan_cli/extract/common/styles.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/fixtures/styles/esri_classbreaks.json
  tests/fixtures/styles/esri_uniquevalue.json
  tests/fixtures/styles/sld_categorical.xml
  tests/fixtures/styles/sld_simple_point.xml
  tests/unit/extract/common/converters/__init__.py
  tests/unit/extract/common/converters/test_base.py
  tests/unit/extract/common/converters/test_esri.py
  tests/unit/extract/common/converters/test_sld.py
  tests/unit/extract/common/test_styles.py
Due: mypy, fast-tests, import-linter

fix(extract): correct style extraction issues from adversarial review
  docs/guides/extract-arcgis.md
  docs/guides/extract-wfs.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/common/converters/__init__.py
  portolan_cli/extract/common/converters/base.py
  portolan_cli/extract/common/converters/sld.py
  portolan_cli/extract/common/styles.py
  portolan_cli/extract/wfs/orchestrator.py
  portolan_cli/style.py
  tests/unit/extract/common/converters/test_base.py
  tests/unit/extract/common/converters/test_sld.py
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

fix(extract): handle per-rule opacity in SLD categorical styles
  portolan_cli/extract/common/converters/base.py
  portolan_cli/extract/common/converters/sld.py
  tests/unit/extract/common/converters/test_base.py
  tests/unit/extract/common/converters/test_esri.py
  tests/unit/extract/common/converters/test_sld.py
  tests/unit/extract/common/test_styles.py
Due: mypy, fast-tests, import-linter

fix(security): use defusedxml for SLD parsing
  portolan_cli/extract/common/converters/sld.py
Due: mypy, fast-tests, import-linter

fix(security): guard Element import with TYPE_CHECKING for Bandit B405
  portolan_cli/extract/common/converters/sld.py
Due: mypy, fast-tests, import-linter

fix(extract): register extracted styles as STAC assets
  docs/guides/extract-arcgis.md
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/wfs/orchestrator.py
Due: mypy, fast-tests, import-linter

fix(extract): preserve per-rule stroke, size, and width in categorical SLD styles
  portolan_cli/extract/common/converters/base.py
  portolan_cli/extract/common/converters/sld.py
Due: mypy, fast-tests, import-linter

feat(extract): TextSymbolizer, legend extraction, and default style naming
  portolan_cli/extract/common/converters/__init__.py
  portolan_cli/extract/common/converters/base.py
  portolan_cli/extract/common/converters/sld.py
  portolan_cli/extract/common/styles.py
  portolan_cli/extract/wfs/orchestrator.py
  portolan_cli/style.py
  tests/unit/extract/common/converters/test_base.py
  tests/unit/extract/common/converters/test_sld.py
  tests/unit/extract/common/test_styles.py
  tests/unit/test_style.py
Due: mypy, fast-tests, import-linter

fix(extract): use explicit is-not-None checks for XML element fallbacks
  portolan_cli/extract/common/converters/sld.py
Due: mypy, fast-tests, import-linter

feat(thumbnail): generate thumbnails using extracted Mapbox GL styles (#495)
  portolan_cli/convert.py
  portolan_cli/pmtiles.py
  portolan_cli/thumbnail.py
  portolan_cli/thumbnail_style.py
  tests/unit/test_thumbnail_style.py
Due: mypy, fast-tests, import-linter

fix(check): scope schema-resolution tolerance to extension schemas only
  portolan_cli/metadata/scan.py
  portolan_cli/validation/stac_rules.py
  tests/integration/test_metadata_scan_unification.py
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

fix(check): tolerate remote/extension assets and unknown STAC extensions (#460)
  portolan_cli/metadata/scan.py
  portolan_cli/validation/stac_rules.py
  tests/integration/test_metadata_scan_unification.py
  tests/unit/validation/test_stac_rules.py
Due: mypy, fast-tests, import-linter

fix(add-external): ADR-0030 input validation and overwrite protection
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/external.py
  tests/unit/test_add_external.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(tests): set matplotlib Agg backend for headless CI
  tests/conftest.py
Due: mypy, fast-tests, import-linter

feat(stac): require human-readable titles and descriptions (#502)
  CLAUDE.md
  context/shared/adr/0038-metadata-yaml-enrichment.md
  context/shared/adr/0053-mandatory-human-readable-titles.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/external.py
  portolan_cli/humanize.py
  portolan_cli/metadata/fix.py
  portolan_cli/metadata_yaml.py
  portolan_cli/stac.py
  portolan_cli/validation/runner.py
  portolan_cli/validation/stac_rules.py
  tests/benchmark/test_validation_benchmark.py
  tests/integration/test_check_command.py
  tests/integration/test_mandatory_titles_add.py
  tests/unit/test_cli_init.py
  tests/unit/test_humanize.py
  tests/unit/test_mandatory_titles.py
  tests/unit/test_validation_runner.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

test: add titles to pre-existing catalog fixtures for #502 rule
  tests/integration/test_cli_json.py
  tests/integration/test_metadata_scan_unification.py
Due: mypy, fast-tests, import-linter

fix(stac): harden link-title traversal and accept blank metadata overrides (#502)
  portolan_cli/catalog.py
  portolan_cli/metadata_yaml.py
  tests/unit/test_mandatory_titles.py
Due: mypy, fast-tests, import-linter

fix(extract): enforce WFS timeout and show error details inline
  .menard/links.toml
  portolan_cli/cli.py
  portolan_cli/extract/arcgis/orchestrator.py
  portolan_cli/extract/wfs/orchestrator.py
  tests/unit/extract/wfs/test_orchestrator.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(stac): read/write STAC JSON as UTF-8 for accented titles on Windows (#502)
  portolan_cli/catalog.py
  portolan_cli/metadata/fix.py
  tests/unit/test_mandatory_titles.py
Due: mypy, fast-tests, import-linter
