Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

validate-claude-md:
  name: validate CLAUDE.md references
  entry: uv run python scripts/validate_claude_md.py
  language: system
  pass_filenames: false

validate-cli-docs:
  name: validate CLI docs match source
  entry: uv run python scripts/validate_cli_docs.py
  language: system
  pass_filenames: false

validate-skill-md:
  name: validate SKILL.md structure
  entry: uv run python scripts/validate_skill_md.py
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - portolan_cli
  pass_filenames: false

fast-tests:
  name: fast tests
  entry: uv run pytest
  language: system
  args:
  - tests/
  - -m
  - unit
  - --timeout=30
  - -q
  pass_filenames: false

import-linter:
  name: architecture rules
  entry: uv run lint-imports
  language: system
  pass_filenames: false

test(push): add S3 round-trip tests for single-collection intermediates and --force refresh
  portolan_cli/push.py
  tests/integration/test_s3_moto.py
Due: mypy, fast-tests, import-linter

fix(push): upload intermediate catalogs and refresh metadata on --force (#496, #547, #552) (#553)
  portolan_cli/catalog.py
  portolan_cli/push.py
  tests/integration/test_s3_moto.py
  tests/unit/test_nested_catalog_inference.py
  tests/unit/test_push.py
  tests/unit/test_push_intermediate_catalogs.py
Due: mypy, fast-tests, import-linter

docs: remove state.json from structure.md and core.md spec (#556)
  spec/core.md
  spec/structure.md
Due: none

docs: reword .portolan/ prose from "state" to "configuration" (#583)
  spec/core.md
  spec/structure.md
Due: none

spec: remove state.json from structure.md and core.md — deleted from code long ago (#583)
  spec/core.md
  spec/structure.md
Due: none

docs(spec): document code-enforced rules missing from rules.yaml (#562)
  spec/core.md
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  tests/spec_compliance/test_rules_coverage.py
Due: mypy, fast-tests, import-linter

fix(spec): add Temporal Metadata section so RULE-0120 reference resolves (#587)
  spec/core.md
Due: none

feat: introduce SemVer spec version with machine-readable home (#566)
  portolan_cli/cli.py
  portolan_cli/constants.py
  spec/README.md
  spec/schema/README.md
  spec/schema/catalog-versions.schema.json
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  spec/schema/spec-version.json
  spec/schema/versions.schema.json
  tests/spec_compliance/test_spec_version.py
  tests/unit/test_cli_check.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: disambiguate check spec_version key and cover all scopes (#584)
  portolan_cli/cli.py
  spec/README.md
  tests/spec_compliance/test_spec_version.py
  tests/unit/test_cli_check.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: remove dead Catalog.STAC_VERSION constant (#585)
  portolan_cli/catalog.py
Due: mypy, fast-tests, import-linter

feat: standardize on STAC 1.1.0 everywhere; default license 'other' (#568)
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/external.py
  portolan_cli/extract/arcgis/imageserver/metadata.py
  portolan_cli/metadata_yaml.py
  portolan_cli/stac.py
  spec/core.md
  spec/examples/tabular-collection.json
  spec/formats/tabular.md
  spec/schema/README.md
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/structure.md
  tests/spec_compliance/test_stac_version_1_1_0.py
  tests/unit/extract/arcgis/imageserver/test_metadata.py
  tests/unit/test_metadata_yaml.py
  tests/unit/test_stac.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

spec: rules.yaml is missing rules the CLI already enforces at ERROR severity (titles, bbox, partition, provisional datetime) (#587)
  spec/core.md
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  tests/spec_compliance/test_rules_coverage.py
Due: mypy, fast-tests, import-linter

spec: introduce SemVer spec version with a machine-readable home (#584)
  portolan_cli/cli.py
  portolan_cli/constants.py
  spec/README.md
  spec/schema/README.md
  spec/schema/catalog-versions.schema.json
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  spec/schema/spec-version.json
  spec/schema/versions.schema.json
  tests/spec_compliance/test_spec_version.py
  tests/unit/test_cli_check.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

spec/code: standardize on STAC 1.1.0 everywhere (schemas, docs, license default) (#585)
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/external.py
  portolan_cli/extract/arcgis/imageserver/metadata.py
  portolan_cli/metadata_yaml.py
  portolan_cli/stac.py
  spec/core.md
  spec/examples/tabular-collection.json
  spec/formats/tabular.md
  spec/schema/README.md
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/structure.md
  tests/spec_compliance/test_stac_version_1_1_0.py
  tests/unit/extract/arcgis/imageserver/test_metadata.py
  tests/unit/test_metadata_yaml.py
  tests/unit/test_stac.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor: reduce pmtiles link/check complexity to satisfy xenon (#586)
  portolan_cli/metadata/fix.py
  portolan_cli/pmtiles.py
  portolan_cli/validation/rules.py
Due: mypy, fast-tests, import-linter

fix: enforce per-asset pmtiles links and extension declaration (#586)
  portolan_cli/metadata/fix.py
  portolan_cli/pmtiles.py
  portolan_cli/validation/rules.py
  tests/unit/test_validation_rules.py
Due: mypy, fast-tests, import-linter

feat: emit rel=pmtiles collection link via web-map-links extension (#569)
  portolan_cli/cli.py
  portolan_cli/metadata/fix.py
  portolan_cli/pmtiles.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  spec/formats/vector.md
  spec/schema/rules.yaml
  tests/unit/test_pmtiles.py
  tests/unit/test_validation_rules.py
  tests/unit/test_validation_runner.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix: map RULE-0061 to pmtiles_link code_rule for spec parity (#586)
  spec/schema/rules.yaml
Due: none

spec(access): state the maturity path — incubate in Portolan, propose to STAC once proven
  spec/extensions/access.md
Due: none

feat: emit rel=pmtiles collection link via the web-map-links extension (#586)
  portolan_cli/cli.py
  portolan_cli/metadata/fix.py
  portolan_cli/pmtiles.py
  portolan_cli/validation/rules.py
  portolan_cli/validation/runner.py
  spec/formats/vector.md
  spec/schema/rules.yaml
  tests/unit/test_pmtiles.py
  tests/unit/test_validation_rules.py
  tests/unit/test_validation_runner.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs: sweep "dataset" terminology out of spec, docs, and CLI help (#560)
  docs/guides/extract-arcgis.md
  docs/guides/iceberg.md
  docs/guides/metadata-defaults.md
  docs/guides/nested-catalogs.md
  docs/reference/configuration.md
  portolan_cli/cli.py
  spec/ai-integration.md
  spec/best-practices.md
  spec/examples/tabular-collection.json
  spec/extensions.md
  spec/formats/pointcloud.md
  spec/formats/raster.md
  spec/formats/tabular.md
  spec/formats/vector.md
  spec/schema/rules.yaml
  spec/structure.md
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor: decompose add.py into focused modules (checksums, discovery, query, remove)
  .claude/rules/architecture.md
  .claude/rules/conversion-and-visualization.md
  .claude/rules/stac-assets.md
  context/shared/plans/dataset-split-and-terminology-sweep.md
  portolan_cli/add.py
  portolan_cli/backends/json_file.py
  portolan_cli/checksums.py
  portolan_cli/cli.py
  portolan_cli/collection.py
  portolan_cli/collection_id.py
  portolan_cli/discovery.py
  portolan_cli/pull.py
  portolan_cli/query.py
  portolan_cli/remove.py
  portolan_cli/status.py
  pyproject.toml
  tests/unit/test_add_rm_hypothesis.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor: cut discovery/remove module complexity below B; fix 3D bbox reduction
  portolan_cli/add.py
  portolan_cli/collection.py
  portolan_cli/discovery.py
  portolan_cli/remove.py
  portolan_cli/versions.py
  tests/unit/test_collection_bbox_2d.py
Due: mypy, fast-tests, import-linter

arch: import-linter contracts to hold the validation seam for reis extraction (#563)
  pyproject.toml
Due: none

fix: correct 3D bbox tests, version-bump no-op, and item-scoped rm untracking
  portolan_cli/remove.py
  portolan_cli/versions.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_collection_bbox_2d.py
  tests/unit/test_remove_versions.py
  tests/unit/test_tabular_support.py
Due: mypy, fast-tests, import-linter

arch: import-linter contracts to hold the validation seam for reis extraction (#563) (#591)
  pyproject.toml
Due: none

refactor: restore reis seam by moving pure PMTiles helpers to a leaf module
  .github/workflows/ci.yml
  portolan_cli/metadata/fix.py
  portolan_cli/pmtiles.py
  portolan_cli/pmtiles_links.py
  portolan_cli/validation/rules.py
  pyproject.toml
Due: mypy, fast-tests, import-linter

fix: 3D bbox mis-sliced across extent/containment/union paths (#592)
  docs/reference/configuration.md
  portolan_cli/bbox.py
  portolan_cli/collection.py
  portolan_cli/inspect.py
  portolan_cli/item.py
  portolan_cli/metadata/validation.py
  portolan_cli/models/collection.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  tests/unit/test_bbox.py
  tests/unit/test_metadata_validation.py
Due: mypy, fast-tests, import-linter

fix: 3D bbox mis-sliced across extent/containment/union paths (#592) (#595)
  docs/reference/configuration.md
  portolan_cli/bbox.py
  portolan_cli/collection.py
  portolan_cli/inspect.py
  portolan_cli/item.py
  portolan_cli/metadata/validation.py
  portolan_cli/models/collection.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  tests/unit/test_bbox.py
  tests/unit/test_metadata_validation.py
Due: mypy, fast-tests, import-linter

refactor: restore reis seam — main is un-committable (import-linter) (#594)
  .github/workflows/ci.yml
  docs/reference/configuration.md
  portolan_cli/bbox.py
  portolan_cli/collection.py
  portolan_cli/inspect.py
  portolan_cli/item.py
  portolan_cli/metadata/fix.py
  portolan_cli/metadata/validation.py
  portolan_cli/models/collection.py
  portolan_cli/pmtiles.py
  portolan_cli/pmtiles_links.py
  portolan_cli/readme.py
  portolan_cli/stac.py
  portolan_cli/validation/rules.py
  pyproject.toml
  tests/unit/test_bbox.py
  tests/unit/test_metadata_validation.py
Due: mypy, fast-tests, import-linter

refactor: single-source the recognized-extension vocabulary (#558); drop dead .raquet (#487)
  .claude/rules/architecture.md
  CLAUDE.md
  context/shared/adr/0055-extension-registry-single-source.md
  portolan_cli/add.py
  portolan_cli/constants.py
  portolan_cli/extension_registry.py
  portolan_cli/formats.py
  portolan_cli/scan_classify.py
  pyproject.toml
  spec/extensions.md
  tests/spec_compliance/test_extensions_doc_parity.py
  tests/unit/test_asset_role_media.py
  tests/unit/test_extension_registry.py
  tests/unit/test_formats_cloud_native.py
Due: validate-claude-md, mypy, fast-tests, import-linter

refactor: single-source the recognized-extension vocabulary (#558); drop dead .raquet (#487) (#593)
  .claude/rules/architecture.md
  CLAUDE.md
  context/shared/adr/0055-extension-registry-single-source.md
  portolan_cli/add.py
  portolan_cli/constants.py
  portolan_cli/extension_registry.py
  portolan_cli/formats.py
  portolan_cli/scan_classify.py
  pyproject.toml
  spec/extensions.md
  tests/spec_compliance/test_extensions_doc_parity.py
  tests/unit/test_asset_role_media.py
  tests/unit/test_extension_registry.py
  tests/unit/test_formats_cloud_native.py
Due: validate-claude-md, mypy, fast-tests, import-linter

fix: catalog-versions.json writer conforms to its own schema (#561)
  CLAUDE.md
  portolan_cli/constants.py
  spec/README.md
  spec/schema/catalog-versions.schema.json
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  spec/schema/spec-version.json
  spec/schema/versions.schema.json
  tests/spec_compliance/test_versions_schema.py
Due: validate-claude-md, mypy, fast-tests, import-linter

test: validate spec_compliance against the shipped STAC schemas, hermetically (#557)
  .gitignore
  CLAUDE.md
  context/shared/adr/0056-hermetic-shipped-schema-validation.md
  portolan_cli/validation/_vendored/README.md
  portolan_cli/validation/_vendored/stac/1.1.0/catalog-spec/json-schema/catalog.json
  portolan_cli/validation/_vendored/stac/1.1.0/collection-spec/json-schema/collection.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/bands.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/basics.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/common.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/data-values.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/datetime.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/instrument.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/item.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/licensing.json
  portolan_cli/validation/_vendored/stac/1.1.0/item-spec/json-schema/provider.json
  portolan_cli/validation/schema_registry.py
  pyproject.toml
  scripts/refresh_stac_schemas.py
  tests/spec_compliance/conftest.py
  tests/spec_compliance/test_catalog_schema.py
  tests/spec_compliance/test_collection_schema.py
  tests/spec_compliance/test_shipped_schema_hermetic.py
  tests/spec_compliance/test_validators.py
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

fix: catalog-versions.json writer conforms to its own schema (#561) (#596)
  CLAUDE.md
  portolan_cli/constants.py
  spec/README.md
  spec/schema/catalog-versions.schema.json
  spec/schema/catalog.schema.json
  spec/schema/collection.schema.json
  spec/schema/rules.yaml
  spec/schema/spec-version.json
  spec/schema/versions.schema.json
  tests/spec_compliance/test_versions_schema.py
Due: validate-claude-md, mypy, fast-tests, import-linter

docs: reconcile spec hierarchy model with ADR-0032 (#554, #555)
  spec/core.md
  spec/schema/rules.yaml
  spec/structure.md
Due: none

fix: exclude vendored STAC schemas from codespell; harden hermetic test (#557)
  .github/workflows/ci.yml
  pyproject.toml
  tests/spec_compliance/test_shipped_schema_hermetic.py
Due: mypy, fast-tests, import-linter

docs: reconcile spec hierarchy model with ADR-0032 (#554, #555) (#598)
  spec/core.md
  spec/schema/rules.yaml
  spec/structure.md
Due: none

Path conditions:
  validate-claude-md: any of: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
  validate-cli-docs: any of: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
  validate-skill-md: any of: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
  mypy: any of: \.py$
  fast-tests: any of: \.py$
  import-linter: any of: \.py$
