Repository portolan-sdi/portolan-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

.pre-commit-config.yaml:

# Pre-commit hooks - Tier 1 CI
# See context/shared/documentation/ci.md for the full CI strategy
#
# All hooks BLOCK on failure. No warnings, no skips.
# Install: uv run pre-commit install
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow Python tags in mkdocs.yml
      - id: check-added-large-files
        args: ['--maxkb=500']
        exclude: '^tests/fixtures/(realdata|raster|vector)/.*\.(parquet|tif)$'
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.14
    hooks:
      - id: vulture
        args: [
          portolan_cli, tests, vulture_whitelist.py,
          --exclude, "portolan_cli/validation/rules.py,portolan_cli/backends/protocol.py,portolan_cli/backends/json_file.py",
        ]

  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ['--max-absolute=C', '--max-modules=B', '--max-average=A']

  - repo: local
    hooks:
      - id: validate-claude-md
        name: validate CLAUDE.md references
        entry: uv run python scripts/validate_claude_md.py
        language: system
        files: ^(CLAUDE\.md|context/shared/adr/.*\.md|context/shared/known-issues/.*\.md)$
        pass_filenames: false

      - id: validate-cli-docs
        name: validate CLI docs match source
        entry: uv run python scripts/validate_cli_docs.py
        language: system
        files: ^(portolan_cli/cli\.py|docs/\.cli-snapshot\.json)$
        pass_filenames: false

      - id: validate-skill-md
        name: validate SKILL.md structure
        entry: uv run python scripts/validate_skill_md.py
        language: system
        files: ^(SKILL\.md|portolan_cli/__init__\.py|portolan_cli/cli\.py)$
        pass_filenames: false
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [portolan_cli]
        pass_filenames: false

      - id: fast-tests
        name: fast tests
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests/, -m, unit, --timeout=30, -q]
        pass_filenames: false

      - id: import-linter
        name: architecture rules
        entry: uv run lint-imports
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.1.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

refactor(docs): remove deprecated files, add auto-update automation
  .pre-commit-config.yaml
  CLAUDE.md
  ROADMAP.md
  context/shared/archive/architecture.md.deprecated
  docs/.cli-snapshot.json
  docs/roadmap.md
  scripts/update_freshness.py
  scripts/validate_cli_docs.py
  tests/unit/test_scripts.py
Due: validate-claude-md, validate-cli-docs, mypy, fast-tests, import-linter

fix(ci): resolve docs deployment and validation complexity
  .github/workflows/docs.yml
  SKILL.md
  scripts/validate_claude_md.py
Due: validate-skill-md, mypy, fast-tests, import-linter

refactor: remove roadmap, fix import-linter trigger, fix test markers
  .pre-commit-config.yaml
  README.md
  docs/index.md
  docs/roadmap.md
  mkdocs.yml
  tests/unit/test_scripts.py
Due: mypy, fast-tests, import-linter

feat: Wave 1 documentation alignment (Phases 1-3) (#122)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  ROADMAP.md
  SKILL.md
  context/architecture.md
  context/shared/adr/0025-architecture-as-code.md
  docs/index.md
  docs/reference/cli.md
  docs/roadmap.md
  mkdocs.yml
  pyproject.toml
  scripts/generate_claude_md_sections.py
  scripts/generate_skill_md.py
  scripts/update_freshness.py
  scripts/validate_claude_md.py
  scripts/validate_skill_md.py
  tests/docs/__init__.py
  tests/docs/conftest.py
  tests/docs/test_readme_examples.py
  tests/unit/test_scripts.py
  uv.lock
Due: validate-claude-md, validate-skill-md, mypy, fast-tests, import-linter

fix(scan): add .parquet to GEO_ASSET_EXTENSIONS
  portolan_cli/scan_classify.py
  tests/unit/test_scan_classify.py
Due: mypy, fast-tests, import-linter

fix(catalog): write versions.json to root per ADR-0023
  portolan_cli/catalog.py
  tests/integration/test_init_command.py
  tests/integration/test_init_v2.py
  tests/unit/test_catalog_init.py
Due: mypy, fast-tests, import-linter

fix(catalog): write versions.json to root per ADR-0023 (#123)
  portolan_cli/catalog.py
  tests/integration/test_init_command.py
  tests/integration/test_init_v2.py
  tests/unit/test_catalog_init.py
Due: mypy, fast-tests, import-linter

fix(scan): add .parquet to GEO_ASSET_EXTENSIONS (#124)
  portolan_cli/scan_classify.py
  tests/unit/test_scan_classify.py
Due: mypy, fast-tests, import-linter

bump: version 0.4.0 → 0.4.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

bump: version 0.4.0 → 0.4.1 (#125)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(dataset): use catalog-root-relative hrefs in versions.json
  context/shared/adr/0005-versions-json-source-of-truth.md
  portolan_cli/dataset.py
  portolan_cli/models/version.py
  portolan_cli/versions.py
  tests/integration/test_push_integration.py
  tests/unit/test_dataset.py
  tests/unit/test_pull.py
  tests/unit/test_push.py
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(config): add conversion config for format handling overrides
  docs/reference/configuration.md
  mkdocs.yml
  portolan_cli/check.py
  portolan_cli/conversion_config.py
  portolan_cli/formats.py
  tests/integration/test_check_conversion_config.py
  tests/unit/test_conversion_config.py
  tests/unit/test_formats_effective_status.py
Due: mypy, fast-tests, import-linter

fix(config): address code review issues for conversion config
  .pre-commit-config.yaml
  CLAUDE.md
  context/shared/adr/0026-conversion-config-design.md
  docs/reference/configuration.md
  portolan_cli/check.py
  portolan_cli/cli.py
  portolan_cli/conversion_config.py
  portolan_cli/dataset.py
  portolan_cli/formats.py
  portolan_cli/sync.py
  tests/unit/test_conversion_config.py
  tests/unit/test_formats_effective_status.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(ci): add duplicate code detection with pylint R0801
  .github/workflows/ci.yml
  CLAUDE.md
  context/shared/documentation/ci.md
  portolan_cli/constants.py
  portolan_cli/scan.py
  portolan_cli/scan_fix.py
  pyproject.toml
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(config): add conversion config for format handling overrides (#128)
  .pre-commit-config.yaml
  CLAUDE.md
  context/shared/adr/0026-conversion-config-design.md
  docs/reference/configuration.md
  mkdocs.yml
  portolan_cli/check.py
  portolan_cli/cli.py
  portolan_cli/conversion_config.py
  portolan_cli/dataset.py
  portolan_cli/formats.py
  portolan_cli/sync.py
  tests/integration/test_check_conversion_config.py
  tests/unit/test_conversion_config.py
  tests/unit/test_formats_effective_status.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(ci): add duplicate code detection with pylint R0801 (#130)
  .github/workflows/ci.yml
  CLAUDE.md
  context/shared/documentation/ci.md
  portolan_cli/constants.py
  portolan_cli/scan.py
  portolan_cli/scan_fix.py
  pyproject.toml
  uv.lock
Due: validate-claude-md, mypy, fast-tests, import-linter

refactor(catalog): unify config.json and config.yaml as sentinel (ADR-0027)
  .gitignore
  CLAUDE.md
  context/shared/adr/0023-stac-structure-separation.md
  context/shared/adr/0027-unified-config-yaml-sentinel.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/errors.py
  tests/benchmark/test_validation_benchmark.py
  tests/integration/test_cli_json.py
  tests/integration/test_init_command.py
  tests/integration/test_init_v2.py
  tests/integration/test_push_integration.py
  tests/integration/test_sync_integration.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_cli_check.py
  tests/unit/test_cli_init.py
  tests/unit/test_state_detection.py
  tests/unit/test_sync.py
  tests/unit/test_validation_runner.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

refactor(catalog): unify config.json and config.yaml as sentinel (ADR-0027) (#131)
  .gitignore
  CLAUDE.md
  context/shared/adr/0023-stac-structure-separation.md
  context/shared/adr/0027-unified-config-yaml-sentinel.md
  portolan_cli/catalog.py
  portolan_cli/cli.py
  portolan_cli/errors.py
  tests/benchmark/test_validation_benchmark.py
  tests/integration/test_cli_json.py
  tests/integration/test_init_command.py
  tests/integration/test_init_v2.py
  tests/integration/test_push_integration.py
  tests/integration/test_sync_integration.py
  tests/unit/test_catalog_model_init.py
  tests/unit/test_cli_check.py
  tests/unit/test_cli_init.py
  tests/unit/test_state_detection.py
  tests/unit/test_sync.py
  tests/unit/test_validation_runner.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

fix(dataset): validate item_id against path traversal
  portolan_cli/dataset.py
  tests/unit/test_dataset.py
Due: mypy, fast-tests, import-linter

style: fix ruff formatting in dataset.py
  portolan_cli/dataset.py
Due: mypy, fast-tests, import-linter

fix(dataset): validate collection_id against path traversal
  portolan_cli/dataset.py
  tests/unit/test_dataset.py
Due: mypy, fast-tests, import-linter

fix(versions): use catalog-root-relative hrefs in versions.json (#126)
  context/shared/adr/0005-versions-json-source-of-truth.md
  portolan_cli/dataset.py
  portolan_cli/models/version.py
  portolan_cli/versions.py
  tests/integration/test_push_integration.py
  tests/unit/test_dataset.py
  tests/unit/test_pull.py
  tests/unit/test_push.py
Due: validate-claude-md, mypy, fast-tests, import-linter

feat(validation): add collection ID validation and auto-fix
  portolan_cli/collection_id.py
  portolan_cli/dataset.py
  portolan_cli/scan.py
  portolan_cli/scan_fix.py
  tests/unit/test_collection_id.py
  tests/unit/test_scan.py
Due: mypy, fast-tests, import-linter

fix(validation): address additional CodeRabbit review issues
  portolan_cli/dataset.py
  portolan_cli/scan_fix.py
Due: mypy, fast-tests, import-linter

fix(validation): address code review issues for collection ID validation
  portolan_cli/collection_id.py
  portolan_cli/dataset.py
  portolan_cli/scan_fix.py
  portolan_cli/scan_output.py
  tests/unit/test_collection_id.py
  tests/unit/test_scan.py
Due: mypy, fast-tests, import-linter

fix(validation): preserve path-segment error messages and reduce test complexity
  portolan_cli/dataset.py
  tests/unit/test_scan.py
Due: mypy, fast-tests, import-linter

fix(scan): handle case-only directory renames on Windows/macOS
  portolan_cli/scan_fix.py
Due: mypy, fast-tests, import-linter

fix: improve code quality from CodeRabbit review
  portolan_cli/collection_id.py
  portolan_cli/scan.py
Due: mypy, fast-tests, import-linter

feat(validation): add collection ID validation and auto-fix (#132)
  portolan_cli/collection_id.py
  portolan_cli/dataset.py
  portolan_cli/scan.py
  portolan_cli/scan_fix.py
  portolan_cli/scan_output.py
  tests/unit/test_collection_id.py
  tests/unit/test_scan.py
Due: mypy, fast-tests, import-linter

feat(cli): promote dataset list to top-level list command
  SKILL.md
  portolan_cli/cli.py
  tests/unit/test_cli_dataset.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): add info and status commands per ADR-0022
  SKILL.md
  portolan_cli/cli.py
  portolan_cli/inspect.py
  portolan_cli/status.py
  tests/unit/test_cli_info.py
  tests/unit/test_inspect.py
  tests/unit/test_status.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(assets): track ALL files in item directories, not just geo files (#133)
  CLAUDE.md
  context/shared/adr/0028-all-files-as-assets.md
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/status.py
  tests/unit/test_config.py
  tests/unit/test_dataset.py
  tests/unit/test_status.py
Due: validate-claude-md, mypy, fast-tests, import-linter

test(assets): add integration and hypothesis tests for multi-asset tracking
  portolan_cli/status.py
  tests/integration/test_dataset_integration.py
  tests/unit/test_add_rm_hypothesis.py
Due: mypy, fast-tests, import-linter

fix(assets): correct asset key format and add code review fixes
  SKILL.md
  context/shared/adr/0028-all-files-as-assets.md
  portolan_cli/cli.py
  portolan_cli/dataset.py
  portolan_cli/inspect.py
  portolan_cli/status.py
  tests/unit/test_cli_info.py
  tests/unit/test_dataset.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(assets): track ALL files in item directories, not just geo files (#135)
  CLAUDE.md
  SKILL.md
  context/shared/adr/0028-all-files-as-assets.md
  portolan_cli/cli.py
  portolan_cli/config.py
  portolan_cli/dataset.py
  portolan_cli/inspect.py
  portolan_cli/status.py
  tests/integration/test_dataset_integration.py
  tests/unit/test_add_rm_hypothesis.py
  tests/unit/test_cli_dataset.py
  tests/unit/test_cli_info.py
  tests/unit/test_config.py
  tests/unit/test_dataset.py
  tests/unit/test_inspect.py
  tests/unit/test_status.py
Due: validate-claude-md, validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): promote dataset list to top-level list command
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

feat(cli): add info and status commands per ADR-0022
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter

docs(cli): clarify item ID derivation in add command docstring
  portolan_cli/cli.py
Due: validate-cli-docs, validate-skill-md, mypy, fast-tests, import-linter
